{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/19b520e4-39a7-4fac-b1da-d940f2d39a38/resourceGroups/hydra16259/providers/Microsoft.Cache/Redis/hydracache-1?api-version=2015-08-01",
=======
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/hydra13012/providers/Microsoft.Cache/Redis/hydracache1?api-version=2016-04-01",
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/19b520e4-39a7-4fac-b1da-d940f2d39a38/resourceGroups/hydra16259/providers/Microsoft.Cache/Redis/hydracache-1\",\r\n  \"location\": \"North Central US\",\r\n  \"name\": \"hydracache-1\",\r\n  \"type\": \"Microsoft.Cache/Redis\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"redisVersion\": \"3.0\",\r\n    \"sku\": {\r\n      \"name\": \"Basic\",\r\n      \"family\": \"C\",\r\n      \"capacity\": 0\r\n    },\r\n    \"enableNonSslPort\": false,\r\n    \"redisConfiguration\": {\r\n      \"maxclients\": \"256\",\r\n      \"maxmemory-reserved\": \"2\",\r\n      \"maxmemory-delta\": \"2\"\r\n    },\r\n    \"accessKeys\": null,\r\n    \"hostName\": \"hydracache-1.cache.icbbvt.windows-int.net\",\r\n    \"port\": 6379,\r\n    \"sslPort\": 6380\r\n  }\r\n}",
      "ResponseHeaders": {
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/hydra13012/providers/Microsoft.Cache/Redis/hydracache1\",\r\n  \"location\": \"North Central US\",\r\n  \"name\": \"hydracache1\",\r\n  \"type\": \"Microsoft.Cache/Redis\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"redisVersion\": \"3.0\",\r\n    \"sku\": {\r\n      \"name\": \"Basic\",\r\n      \"family\": \"C\",\r\n      \"capacity\": 0\r\n    },\r\n    \"enableNonSslPort\": false,\r\n    \"redisConfiguration\": {\r\n      \"maxclients\": \"256\",\r\n      \"maxmemory-reserved\": \"2\",\r\n      \"maxmemory-delta\": \"2\"\r\n    },\r\n    \"accessKeys\": null,\r\n    \"hostName\": \"hydracache1.redis.cache.windows.net\",\r\n    \"port\": 6379,\r\n    \"sslPort\": 6380\r\n  }\r\n}",
      "ResponseHeaders": {
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Tue, 18 Oct 2016 07:37:54 GMT"
        ],
        "Pragma": [
          "no-cache"
        ],
        "Transfer-Encoding": [
          "chunked"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "Vary": [
          "Accept-Encoding"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "49e4fab6-c863-4ba9-a6a0-5a14f2705291"
        ],
        "x-rp-server-mvid": [
          "07b2bbeb-fdac-487b-ada5-44fe2bacf2b2"
=======
          "3ee80db2-2fb7-48b7-8d46-035e53c58cbf"
        ],
        "x-rp-server-mvid": [
          "a10738d6-1cb8-4b83-9fbf-9de75c3d37b0"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "14998"
        ],
        "x-ms-correlation-request-id": [
          "b0b75472-5cb8-4c9d-be87-b3513ff1b022"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20151014T014556Z:b0b75472-5cb8-4c9d-be87-b3513ff1b022"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Wed, 14 Oct 2015 01:45:55 GMT"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
=======
          "14997"
        ],
        "x-ms-correlation-request-id": [
          "5ecf3564-c745-46a6-b6cc-4aebae1598d7"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20161018T073754Z:5ecf3564-c745-46a6-b6cc-4aebae1598d7"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
<<<<<<< HEAD
    "SubscriptionId": "19b520e4-39a7-4fac-b1da-d940f2d39a38"
=======
    "SubscriptionId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
  }
}