{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/19b520e4-39a7-4fac-b1da-d940f2d39a38/resourceGroups/hydra16259/providers/Microsoft.Cache/Redis/hydracache-1/listKeys?api-version=2015-08-01",
=======
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/hydra13012/providers/Microsoft.Cache/Redis/hydracache1/listKeys?api-version=2016-04-01",
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"primaryKey\": \"Td/0QLndJIqGflXAG/L75uO4S8NtVQrOCGKD8KFcH4A=\",\r\n  \"secondaryKey\": \"JyvU/4WQK2WDNcpfqAsf1B2K1pXFjjhHuyqBbCfwkR8=\"\r\n}",
=======
      "ResponseBody": "{\r\n  \"primaryKey\": \"KTT0Dv9QDXTQZQoAoHG9EmVF8x9pzdacDvkOdbKvS+U=\",\r\n  \"secondaryKey\": \"qDTqBnvT8izZ9j/bii51494VH9Y4jBjpVMhsjgJWlY4=\"\r\n}",
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
<<<<<<< HEAD
          "ebee2159-f324-4912-b867-35a2c842a017"
        ],
        "x-rp-server-mvid": [
          "07b2bbeb-fdac-487b-ada5-44fe2bacf2b2"
=======
          "2b66af89-8678-47cb-83e8-c6cbd94245c4"
        ],
        "x-rp-server-mvid": [
          "a10738d6-1cb8-4b83-9fbf-9de75c3d37b0"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "5204e076-7bb9-4691-bce9-94fb9ce27853"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20151014T014600Z:5204e076-7bb9-4691-bce9-94fb9ce27853"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Wed, 14 Oct 2015 01:45:59 GMT"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
=======
          "25a7fff6-d837-4d17-b41a-255aae0cd736"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20161018T073754Z:25a7fff6-d837-4d17-b41a-255aae0cd736"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
<<<<<<< HEAD
    "SubscriptionId": "19b520e4-39a7-4fac-b1da-d940f2d39a38"
=======
    "SubscriptionId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
  }
}