{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/19b520e4-39a7-4fac-b1da-d940f2d39a38/resourceGroups/hydra16259/providers/Microsoft.Cache/Redis/?api-version=2015-08-01",
=======
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/hydra13012/providers/Microsoft.Cache/Redis/?api-version=2016-04-01",
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/19b520e4-39a7-4fac-b1da-d940f2d39a38/resourceGroups/hydra16259/providers/Microsoft.Cache/Redis/hydracache-1\",\r\n      \"location\": \"North Central US\",\r\n      \"name\": \"hydracache-1\",\r\n      \"type\": \"Microsoft.Cache/Redis\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"redisVersion\": \"3.0\",\r\n        \"sku\": {\r\n          \"name\": \"Basic\",\r\n          \"family\": \"C\",\r\n          \"capacity\": 0\r\n        },\r\n        \"enableNonSslPort\": false,\r\n        \"redisConfiguration\": {\r\n          \"maxclients\": \"256\",\r\n          \"maxmemory-reserved\": \"2\",\r\n          \"maxmemory-delta\": \"2\"\r\n        },\r\n        \"accessKeys\": null,\r\n        \"hostName\": \"hydracache-1.cache.icbbvt.windows-int.net\",\r\n        \"port\": 6379,\r\n        \"sslPort\": 6380\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
=======
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/hydra13012/providers/Microsoft.Cache/Redis/hydracache1\",\r\n      \"location\": \"North Central US\",\r\n      \"name\": \"hydracache1\",\r\n      \"type\": \"Microsoft.Cache/Redis\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"redisVersion\": \"3.0\",\r\n        \"sku\": {\r\n          \"name\": \"Basic\",\r\n          \"family\": \"C\",\r\n          \"capacity\": 0\r\n        },\r\n        \"enableNonSslPort\": false,\r\n        \"redisConfiguration\": {\r\n          \"maxclients\": \"256\",\r\n          \"maxmemory-reserved\": \"2\",\r\n          \"maxmemory-delta\": \"2\"\r\n        },\r\n        \"accessKeys\": null,\r\n        \"hostName\": \"hydracache1.redis.cache.windows.net\",\r\n        \"port\": 6379,\r\n        \"sslPort\": 6380\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Tue, 18 Oct 2016 07:37:53 GMT"
        ],
        "Pragma": [
          "no-cache"
        ],
        "Transfer-Encoding": [
          "chunked"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "Vary": [
          "Accept-Encoding"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "6ae1b9e3-6537-4ce5-a0db-ae3d1cea70a6"
        ],
        "x-rp-server-mvid": [
          "07b2bbeb-fdac-487b-ada5-44fe2bacf2b2"
=======
          "e665c34f-5ed8-4e5a-93e1-83d8433b958c"
        ],
        "x-rp-server-mvid": [
          "a10738d6-1cb8-4b83-9fbf-9de75c3d37b0"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "14933"
        ],
        "x-ms-correlation-request-id": [
          "0e73f0dd-826d-4dc1-8c8d-561984175a25"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20151014T014559Z:0e73f0dd-826d-4dc1-8c8d-561984175a25"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Wed, 14 Oct 2015 01:45:59 GMT"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
=======
          "14988"
        ],
        "x-ms-correlation-request-id": [
          "0d9fe79f-9a11-47df-b3e4-a224d6670c61"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20161018T073754Z:0d9fe79f-9a11-47df-b3e4-a224d6670c61"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
<<<<<<< HEAD
    "SubscriptionId": "19b520e4-39a7-4fac-b1da-d940f2d39a38"
=======
    "SubscriptionId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
  }
}