{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/61953354-5115-4340-bf80-f4ccd1cb213e/locations",
=======
      "RequestUri": "/20deba4c-35db-480a-baac-489e2c695697/locations",
>>>>>>> origin/AutoRest
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "<Locations xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Location>\r\n    <Name>Northwest US</Name>\r\n    <DisplayName>Northwest US</DisplayName>\r\n    <AvailableServices>\r\n      <AvailableService>Compute</AvailableService>\r\n    </AvailableServices>\r\n    <ComputeCapabilities>\r\n      <WebWorkerRoleSizes>\r\n        <RoleSize>A5</RoleSize>\r\n        <RoleSize>A6</RoleSize>\r\n        <RoleSize>A7</RoleSize>\r\n        <RoleSize>ExtraLarge</RoleSize>\r\n        <RoleSize>ExtraSmall</RoleSize>\r\n        <RoleSize>Large</RoleSize>\r\n        <RoleSize>Medium</RoleSize>\r\n        <RoleSize>Small</RoleSize>\r\n        <RoleSize>Standard_D1</RoleSize>\r\n        <RoleSize>Standard_D11</RoleSize>\r\n        <RoleSize>Standard_D12</RoleSize>\r\n        <RoleSize>Standard_D13</RoleSize>\r\n        <RoleSize>Standard_D14</RoleSize>\r\n        <RoleSize>Standard_D2</RoleSize>\r\n        <RoleSize>Standard_D3</RoleSize>\r\n        <RoleSize>Standard_D4</RoleSize>\r\n        <RoleSize>Standard_D5</RoleSize>\r\n      </WebWorkerRoleSizes>\r\n      <VirtualMachinesRoleSizes />\r\n    </ComputeCapabilities>\r\n  </Location>\r\n  <Location>\r\n    <Name>North Central US</Name>\r\n    <DisplayName>North Central US</DisplayName>\r\n    <AvailableServices>\r\n      <AvailableService>Compute</AvailableService>\r\n      <AvailableService>Storage</AvailableService>\r\n      <AvailableService>PersistentVMRole</AvailableService>\r\n      <AvailableService>HighMemory</AvailableService>\r\n    </AvailableServices>\r\n    <ComputeCapabilities>\r\n      <WebWorkerRoleSizes>\r\n [...]
    {
      "RequestUri": "/subscriptions/61953354-5115-4340-bf80-f4ccd1cb213e/resourcegroups/StreamAnalytics8979/providers/Microsoft.StreamAnalytics/streamingjobs?$expand=&api-version=2015-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/61953354-5115-4340-bf80-f4ccd1cb213e/resourceGroups/StreamAnalytics8979/providers/Microsoft.StreamAnalytics/streamingjobs/MyStreamingJobSubmittedBySDK6283\",\r\n      \"name\": \"MyStreamingJobSubmittedBySDK6283\",\r\n      \"type\": \"Microsoft.StreamAnalytics/streamingjobs\",\r\n      \"location\": \"West US\",\r\n      \"properties\": {\r\n        \"sku\": {\r\n          \"name\": \"Standard\"\r\n        },\r\n        \"jobId\": \"1565f8f8-d6fb-4081-a7d2-491abca7fcb3\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"jobState\": \"Created\",\r\n        \"eventsOutOfOrderPolicy\": \"Adjust\",\r\n        \"eventsOutOfOrderMaxDelayInSeconds\": 0,\r\n        \"eventsLateArrivalMaxDelayInSeconds\": 5,\r\n        \"dataLocale\": \"en-US\",\r\n        \"createdDate\": \"2015-12-22T01:25:30.217Z\",\r\n        \"etag\": \"bf5f63a1-65fe-4155-b70e-5d6c28eec020\"\r\n      }\r\n    }\r\n  ],\r\n  \"nextLink\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14948"
        ]
<<<<<<< HEAD
          "CENTRALUS:20151125T001229Z:ea445c97-f1e3-4191-8b14-361b9a205e01"
=======
          "9a5146e9-b81e-44e1-abb0-f9c6ea49e03d"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1154"
        ],
        "x-ms-correlation-request-id": [
          "09f123d7-947f-4a1e-baa6-60128320ef82"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20150506T010624Z:09f123d7-947f-4a1e-baa6-60128320ef82"
>>>>>>> origin/AutoRest
=======
          "CENTRALUS:20151222T012530Z:e8540e5f-b947-4960-b919-a0a1bc196491"
>>>>>>> Azure/master
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Cache-Control": [
          "no-store, no-cache"
        ],
        "Date": [
<<<<<<< HEAD
<<<<<<< HEAD
          "Wed, 25 Nov 2015 00:12:29 GMT"
=======
          "Wed, 06 May 2015 01:06:24 GMT"
>>>>>>> origin/AutoRest
=======
          "Tue, 22 Dec 2015 01:25:30 GMT"
>>>>>>> Azure/master
        ],
        "Server": [
          "Microsoft-IIS/8.5"
        ],
        "X-Powered-By": [
          "ASP.NET"
        ]
      },
      "StatusCode": 200
    },
    {
<<<<<<< HEAD
<<<<<<< HEAD
      "RequestUri": "/subscriptions/61953354-5115-4340-bf80-f4ccd1cb213e/resourcegroups/StreamAnalytics1413/providers/Microsoft.StreamAnalytics/streamingjobs/MyStreamingJobSubmittedBySDK6232/start?api-version=2015-09-01",
=======
      "RequestUri": "/subscriptions/61953354-5115-4340-bf80-f4ccd1cb213e/resourcegroups/StreamAnalytics8979/providers/Microsoft.StreamAnalytics/streamingjobs/MyStreamingJobSubmittedBySDK6283/start?api-version=2015-09-01",
>>>>>>> Azure/master
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"outputStartMode\": \"LastOutputEventTime\"\r\n}",
=======
      "RequestUri": "/subscriptions/20deba4c-35db-480a-baac-489e2c695697/resourcegroups/StreamAnalytics750/providers/Microsoft.StreamAnalytics/streamingjobs/MyStreamingJobSubmittedBySDK4024/start?api-version=2015-04-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"outputStartMode\": \"CustomTime\",\r\n  \"outputStartTime\": \"2015-05-05T18:06:24.7051989-07:00\"\r\n}",
>>>>>>> origin/AutoRest
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
<<<<<<< HEAD
<<<<<<< HEAD
          "9e9a01f4-73fa-431c-bb65-c1d5e8c8e636"
=======
          "1e5a94b5-1184-4d3b-993c-a6afecb0951c"
>>>>>>> origin/AutoRest
=======
          "91c573fa-f5e6-4452-8142-b8f88f766ed9"
>>>>>>> Azure/master
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.StreamAnalytics.StreamAnalyticsManagementClient/1.0.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"422\",\r\n  \"message\": \"LastOutputEventTime must be available when OutputStartMode is set to LastOutputEventTime. Please make sure at least one output event has been processed. \",\r\n  \"details\": {\r\n    \"code\": \"422\",\r\n    \"message\": \"LastOutputEventTime must be available when OutputStartMode is set to LastOutputEventTime. Please make sure at least one output event has been processed. \",\r\n    \"correlationId\": \"7b46fb7b-a7d9-4192-bf2b-4fa38d0a1e2b\",\r\n    \"requestId\": \"1ec4b75d-1cf3-4ec6-9a0c-c6cc657bf690\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
<<<<<<< HEAD
<<<<<<< HEAD
          "af60611b-a34a-4336-8ecb-7b8f8b80a039"
=======
          "1ec4b75d-1cf3-4ec6-9a0c-c6cc657bf690"
>>>>>>> Azure/master
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1156"
        ],
        "x-ms-correlation-request-id": [
          "7b46fb7b-a7d9-4192-bf2b-4fa38d0a1e2b"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20151222T012530Z:7b46fb7b-a7d9-4192-bf2b-4fa38d0a1e2b"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Cache-Control": [
          "no-store, no-cache"
        ],
        "Date": [
          "Tue, 22 Dec 2015 01:25:30 GMT"
        ],
        "Server": [
          "Microsoft-IIS/8.5"
        ],
        "X-Powered-By": [
          "ASP.NET"
        ]
      },
      "StatusCode": 422
    },
    {
      "RequestUri": "/subscriptions/61953354-5115-4340-bf80-f4ccd1cb213e/resourcegroups/StreamAnalytics8979/providers/Microsoft.StreamAnalytics/streamingjobs/MyStreamingJobSubmittedBySDK6283/start?api-version=2015-09-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"outputStartMode\": \"CustomTime\",\r\n  \"outputStartTime\": \"2012-12-12T12:12:12Z\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1155"
        ]
<<<<<<< HEAD
          "CENTRALUS:20151125T001230Z:36f4f13c-92f1-40f9-ab77-433a4b9e5815"
=======
          "46e7f7f6-6cf4-4634-a9cb-545103a35366"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1153"
        ],
        "x-ms-correlation-request-id": [
          "893d9073-5d30-45b2-97c0-34521f5322b0"
        ],
        "x-ms-routing-request-id": [
     [...]
    {
      "RequestUri": "/subscriptions/61953354-5115-4340-bf80-f4ccd1cb213e/resourcegroups/StreamAnalytics8979/providers/Microsoft.StreamAnalytics/streamingjobs/MyStreamingJobSubmittedBySDK6283/OperationResults/8eb0e6de-62c6-43e1-9fa1-ffb12ec13d0d?api-version=2015-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14944"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/61953354-5115-4340-bf80-f4ccd1cb213e/resourcegroups/StreamAnalytics8979/providers/Microsoft.StreamAnalytics/streamingjobs/MyStreamingJobSubmittedBySDK6283/OperationResults/8eb0e6de-62c6-43e1-9fa1-ffb12ec13d0d?api-version=2015-09-01"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/61953354-5115-4340-bf80-f4ccd1cb213e/resourcegroups/StreamAnalytics8979/providers/Microsoft.StreamAnalytics/streamingjobs/MyStreamingJobSubmittedBySDK6283/stop?api-version=2015-09-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "Retry-After": [
          "10"
        ],
        "x-m[...]
[...]
    {
      "RequestUri": "/subscriptions/61953354-5115-4340-bf80-f4ccd1cb213e/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TVFJFQU1BTkFMWVRJQ1M4OTc5LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-04-01-preview"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14972"
        ]
<<<<<<< HEAD
          "CENTRALUS:20151125T001547Z:0cc23a13-5a50-4d47-bc48-2ba0b56a40d0"
=======
          "1149"
        ],
        "x-ms-request-id": [
          "c01bc8ec-87ca-466f-b0b0-a355d2be1843"
        ],
        "x-ms-correlation-request-id": [
          "c01bc8ec-87ca-466f-b0b0-a355d2be1843"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20150506T010736Z:c01bc8ec-87ca-466f-b0b0-a355d2be1843"
>>>>>>> origin/AutoRest
=======
          "CENTRALUS:20151222T012950Z:1b06c43e-20f2-437b-acb5-f404f3220729"
>>>>>>> Azure/master
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomai[...]
