{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/61953354-5115-4340-bf80-f4ccd1cb213e/locations",
=======
      "RequestUri": "/20deba4c-35db-480a-baac-489e2c695697/locations",
>>>>>>> origin/AutoRest
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "<Locations xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Location>\r\n    <Name>Northwest US</Name>\r\n    <DisplayName>Northwest US</DisplayName>\r\n    <AvailableServices>\r\n      <AvailableService>Compute</AvailableService>\r\n    </AvailableServices>\r\n    <ComputeCapabilities>\r\n      <WebWorkerRoleSizes>\r\n        <RoleSize>A5</RoleSize>\r\n        <RoleSize>A6</RoleSize>\r\n        <RoleSize>A7</RoleSize>\r\n        <RoleSize>ExtraLarge</RoleSize>\r\n        <RoleSize>ExtraSmall</RoleSize>\r\n        <RoleSize>Large</RoleSize>\r\n        <RoleSize>Medium</RoleSize>\r\n        <RoleSize>Small</RoleSize>\r\n        <RoleSize>Standard_D1</RoleSize>\r\n        <RoleSize>Standard_D11</RoleSize>\r\n        <RoleSize>Standard_D12</RoleSize>\r\n        <RoleSize>Standard_D13</RoleSize>\r\n        <RoleSize>Standard_D14</RoleSize>\r\n        <RoleSize>Standard_D2</RoleSize>\r\n        <RoleSize>Standard_D3</RoleSize>\r\n        <RoleSize>Standard_D4</RoleSize>\r\n        <RoleSize>Standard_D5</RoleSize>\r\n      </WebWorkerRoleSizes>\r\n      <VirtualMachinesRoleSizes />\r\n    </ComputeCapabilities>\r\n  </Location>\r\n  <Location>\r\n    <Name>North Central US</Name>\r\n    <DisplayName>North Central US</DisplayName>\r\n    <AvailableServices>\r\n      <AvailableService>Compute</AvailableService>\r\n      <AvailableService>Storage</AvailableService>\r\n      <AvailableService>PersistentVMRole</AvailableService>\r\n      <AvailableService>HighMemory</AvailableService>\r\n    </AvailableServices>\r\n    <ComputeCapabilities>\r\n      <WebWorkerRoleSizes>\r\n [...]
    {
      "RequestUri": "/subscriptions/61953354-5115-4340-bf80-f4ccd1cb213e/resourcegroups/StreamAnalytics1413/providers/Microsoft.StreamAnalytics/streamingjobs?$expand=&api-version=2015-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/61953354-5115-4340-bf80-f4ccd1cb213e/resourceGroups/StreamAnalytics1413/providers/Microsoft.StreamAnalytics/streamingjobs/MyStreamingJobSubmittedBySDK6232\",\r\n      \"name\": \"MyStreamingJobSubmittedBySDK6232\",\r\n      \"type\": \"Microsoft.StreamAnalytics/streamingjobs\",\r\n      \"location\": \"West US\",\r\n      \"properties\": {\r\n        \"sku\": {\r\n          \"name\": \"Standard\"\r\n        },\r\n        \"jobId\": \"980fc801-40f9-4a37-af29-418950c90002\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"jobState\": \"Created\",\r\n        \"eventsOutOfOrderPolicy\": \"Adjust\",\r\n        \"eventsOutOfOrderMaxDelayInSeconds\": 0,\r\n        \"eventsLateArrivalMaxDelayInSeconds\": 5,\r\n        \"dataLocale\": \"en-US\",\r\n        \"createdDate\": \"2015-11-25T00:12:27.523Z\",\r\n        \"etag\": \"5ab4b62e-3e53-4560-807e-538da89e049a\"\r\n      }\r\n    }\r\n  ],\r\n  \"nextLink\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14938"
        ]
=======
          "9a5146e9-b81e-44e1-abb0-f9c6ea49e03d"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1154"
        ],
        "x-ms-correlation-request-id": [
          "09f123d7-947f-4a1e-baa6-60128320ef82"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20150506T010624Z:09f123d7-947f-4a1e-baa6-60128320ef82"
>>>>>>> origin/AutoRest
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Cache-Control": [
          "no-store, no-cache"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 25 Nov 2015 00:12:29 GMT"
=======
          "Wed, 06 May 2015 01:06:24 GMT"
>>>>>>> origin/AutoRest
        ],
        "Server": [
          "Microsoft-IIS/8.5"
        ],
        "X-Powered-By": [
          "ASP.NET"
        ]
      },
      "StatusCode": 200
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/61953354-5115-4340-bf80-f4ccd1cb213e/resourcegroups/StreamAnalytics1413/providers/Microsoft.StreamAnalytics/streamingjobs/MyStreamingJobSubmittedBySDK6232/start?api-version=2015-09-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"outputStartMode\": \"LastOutputEventTime\"\r\n}",
=======
      "RequestUri": "/subscriptions/20deba4c-35db-480a-baac-489e2c695697/resourcegroups/StreamAnalytics750/providers/Microsoft.StreamAnalytics/streamingjobs/MyStreamingJobSubmittedBySDK4024/start?api-version=2015-04-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"outputStartMode\": \"CustomTime\",\r\n  \"outputStartTime\": \"2015-05-05T18:06:24.7051989-07:00\"\r\n}",
>>>>>>> origin/AutoRest
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
<<<<<<< HEAD
          "9e9a01f4-73fa-431c-bb65-c1d5e8c8e636"
=======
          "1e5a94b5-1184-4d3b-993c-a6afecb0951c"
>>>>>>> origin/AutoRest
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.StreamAnalytics.StreamAnalyticsManagementClient/1.0.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"422\",\r\n  \"message\": \"LastOutputEventTime must be available when OutputStartMode is set to LastOutputEventTime. Please make sure at least one output event has been processed. \",\r\n  \"details\": {\r\n    \"code\": \"422\",\r\n    \"message\": \"LastOutputEventTime must be available when OutputStartMode is set to LastOutputEventTime. Please make sure at least one output event has been processed. \",\r\n    \"correlationId\": \"d774768f-41ce-42da-af7d-00e955d32a75\",\r\n    \"requestId\": \"af60611b-a34a-4336-8ecb-7b8f8b80a039\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
<<<<<<< HEAD
          "af60611b-a34a-4336-8ecb-7b8f8b80a039"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1144"
        ],
        "x-ms-correlation-request-id": [
          "d774768f-41ce-42da-af7d-00e955d32a75"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20151125T001229Z:d774768f-41ce-42da-af7d-00e955d32a75"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Cache-Control": [
          "no-store, no-cache"
        ],
        "Date": [
          "Wed, 25 Nov 2015 00:12:29 GMT"
        ],
        "Server": [
          "Microsoft-IIS/8.5"
        ],
        "X-Powered-By": [
          "ASP.NET"
        ]
      },
      "StatusCode": 422
    },
    {
      "RequestUri": "/subscriptions/61953354-5115-4340-bf80-f4ccd1cb213e/resourcegroups/StreamAnalytics1413/providers/Microsoft.StreamAnalytics/streamingjobs/MyStreamingJobSubmittedBySDK6232/start?api-version=2015-09-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"outputStartMode\": \"CustomTime\",\r\n  \"outputStartTime\": \"2012-12-12T12:12:12Z\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1143"
        ]
=======
          "46e7f7f6-6cf4-4634-a9cb-545103a35366"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1153"
        ],
        "x-ms-correlation-request-id": [
          "893d9073-5d30-45b2-97c0-34521f5322b0"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20150506T010625Z:893d9073-5d30-45b2-97c0-34521f5322b0"
>>>>>>> origin/Aut[...]
    {
      "RequestUri": "/subscriptions/61953354-5115-4340-bf80-f4ccd1cb213e/resourcegroups/StreamAnalytics1413/providers/Microsoft.StreamAnalytics/streamingjobs/MyStreamingJobSubmittedBySDK6232/OperationResults/373ede41-f5dd-4fe3-97a1-98a1d53e4192?api-version=2015-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "Retry-[...]
    {
      "RequestUri": "/subscriptions/61953354-5115-4340-bf80-f4ccd1cb213e/resourcegroups/StreamAnalytics1413/providers/Microsoft.StreamAnalytics/streamingjobs/MyStreamingJobSubmittedBySDK6232/stop?api-version=2015-09-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "Retry-After": [
          "10"
        ],
        "x-m[...]
[...]
    {
      "RequestUri": "/subscriptions/61953354-5115-4340-bf80-f4ccd1cb213e/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TVFJFQU1BTkFMWVRJQ1MxNDEzLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-04-01-preview"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14937"
        ]
=======
          "1149"
        ],
        "x-ms-request-id": [
          "c01bc8ec-87ca-466f-b0b0-a355d2be1843"
        ],
        "x-ms-correlation-request-id": [
          "c01bc8ec-87ca-466f-b0b0-a355d2be1843"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20150506T010736Z:c01bc8ec-87ca-466f-b0b0-a355d2be1843"
>>>>>>> origin/AutoRest
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
<<<<<<< HEAD
[...]
