{
  "Entries": [
    {
      "RequestUri": "/subscriptions/b80cf239-2c72-47ab-b309-b26aec4656b1/providers/Microsoft.Search/register?api-version=2014-04-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
        "User-Agent": [
          "Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b80cf239-2c72-47ab-b309-b26aec4656b1/providers/Microsoft.Search\",\r\n  \"namespace\": \"Microsoft.Search\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"searchServices\",\r\n      \"locations\": [\r\n        \"West US\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-02-28\",\r\n        \"2014-07-31-Preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"searchServicesCit\",\r\n      \"locations\": [\r\n        \"West US\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-02-28\",\r\n        \"2014-07-31-Preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"searchServicesInt\",\r\n      \"locations\": [\r\n        \"West US\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-02-28\",\r\n       [...]
    {
      "RequestUri": "/subscriptions/b80cf239-2c72-47ab-b309-b26aec4656b1/providers/Microsoft.Search?api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
=======
        "x-ms-client-request-id": [
          "8399ada1-e813-41aa-8d0b-69704804738a"
        ],
        "accept-language": [
          "en-US"
        ],
>>>>>>> origin/AutoRest
        "User-Agent": [
          "Microsoft.Azure.Management.Resources.ResourceManagementClient/3.0.0.0"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b80cf239-2c72-47ab-b309-b26aec4656b1/providers/Microsoft.Search\",\r\n  \"namespace\": \"Microsoft.Search\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"searchServices\",\r\n      \"locations\": [\r\n        \"West US\"\r\n      ],[...]
    {
      "RequestUri": "/indexes?api-version=2015-02-28",
      "RequestMethod": "POST",
<<<<<<< HEAD
      "RequestBody": "{\r\n  \"name\": \"azsmnet8150\",\r\n  \"fields\": [\r\n    {\r\n      \"name\": \"hotelId\",\r\n      \"type\": \"Edm.String\",\r\n      \"key\": true,\r\n      \"searchable\": false,\r\n      \"filterable\": true,\r\n      \"sortable\": true,\r\n      \"facetable\": true,\r\n      \"retrievable\": true\r\n    },\r\n    {\r\n      \"name\": \"baseRate\",\r\n      \"type\": \"Edm.Double\",\r\n      \"key\": false,\r\n      \"searchable\": false,\r\n      \"filterable\": true,\r\n      \"sortable\": true,\r\n      \"facetable\": true,\r\n      \"retrievable\": true\r\n    },\r\n    {\r\n      \"name\": \"description\",\r\n      \"type\": \"Edm.String\",\r\n      \"key\": false,\r\n      \"searchable\": true,\r\n      \"filterable\": false,\r\n      \"sortable\": false,\r\n      \"facetable\": false,\r\n      \"retrievable\": true\r\n    },\r\n    {\r\n      \"name\": \"descriptionFr\",\r\n      \"type\": \"Edm.String\",\r\n      \"key\": false,\r\n      \"searchable\": true,\r\n      \"filterable\": false,\r\n      \"sortable\": false,\r\n      \"facetable\": false,\r\n      \"retrievable\": true,\r\n      \"analyzer\": \"fr.lucene\"\r\n    },\r\n    {\r\n      \"name\": \"hotelName\",\r\n      \"type\": \"Edm.String\",\r\n      \"key\": false,\r\n      \"searchable\": true,\r\n      \"filterable\": true,\r\n      \"sortable\": true,\r\n      \"facetable\": true,\r\n      \"retrievable\": true\r\n    },\r\n    {\r\n      \"name\": \"category\",\r\n      \"type\": \"Edm.String\",\r\n      \"key\": false,\r\n      \"searchable\": true,\r\n      \"filterable\": true,\r\n      \"sortable\": true,\r\n      \"faceta[...]
    {
      "RequestUri": "/indexes?api-version=2015-02-28",
      "RequestMethod": "POST",
<<<<<<< HEAD
      "RequestBody": "{\r\n  \"name\": \"azsmnet5902\",\r\n  \"fields\": [\r\n    {\r\n      \"name\": \"ISBN\",\r\n      \"type\": \"Edm.String\",\r\n      \"key\": true,\r\n      \"searchable\": false,\r\n      \"filterable\": false,\r\n      \"sortable\": false,\r\n      \"facetable\": false,\r\n      \"retrievable\": true\r\n    },\r\n    {\r\n      \"name\": \"PublishDate\",\r\n      \"type\": \"Edm.DateTimeOffset\",\r\n      \"key\": false,\r\n      \"searchable\": false,\r\n      \"filterable\": false,\r\n      \"sortable\": false,\r\n      \"facetable\": false,\r\n      \"retrievable\": true\r\n    }\r\n  ],\r\n  \"scoringProfiles\": [],\r\n  \"suggesters\": []\r\n}",
=======
      "RequestBody": "{\r\n  \"name\": \"azsmnet5170\",\r\n  \"fields\": [\r\n    {\r\n      \"type\": \"Edm.String\",\r\n      \"name\": \"ISBN\",\r\n      \"key\": true,\r\n      \"searchable\": false,\r\n      \"filterable\": false,\r\n      \"sortable\": false,\r\n      \"facetable\": false,\r\n      \"retrievable\": true\r\n    },\r\n    {\r\n      \"type\": \"Edm.DateTimeOffset\",\r\n      \"name\": \"PublishDate\",\r\n      \"key\": false,\r\n      \"searchable\": false,\r\n      \"filterable\": false,\r\n      \"sortable\": false,\r\n      \"facetable\": false,\r\n      \"retrievable\": true\r\n    }\r\n  ]\r\n}",
>>>>>>> origin/AutoRest
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "api-key": [
<<<<<<< HEAD
          "6401A062F6E59195156FE6569E955219"
=======
          "5087B521592A1BF0CB4A5EB0EC98B120"
        ],
        "Prefer": [
          "return=representation"
>>>>>>> origin/AutoRest
        ],
        "User-Agent": [
          "Microsoft.Azure.Search.SearchServiceClient/1.0.0.0"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"name\": \"azsmnet5902\",\r\n  \"fields\": [\r\n    {\r\n      \"name\": \"ISBN\",\r\n      \"type\": \"Edm.String\",\r\n      \"searchable\": false,\r\n      \"filterable\": false,\r\n      \"retrievable\": true,\r\n      \"sortable\": false,\r\n      \"facetable\": false,\r\n      \"key\": true,\r\n      \"analyzer\": null\r\n    },\r\n    {\r\n      \"name\": \"PublishDate\",\r\n      \"type\": \"Edm.DateTimeOffset\",\r\n      \"searchable\": false,\r\n      \"filterable\": false,\r\n      \"retrievable\": true,\r\n      \"sortable\": false,\r\n      \"facetable\": false,\r\n      \"key\": false,\r\n      \"analyzer\": null\r\n    }\r\n  ],\r\n  \"scoringProfiles\": [],\r\n  \"defaultScoringProfile\": null,\r\n  \"corsOptions\": null,\r\n  \"suggesters\": []\r\n}",
=======
      "ResponseBody": "{\"@odata.context\":\"https://azs-3627.search-dogfood.windows-int.net/$metadata#indexes/$entity\",\"name\":\"azsmnet5170\",\"fields\":[{\"name\":\"ISBN\",\"type\":\"Edm.String\",\"searchable\":false,\"filterable\":false,\"retrievable\":true,\"sortable\":false,\"facetable\":false,\"key\":true,\"analyzer\":null},{\"name\":\"PublishDate\",\"type\":\"Edm.DateTimeOffset\",\"searchable\":false,\"filterable\":false,\"retrievable\":true,\"sortable\":false,\"facetable\":false,\"key\":false,\"analyzer\":null}],\"scoringProfiles\":[],\"defaultScoringProfile\":null,\"corsOptions\":null,\"suggesters\":[]}",
>>>>>>> origin/AutoRest
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal"
        ]
<<<<<<< HEAD
          "dbb2f83c-be6f-4b52-afe7-95435136eee6"
        ],
        "elapsed-time": [
          "980"
=======
          "f16a2c7c-deba-47f2-8ffc-bdf955c535e6"
        ],
        "elapsed-time": [
          "931"
>>>>>>> origin/AutoRest
        ],
        "OData-Version": [
          "4.0"
        ],
        "Preference-Applied": [
          "odata.include-annotations=\"*\""
        ],
        "Strict-Transport-Security": [
          "max-age=15724800; includeSubDomains"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 18 Aug 2015 22:59:00 GMT"
        ],
        "Location": [
          "https://azs-8875.search-dogfood.windows-int.net/indexes('azsmnet5902')?api-version=2015-02-28"
=======
          "Wed, 09 Dec 2015 22:06:28 GMT"
        ],
        "ETag": [
          "W/\"0x8D300E4FD82ED3B\""
        ],
        "Location": [
          "https://azs-3627.search-dogfood.windows-int.net/indexes('azsmnet5170')?api-version=2015-02-28"
>>>>>>> origin/AutoRest
        ]
      },
      "StatusCode": 201
    },
    {
<<<<<<< HEAD
      "RequestUri": "/indexes/azsmnet5902/docs/search.index?api-version=2015-02-28",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"value\": [\r\n    {\r\n      \"@search.action\": \"upload\",\r\n      \"ISBN\": \"1\",\r\n      \"PublishDate\": \"1999-12-31T16:00:00-08:00\"\r\n    },\r\n    {\r\n      \"@search.action\": \"upload\",\r\n      \"ISBN\": \"2\",\r\n      \"PublishDate\": \"1999-12-31T16:00:00-08:00\"\r\n    }\r\n  ]\r\n}",
=======
      "RequestUri": "/indexes/azsmnet5170/docs/search.index?api-version=2015-02-28",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"value\": [\r\n    {\r\n      \"@search.action\": \"upload\",\r\n      \"ISBN\": \"1\",\r\n      \"PublishDate\": \"2000-01-01T00:00:00+00:00\"\r\n    },\r\n    {\r\n      \"@search.action\": \"upload\",\r\n      \"ISBN\": \"2\",\r\n      \"PublishDate\": \"2000-01-01T00:00:00+00:00\"\r\n    }\r\n  ]\r\n}",
>>>>>>> origin/AutoRest
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
<<<<<<< HEAD
=======
        ],
        "accept-language": [
          "en-US"
>>>>>>> origin/AutoRest
        ],
        "Accept": [
          "application/json; odata.metadata=none"
        ],
        "api-key": [
<<<<<<< HEAD
          "6401A062F6E59195156FE6569E955219"
=======
          "5087B521592A1BF0CB4A5EB0EC98B120"
        ],
        "Prefer": [
          "return=representation"
>>>>>>> origin/AutoRest
        ],
        "User-Agent": [
          "Microsoft.Azure.Search.SearchIndexClient/1.0.0.0"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"key\": \"1\",\r\n      \"status\": true,\r\n      \"errorMessage\": null\r\n    },\r\n    {\r\n      \"key\": \"2\",\r\n      \"status\": true,\r\n      \"errorMessage\": null\r\n    }\r\n  ]\r\n}",
=======
      "ResponseBody": "{\"value\":[{\"key\":\"1\",\"status\":true,\"errorMessage\":null},{\"key\":\"2\",\"status\":true,\"errorMessage\":null}]}",
>>>>>>> origin/AutoRest
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=none"
        ]
<<<<<<< HEAD
          "4c407e60-0715-44c1-96fc-0138c6fad3f5"
        ],
   [...]
    {
      "RequestUri": "/subscriptions/b80cf239-2c72-47ab-b309-b26aec4656b1/resourceGroups/azsmnet8896/providers/Microsoft.Search/searchServices/azs-3627?api-version=2015-02-28",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "elapsed-time": [
          "1104"
>>>>>>> origin/AutoRest
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1126"
        ],
        "x-ms-request-id": [
          "59a99fdd-96a3-4a7e-97ee-db87acc6bfd7"
        ],
        "x-ms-correlation-request-id": [
          "59a99fdd-96a3-4a7e-97ee-db87acc6bfd7"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20151209T220636Z:59a99fdd-96a3-4a7e-97ee-db87acc6bfd7"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 18 Aug 2015 22:59:03 GMT"
=======
          "Wed, 09 Dec 2015 22:06:35 GMT"
        ],
        "X-AspNet-Version": [
          "4.0.30319"
>>>>>>> origin/AutoRest
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
<<<<<<< HEAD
    ".ctor": [
      "azsmnet855",
      "azsmnet8150"
    ],
    "GenerateServiceName": [
      "azs-8875"
    ],
    "<StaticallyTypedDateTimesRoundTripAsUtc>b__1c": [
      "azsmnet5902"
=======
    "GenerateName": [
      "azsmnet8896",
      "azsmnet1002",
      "azsmnet5170"
    ],
    "GenerateServiceName": [
      "azs-3627"
>>>>>>> origin/AutoRest
    ]
  },
  "Variables": {
    "SubscriptionId": "b80cf239-2c72-47ab-b309-b26aec4656b1"
  }
}