{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/21466899-20b2-463c-8c30-b8fb28a43248/providers/Microsoft.Compute/locations/SoutheastAsia/publishers/MicrosoftWindowsServer/artifacttypes/vmimage/offers/WindowsServer/skus/2012-R2-Datacenter/versions?api-version=2015-06-15&$top=1",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "[\r\n  {\r\n    \"location\": \"southeastasia\",\r\n    \"name\": \"4.0.201505\",\r\n    \"id\": \"/Subscriptions/21466899-20b2-463c-8c30-b8fb28a43248/Providers/Microsoft.Compute/Locations/southeastasia/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/WindowsServer/Skus/2012-R2-Datacenter/Versions/4.0.201505\"\r\n  }\r\n]",
=======
      "RequestUri": "/subscriptions/e33f361b-53c2-4cc7-b829-78906708387b/providers/Microsoft.Compute/locations/SoutheastAsia/publishers/MicrosoftWindowsServer/artifacttypes/vmimage/offers/WindowsServer/skus/2012-R2-Datacenter/versions?$top=1&api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "[\r\n  {\r\n    \"location\": \"southeastasia\",\r\n    \"name\": \"4.0.201506\",\r\n    \"id\": \"/Subscriptions/e33f361b-53c2-4cc7-b829-78906708387b/Providers/Microsoft.Compute/Locations/southeastasia/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/WindowsServer/Skus/2012-R2-Datacenter/Versions/4.0.201506\"\r\n  }\r\n]",
>>>>>>> origin/AutoRest
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
<<<<<<< HEAD
          "247c0ecd-4a0f-429c-acf6-1aec97557db0"
=======
          "31c2df83-3ceb-4048-9dd9-23d2e6cf35a3"
>>>>>>> origin/AutoRest
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "14290"
        ],
        "x-ms-correlation-request-id": [
          "835985fd-7022-4fae-8ec3-1259b460d6e8"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20150824T205119Z:835985fd-7022-4fae-8ec3-1259b460d6e8"
        ],
        "Date": [
          "Mon, 24 Aug 2015 20:51:19 GMT"
=======
          "14722"
        ],
        "x-ms-correlation-request-id": [
          "78495732-5b9d-47ed-9803-2c60c66aea2b"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20151101T184148Z:78495732-5b9d-47ed-9803-2c60c66aea2b"
        ],
        "Date": [
          "Sun, 01 Nov 2015 18:41:48 GMT"
>>>>>>> origin/AutoRest
        ]
      },
      "StatusCode": 200
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/21466899-20b2-463c-8c30-b8fb28a43248/resourcegroups/pslibtest6442?api-version=2014-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"SoutheastAsia\"\r\n}",
=======
      "RequestUri": "/subscriptions/e33f361b-53c2-4cc7-b829-78906708387b/resourcegroups/crptestar8949?api-version=2014-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"SoutheastAsia\",\r\n  \"tags\": {\r\n    \"crptestar8949\": \"2015-11-01 18:41:48Z\"\r\n  }\r\n}",
>>>>>>> origin/AutoRest
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
<<<<<<< HEAD
          "35"
=======
          "99"
        ],
        "x-ms-client-request-id": [
          "f89e6bfc-490f-44e1-a491-8e4ef3e31824"
        ],
        "accept-language": [
          "en-US"
>>>>>>> origin/AutoRest
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/21466899-20b2-463c-8c30-b8fb28a43248/resourceGroups/pslibtest6442\",\r\n  \"name\": \"pslibtest6442\",\r\n  \"location\": \"southeastasia\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/e33f361b-53c2-4cc7-b829-78906708387b/resourceGroups/crptestar8949\",\r\n  \"name\": \"crptestar8949\",\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {\r\n    \"crptestar8949\": \"2015-11-01 18:41:48Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
>>>>>>> origin/AutoRest
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Pragma": [
          "no-cache"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1100"
        ],
        "x-ms-request-id": [
          "05037ec2-2b6f-4940-b4fd-56a37234372f"
        ],
        "x-ms-correlation-request-id": [
          "05037ec2-2b6f-4940-b4fd-56a37234372f"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20150824T205121Z:05037ec2-2b6f-4940-b4fd-56a37234372f"
=======
          "1196"
        ],
        "x-ms-request-id": [
          "3baa0810-2c9b-4a40-877f-f4d22b338315"
        ],
        "x-ms-correlation-request-id": [
          "3baa0810-2c9b-4a40-877f-f4d22b338315"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20151101T184151Z:3baa0810-2c9b-4a40-877f-f4d22b338315"
>>>>>>> origin/AutoRest
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
<<<<<<< HEAD
          "Mon, 24 Aug 2015 20:51:21 GMT"
=======
          "Sun, 01 Nov 2015 18:41:51 GMT"
>>>>>>> origin/AutoRest
        ]
      },
      "StatusCode": 201
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/21466899-20b2-463c-8c30-b8fb28a43248/resourcegroups/pslibtest6442?api-version=2014-04-01-preview",
      "RequestMethod": "PUT"[...]
    {
      "RequestUri": "/subscriptions/21466899-20b2-463c-8c30-b8fb28a43248/providers/Microsoft.Storage/operations/1c7754b9-31bd-4a5b-9ec0-2fd4f58fabb5?monitor=true&api-version=2015-05-01-preview",
=======
          "Sun, 01 Nov 2015 18:42:21 GMT"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/e33f361b-53c2-4cc7-b829-78906708387b/resourceGroups/crptestar8949/providers/Microsoft.Storage/storageAccounts?api-version=2015-06-15",
>>>>>>> origin/AutoRest
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "7e8077b6-885d-4c38-bfb2-61b34295a1be"
=======
          "c7ed6824-10db-4154-9706-00ce738da15e"
        ],
        "accept-language": [
          "en-US"
>>>>>>> origin/AutoRest
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Storage.StorageManagementClient/2.0.0.0"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_GRS\"\r\n  },\r\n  \"location\": \"Southeast Asia\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
=======
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/e33f361b-53c2-4cc7-b829-78906708387b/resourceGroups/crptestar8949/providers/Microsoft.Storage/storageAccounts/crptestar5895\",\r\n      \"location\": \"southeastasia\",\r\n      \"name\": \"crptestar5895\",\r\n      \"properties\": {\r\n        \"accountType\": \"Standard_GRS\",\r\n        \"creationTime\": \"2015-11-01T18:41:55.0636611Z\",\r\n        \"primaryEndpoints\": {\r\n          \"blob\": \"https://crptestar5895.blob.core.windows.net/\",\r\n          \"file\": \"https://crptestar5895.file.core.windows.net/\",\r\n          \"queue\": \"https://crptestar5895.queue.core.windows.net/\",\r\n          \"table\": \"https://crptestar5895.table.core.windows.net/\"\r\n        },\r\n        \"primaryLocation\": \"southeastasia\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"secondaryLocation\": \"eastasia\",\r\n        \"statusOfPrimary\": \"available\",\r\n        \"statusOfSecondary\": \"available\"\r\n      },\r\n      \"tags\": {},\r\n      \"type\": \"Microsoft.Storage/storageAccounts\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
>>>>>>> origin/AutoRest
        ],
        "Expires": [
          "-1"
        ],
        "Pragma": [
          "no-cache"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "6c7e2de4-78b0-4cf4-90d5-f5278d96a589"
=======
          "57a4182f-009d-4633-b219-b92d7ea5187d"
>>>>>>> origin/AutoRest
        ],
        "Cache-Control": [
          "n[...]
    {
      "RequestUri": "/subscriptions/21466899-20b2-463c-8c30-b8fb28a43248/resourceGroups/pslibtest6442/providers/Microsoft.Compute/availabilitySets/ASDoesNotExist?api-version=2015-06-15",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1097"
        ]
      },
      "StatusCode": 204
    },
    {
      "RequestUri": "/subscriptions/21466899-20b2-463c-8c30-b8fb28a43248/resourceGroups/pslibtest6442/providers/Microsoft.Network/publicIPAddresses/azsmnet600/?api-version=2015-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"azsmnet5969\"\r\n    }\r\n  },\r\n  \"location\": \"SoutheastAsia\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
=======
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ],
        "x-ms-correlation-request-id": [
          "2ba90b8e-84ba-46ab-914c-1dddab82f31a"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20151101T184239Z:2ba90b8e-84ba-46ab-914c-1dddab82f31a"
        ],
        "Date": [
          "Sun, 01 Nov 2015 18:42:38 GMT"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/e33f361b-53c2-4cc7-b829-78906708387b/providers/Microsoft.Network/locations/southeastasia/operations/52038d50-87a1-4825-b869-57f93b15049b?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
>>>>>>> origin/AutoRest
        "User-Agent": [
          "Microsoft.Azure.Management.Network.NetworkResourceProviderClient/2.0.0.0"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"name\": \"azsmnet600\",\r\n  \"id\": \"/subscriptions/21466899-20b2-463c-8c30-b8fb28a43248/resourceGroups/pslibtest6442/providers/Microsoft.Network/publicIPAddresses/azsmnet600\",\r\n  \"etag\": \"W/\\\"95cbea2f-f82d-47cf-93db-592bc68d0ea5\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"95e96a1a-ad51-4f0a-aee6-9558c39afa5b\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"azsmnet5969\",\r\n      \"fqdn\": \"azsmnet5969.southeastasia.cloudapp.azure.com\"\r\n    }\r\n  },\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  }\r\n}",
      "ResponseHeaders": {
=======
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
>>>>>>> origin/AutoRest
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Pragma": [
          "no-cache"
        ],
<<<<<<< HEAD
        "Retry-After": [
          "10"
        ],
        "x-ms-request-id": [
          "abcce7ca-b48e-4fcb-b015-d12309b4b3ed"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/21466899-20b2-463c-8c30-b8fb28a43248/providers/Microsoft.Network/locations/southeastasia/operations/abcce7ca-b48e-4fcb-b015-d12309b4b3ed?api-version=2015-05-01-preview"
=======
        "x-ms-request-id": [
          "9f64675b-1a1c-475d-b3f3-75eb62581563"
>>>>>>> origin/AutoRest
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1095"
        ],
        "x-ms-correlation-request-id": [
          "fa45e7db-5f49-4585-a353-5432cdd7e0e6"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20150824T205208Z:fa45e7db-5f49-4585-a353-5432cdd7e0e6"
        ],
        "Date": [
          "Mon, 24 Aug 2015 20:52:07 GMT"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/21466899-20b2-463c-8c30-b8fb28a43248/providers/Microsoft.Network/locations/southeastasia/operations/abcce7ca-b48e-4fcb-b015-d12309b4b3ed?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-05-01-preview"
        ]
=======
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14692"
        ],
        "x-ms-correlation-request-id": [
          "0ad6ca49-33bc-40c9-bfe2-06cae0dc43d4"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20151101T184250Z:0ad6ca49-33bc-40c9-bfe2-06cae0dc43d4"
        ],
        "Date": [
          "Sun, 01 Nov 2015 18:42:49 GMT"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/e33f361b-53c2-4cc7-b829-78906708387b/resourceGroups/crptestar8949/providers/Microsoft.Network/publicIPAddresses/pip3309?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
>>>>>>> origin/AutoRest
        "User-Agent": [
          "Microsoft.Azure.Management.Network.NetworkResourceProviderClient/2.0.0.0"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
    [...]
[...]
    {
      "RequestUri": "/subscriptions/e33f361b-53c2-4cc7-b829-78906708387b/resourceGroups/crptestar8949/providers/Microsoft.Network/networkInterfaces/nic3641?api-version=2015-06-15",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"SoutheastAsia\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  },\r\n  \"properties\": {\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ip784\",\r\n        \"properties\": {\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"name\": \"sn9105\",\r\n            \"etag\": \"W/\\\"1f6d3551-a9cc-407d-9ece-5dc5ab9ee266\\\"\",\r\n            \"id\": \"/subscriptions/e33f361b-53c2-4cc7-b829-78906708387b/resourceGroups/crptestar8949/providers/Microsoft.Network/virtualNetworks/vn984/subnets/sn9105\",\r\n            \"properties\": {\r\n              \"addressPrefix\": \"10.0.0.0/24\",\r\n              \"provisioningState\": \"Succeeded\"\r\n            }\r\n          }\r\n        }\r\n      }\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
>>>>>>> origin/AutoRest
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Network.NetworkResourceProviderClient/2.0.0.0"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
    [...]
    {
      "RequestUri": "/subscriptions/21466899-20b2-463c-8c30-b8fb28a43248/resourceGroups/pslibtest6442/providers/Microsoft.Network/networkInterfaces/azsmnet3308?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
=======
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1193"
        ],
        "x-ms-correlation-request-id": [
          "5fba9c08-812a-4126-8537-2165773d5e86"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20151101T184309Z:5fba9c08-812a-4126-8537-2165773d5e86"
        ],
        "Date": [
          "Sun, 01 Nov 2015 18:43:09 GMT"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/e33f361b-53c2-4cc7-b829-78906708387b/resourceGroups/crptestar8949/providers/Microsoft.Network/networkInterfaces/nic3641?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
>>>>>>> origin/AutoRest
        "User-Agent": [
          "Microsoft.Azure.Management.Network.NetworkResourceProviderClient/2.0.0.0"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"name\": \"azsmnet3308\",\r\n  \"id\": \"/subscriptions/21466899-20b2-463c-8c30-b8fb28a43248/resourceGroups/pslibtest6442/providers/Microsoft.Network/networkInterfaces/azsmnet3308\",\r\n  \"etag\": \"W/\\\"3af55bfd-0007-4e92-ad3c-26327d94237d\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"5484d66f-a821-41d9-b700-e5792d8c8e43\",\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"azsmnet5298\",\r\n        \"id\": \"/subscriptions/21466899-20b2-463c-8c30-b8fb28a43248/resourceGroups/pslibtest6442/providers/Microsoft.Network/networkInterfaces/azsmnet3308/ipConfigurations/azsmnet5298\",\r\n        \"etag\": \"W/\\\"3af55bfd-0007-4e92-ad3c-26327d94237d\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/21466899-20b2-463c-8c30-b8fb28a43248/resourceGroups/pslibtest6442/providers/Microsoft.Network/publicIPAddresses/azsmnet600\"\r\n          },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/21466899-20b2-463c-8c30-b8fb28a43248/resourceGroups/pslibtest6442/providers/Microsoft.Network/virtualNetworks/azsmnet499/subnets/azsmnet5627\"\r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\": [],\r\n      \"appliedDnsServers\": []\r\n    },\r\n    \"enableIPForwarding\": false\r\n  },\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  }\r\n}",
      "ResponseHeaders": {
=======
      "ResponseBody": "{\r\n  \"name\": \"nic3641\",\r\n  \"id\": \"/subscriptions/e33f361b-53c2-4cc7-b829-78906708387b/resourceGroups/crptestar8949/providers/Microsoft.Network/networkInterfaces/nic3641\",\r\n  \"etag\": \"W/\\\"c271d1e4-ea16-4425-8cef-164e96565759\\\"\",\r\n  \"type\": \"Microsoft.Network/networkInterfaces\",\r\n  \"location\": \"south[...]
    {
      "RequestUri": "/subscriptions/21466899-20b2-463c-8c30-b8fb28a43248/providers/Microsoft.Compute/locations/southeastasia/operations/f1c412ba-5604-473f-bf78-3802366d786f?api-version=2015-06-15",
=======
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14723"
        ],
        "x-ms-correlation-request-id": [
          "a333c404-0923-44ff-8cbc-cb0ecde3ea68"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20151101T184519Z:a333c404-0923-44ff-8cbc-cb0ecde3ea68"
        ],
        "Date": [
          "Sun, 01 Nov 2015 18:45:19 GMT"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/e33f361b-53c2-4cc7-b829-78906708387b/providers/Microsoft.Compute/locations/southeastasia/operations/5567d520-aee8-42c9-ad4f-30c4190389df?api-version=2015-06-15",
>>>>>>> origin/AutoRest
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "Microsoft.Azure.Management.Compute.ComputeManagementClient/10.8.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"operationId\": \"f1c412ba-5604-473f-bf78-3802366d786f\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2015-08-24T13:52:29.7184586-07:00\"\r\n}",
=======
          "Microsoft.Azure.Management.Compute.ComputeManagementClient/10.0.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"operationId\": \"5567d520-aee8-42c9-ad4f-30c4190389df\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2015-11-01T10:43:16.5275894-08:00\"\r\n}",
>>>>>>> origin/AutoRest
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
<<<<<<< HEAD
          "9bcaa[...]
    {
      "RequestUri": "/subscriptions/21466899-20b2-463c-8c30-b8fb28a43248/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QU0xJQlRFU1Q2NDQyLVNPVVRIRUFTVEFTSUEiLCJqb2JMb2NhdGlvbiI6InNvdXRoZWFzdGFzaWEifQ?api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-04-01-preview"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
=======
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-ms-served-by": [
          "dce02487-9cda-4782-8138-773eb1573792_130894994896762681"
        ],
        "x-ms-request-id": [
          "21c01c04-0940-40fc-8b06-7abb2823efb3"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14686"
        ],
        "x-ms-correlation-request-id": [
          "3482d73f-a1c8-48c8-9cc9-6e7b2907f4fa"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20151101T184952Z:3482d73f-a1c8-48c8-9cc9-6e7b2907f4fa"
        ],
        "Date": [
          "Sun, 01 Nov 2015 18:49:52 GMT"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/e33f361b-53c2-4cc7-b829-78906708387b/providers/Microsoft.Compute/locations/southeastasia/operations/5567d520-aee8-42c9-ad4f-30c4190389df?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"operationId\": \"5567d520-aee8-42c9-ad4f-30c4190389df\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2015-11-01T10:43:16.5275894-08:00\",\r\n  \"endTime\": \"2015-11-01T10:55:40.4256334-08:00\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14684"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/e33f361b-53c2-4cc7-b829-78906708387b/resourceGroups/crptestar8949/providers/Microsoft.Compute/virtualMachines/vm8962?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"vmId\": \"7d7d13f7-f7e9-41c6-aa93-74b2330a33d9\",\r\n    \"availabilitySet\": {\r\n      \"id\": \"/subscriptions/e33f361b-53c2-4cc7-b829-78906708387b/resourceGroups/crptestar8949/providers/Microsoft.Compute/availabilitySets/AS6664\"\r\n    },\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_A0\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\": \"2012-R2-Datacenter\",\r\n        \"version\": \"4.0.201506\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Windows\",\r\n        \"name\": \"test\",\r\n        \"createOption\": \"FromImage\",\r\n        \"vhd\": {\r\n          \"uri\": \"https://crptestar5895.blob.core.windows.net/crptestar6930/oscrptestar4672.vhd\"\r\n        },\r\n        \"caching\": \"None\"\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"test\",\r\n      \"adminUsername\": \"Foo12\",\r\n      \"windowsConfiguration\": {\r\n        \"provisionVMAgent\": true,\r\n        \"enableAutomaticUpdates\": true\r\n      },\r\n      \"secrets\": []\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"id\": \"/subscriptions/e33f361b-53c2-4cc7-b829-78906708387b/resourceGroups/crptestar8949/providers/Microsoft.Network/networkInterfaces/nic3641\"\r\n        }\r\n      ]\r\n    },\r\n    \"diagnosticsProfile\": {\r\n      \"bootDiagnostics\": {\r\n        \"enabled\": true,\r\n        \"storageUri\": \"https://crptestar5895.blob.core.windows.net/\"\r\n      }\r\n    },\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"id\": \"/subscriptions/e33f361b-53c2-4cc7-b829-78906708387b/resourceGroups/crptestar8949/providers/Microsoft.Compute/virtualMachines/vm8962\",\r\n  \"name\": \"vm8962\",\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"1\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14683"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/e33f361b-53c2-4cc7-b829-78906708387b/resourceGroups/crptestar8949/providers/Microsoft.Compute/virtualMachines/vm8962?$expand=instanceView&api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"vmId\": \"7d7d13f7-f7e9-41c6-aa93-74b2330a33d9\",\r\n    \"availabilitySet\": {\r\n      \"id\": \"/subscriptions/e33f361b-53c2-4cc7-b829-7890670838[...]
    {
      "RequestUri": "/subscriptions/e33f361b-53c2-4cc7-b829-78906708387b/resourceGroups/crptestar8949/providers/Microsoft.Compute/virtualMachines/vm8962?api-version=2015-06-15",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/e33f361b-53c2-4cc7-b829-78906708387b/providers/Microsoft.Compute/locations/southeastasia/operations/ff24f4b3-f2a6-43f4-a022-fb8577e43a64?api-version=2015-06-15"
>>>>>>> origin/AutoRest
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
<<<<<<< HEAD
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Mon, 24 Aug 2015 20:56:11 GMT"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/21466899-20b2-463c-8c30-b8fb28a43248/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QU0xJQlRFU1Q2NDQyLVNPVVRIRUFTVEFTSUEiLCJqb2JMb2NhdGlvbiI6InNvdXRoZWFzdGFzaWEifQ?api-version=2014-04-01-preview"
=======
        "x-ms-served-by": [
          "dce02487-9cda-4782-8138-773eb1573792_130894994896762681"
        ],
        "x-ms-request-id": [
          "ff24f4b3-f2a6-43f4-a022-fb8577e43a64"
        ],
        "Cache-Control": [[...]
[...]
    {
      "RequestUri": "/subscriptions/e33f361b-53c2-4cc7-b829-78906708387b/resourcegroups/crptestar8949?api-version=2014-04-01-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
>>>>>>> origin/AutoRest
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ]
<<<<<<< HEAD[...]
