{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/21466899-20b2-463c-8c30-b8fb28a43248/providers/Microsoft.Compute/locations/SoutheastAsia/publishers/MicrosoftWindowsServer/artifacttypes/vmimage/offers/WindowsServer/skus/2012-R2-Datacenter/versions?api-version=2015-06-15&$top=1",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "[\r\n  {\r\n    \"location\": \"southeastasia\",\r\n    \"name\": \"4.0.201505\",\r\n    \"id\": \"/Subscriptions/21466899-20b2-463c-8c30-b8fb28a43248/Providers/Microsoft.Compute/Locations/southeastasia/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/WindowsServer/Skus/2012-R2-Datacenter/Versions/4.0.201505\"\r\n  }\r\n]",
      "ResponseHeaders": {
=======
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/SoutheastAsia/publishers/MicrosoftWindowsServer/artifacttypes/vmimage/offers/WindowsServer/skus/2012-R2-Datacenter/versions?$top=1&api-version=2016-03-30",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "[\r\n  {\r\n    \"location\": \"southeastasia\",\r\n    \"name\": \"4.0.20151120\",\r\n    \"id\": \"/Subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/Providers/Microsoft.Compute/Locations/southeastasia/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/WindowsServer/Skus/2012-R2-Datacenter/Versions/4.0.20151120\"\r\n  }\r\n]",
      "ResponseHeaders": {
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
<<<<<<< HEAD
        "Pragma": [
          "no-cache"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-ms-request-id": [
          "247c0ecd-4a0f-429c-acf6-1aec97557db0"
        ],
        "Cache-Control": [
          "no-cache"
        ],
=======
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Thu, 02 Jun 2016 00:34:43 GMT"
        ],
        "Pragma": [
          "no-cache"
        ],
        "Transfer-Encoding": [
          "chunked"
        ],
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14290"
        ],
        "x-ms-correlation-request-id": [
          "835985fd-7022-4fae-8ec3-1259b460d6e8"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20150824T205119Z:835985fd-7022-4fae-8ec3-1259b460d6e8"
        ],
        "Date": [
          "Mon, 24 Aug 2015 20:51:19 GMT"
=======
        "Vary": [
          "Accept-Encoding"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-ms-request-id": [
          "c960718c-bafb-4de9-9da1-cf804fcbd987"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14985"
        ],
        "x-ms-correlation-request-id": [
          "7c6ebcc4-dfb2-4d47-a57f-db532f4a4214"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20160602T003444Z:7c6ebcc4-dfb2-4d47-a57f-db532f4a4214"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ]
      },
      "StatusCode": 200
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/21466899-20b2-463c-8c30-b8fb28a43248/resourcegroups/pslibtest6442?api-version=2014-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"SoutheastAsia\"\r\n}",
=======
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/crptestar1617?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"SoutheastAsia\",\r\n  \"tags\": {\r\n    \"crptestar1617\": \"2016-06-02 00:34:44Z\"\r\n  }\r\n}",
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
<<<<<<< HEAD
          "35"
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/21466899-20b2-463c-8c30-b8fb28a43248/resourceGroups/pslibtest6442\",\r\n  \"name\": \"pslibtest6442\",\r\n  \"location\": \"southeastasia\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
=======
          "99"
        ],
        "x-ms-client-request-id": [
          "2ed6eacc-c69b-4ec1-b094-54ae13669a80"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Resources.ResourceManagementClient/1.0.0-preview"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/crptestar1617\",\r\n  \"name\": \"crptestar1617\",\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {\r\n    \"crptestar1617\": \"2016-06-02 00:34:44Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\[...]
    {
      "RequestUri": "/subscriptions/21466899-20b2-463c-8c30-b8fb28a43248/providers/Microsoft.Storage/operations/1c7754b9-31bd-4a5b-9ec0-2fd4f58fabb5?monitor=true&api-version=2015-05-01-preview",
=======
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Thu, 02 Jun 2016 00:35:21 GMT"
        ],
        "Pragma": [
          "no-cache"
        ],
        "Transfer-Encoding": [
          "chunked"
        ],
        "Server": [
          "Microsoft-Azure-Storage-Resource-Provider/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "Vary": [
          "Accept-Encoding"
        ],
        "x-ms-request-id": [
          "38c932fd-ea08-4ddc-8310-cb4bd9335453"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14984"
        ],
        "x-ms-correlation-request-id": [
          "38c932fd-ea08-4ddc-8310-cb4bd9335453"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20160602T003522Z:38c932fd-ea08-4ddc-8310-cb4bd9335453"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/crptestar1617/providers/Microsoft.Storage/storageAccounts?api-version=2015-06-15",
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "7e8077b6-885d-4c38-bfb2-61b34295a1be"
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Storage.StorageManagementClient/2.0.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_GRS\"\r\n  },\r\n  \"location\": \"Southeast Asia\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
=======
          "68fccb77-365d-4908-81a2-2741adfe3143"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Storage.StorageManagementClient/4.1.0-preview"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/crptestar1617/providers/Microsoft.Storage/storageAccounts/crptestar2009\",\r\n      \"location\": \"southeastasia\",\r\n      \"name\": \"crptestar2009\",\r\n      \"properties\": {\r\n        \"accountType\": \"Standard_GRS\",\r\n        \"creationTime\": \"2016-06-02T00:34:51.9859568Z\",\r\n        \"primaryEndpoints\": {\r\n          \"blob\": \"https://crptestar2009.blob.core.windows.net/\",\r\n          \"file\": \"https://crptestar2009.file.core.windows.net/\",\r\n          \"queue\": \"https://crptestar2009.queue.core.windows.net/\",\r\n          \"table\": \"https://crptestar2009.table.core.windows.net/\"\r\n        },\r\n        \"primaryLocation\": \"southeastasia\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"secondaryLocation\": \"eastasia\",\r\n        \"statusOfPrimary\": \"available\",\r\n        \"statusOfSecondary\": \"available\"\r\n      },\r\n      \"tags\": {},\r\n      \"type\": \"Microsoft.Storage/storageAccounts\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Expires": [
          "-1"
        ],
<<<<<<< HEAD
        "Pragma": [
          "no-cache"
        ],
        "x-ms-request-id": [
          "6c7e2de4-78b0-4cf4-90d5-f5278d96a589"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Server": [
          "Micro[...]
    {
      "RequestUri": "/subscriptions/21466899-20b2-463c-8c30-b8fb28a43248/resourceGroups/pslibtest6442/providers/Microsoft.Compute/virtualMachines/VMDoesNotExist?api-version=2015-06-15",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
=======
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Thu, 02 Jun 2016 00:35:32 GMT"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Pragma": [
          "no-cache"
        ],
<<<<<<< HEAD
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1098"
        ],
        "x-ms-request-id": [
          "95cc2346-2d7d-42b0-8594-5471ed868307"
        ],
        "x-ms-correlation-request-id": [
          "95cc2346-2d7d-42b0-8594-5471ed868307"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20150824T205202Z:95cc2346-2d7d-42b0-8594-5471ed868307"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Mon, 24 Aug 2015 20:52:02 GMT"
        ]
      },
      "StatusCode": 204
    },
    {
      "RequestUri": "/subscriptions/21466899-20b2-463c-8c30-b8fb28a43248/resourceGroups/pslibtest6442/providers/Microsoft.Compute/availabilitySets/ASDoesNotExist?api-version=2015-06-15",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1097"
        ]
      },
      "StatusCode": 204
    },
    {
      "RequestUri": "/subscriptions/21466899-20b2-463c-8c30-b8fb28a43248/resourceGroups/pslibtest6442/providers/Microsoft.Network/publicIPAddresses/azsmnet600/?api-version=2015-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"azsmnet5969\"\r\n    }\r\n  },\r\n  \"location\": \"SoutheastAsia\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"azsmnet600\",\r\n  \"id\": \"/subscriptions/21466899-20b2-463c-8c30-b8fb28a43248/resourceGroups/pslibtest6442/providers/Microsoft.Network/publicIPAddresses/azsmnet600\",\r\n  \"etag\": \"W/\\\"95cbea2f-f82d-47cf-93db-592bc68d0ea5\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"95e96a1a-ad51-4f0a-aee6-9558c39afa5b\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"azsmnet5969\",\r\n      \"fqdn\": \"azsmnet5969.southeastasia.cloudapp.azure.com\"\r\n    }\r\n  },\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  }\r\n}",
      "ResponseHeaders": {
=======
        "Transfer-Encoding": [
          "chunked"
        ],
        "Server": [
          "Microsoft-Azure-Storage-Resource-Provider/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "Vary": [
          "Accept-Encoding"
        ],
        "x-ms-request-id": [
          "6e991890-1225-4f84-978b-7769bccfc0c3"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14982"
        ],
        "x-ms-correlation-request-id": [
          "6e991890-1225-4f84-978b-7769bccfc0c3"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20160602T003532Z:6e991890-1225-4f84-978b-7769bccfc0c3"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/crptestar1617/providers/Microsoft.Network/publicIPAddresses/pip4651?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"SoutheastAsia\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  },\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"dn1593\"\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"pip4651\",\r\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/crptestar1617/providers/Microsoft.Network/publicIPAddresses/pip4651\",\r\n  \"etag\": \"W/\\\"f5ef8809-d02d-42c5-bd1a-5aa111014606\\\"\",\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"37e00c4d-6ecf-4b34-81ce-2d06d69db256\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"dn1593\",\r\n      \"fqdn\": \"dn1593.southeastasia.cloudapp.azure.com\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
<<<<<<< HEAD
=======
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Thu, 02 Jun 2016 00:35:40 GMT"
        ],
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        "Pragma": [
          "no-cache"
        ],
        "Retry-After": [
          "10"
        ],
<<<<<<< HEAD
        "x-ms-request-id": [
          "abcce7ca-b48e-4fcb-b015-d12309b4b3ed"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/21466899-20b2-463c-8c30-b8fb28a43248/providers/Microsoft.Network/locations/southeastasia/operations/abcce7ca-b48e-4fcb-b015-d12309b4b3ed?api-version=2015-05-01-preview"
=======
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-request-id": [
          "d7c2562b-e785-415a-9688-fef7ccbaa06d"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/sub[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/crptestar1617/providers/Microsoft.Network/publicIPAddresses/pip4651?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"pip4651\",\r\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/crptestar1617/providers/Microsoft.Network/publicIPAddresses/pip4651\",\r\n  \"etag\": \"W/\\\"ae2cf5b8-53b6-4afe-b3a0-dc81ee78d952\\\"\",\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"37e00c4d-6ecf-4b34-81ce-2d06d69db256\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"dn1593\",\r\n      \"fqdn\": \"dn1593.southeastasia.cloudapp.azure.com\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"ae2cf5b8-53b6-4afe-b3a0-dc81ee78d952\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14976"
        ]
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ]
      },
      "StatusCode": 200
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/21466899-20b2-463c-8c30-b8fb28a43248/resourceGroups/pslibtest6442/providers/Microsoft.Network/virtualnetworks/azsmnet499?api-version=2015-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": [\r\n        \"10.1.1.1\",\r\n        \"10.1.2.4\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\"\r\n        },\r\n        \"name\": \"azsmnet5627\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"SoutheastAsia\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"azsmnet499\",\r\n  \"id\": \"/subscriptions/21466899-20b2-463c-8c30-b8fb28a43248/resourceGroups/pslibtest6442/providers/Microsoft.Network/virtualNetworks/azsmnet499\",\r\n  \"etag\": \"W/\\\"415a0574[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/southeastasia/operations/9cbff61d-7049-4ed5-8f85-7ee3c41f919f?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1094"
        ],
        "x-ms-correlation-request-id": [
          "f17976f4-f1fe-43e1-991f-4cce3fe6df59"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20150824T205212Z:f17976f4-f1fe-43e1-991f-4cce3fe6df59"
        ],
        "Date": [
          "Mon, 24 Aug 2015 20:52:12 GMT"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/21466899-20b2-463c-8c30-b8fb28a43248/providers/Microsoft.Network/locations/southeastasia/operations/b8b10edd-583e-4371-a37c-98c9ce54e4f8?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-05-01-preview"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
=======
        "Vary": [
          "Accept-Encoding"
        ],
        "x-ms-request-id": [
          "7560a9dc-4e1d-4f42-a076-c1cc74190a67"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14975"
        ],
        "x-ms-correlation-request-id": [
          "ca7ad110-4d82-409d-b583-b8cef4055c18"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20160602T003648Z:ca7ad110-4d82-409d-b583-b8cef4055c18"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/crptestar1617/providers/Microsoft.Network/virtualNetworks/vn4775?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"vn4775\",\r\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/crptestar1617/providers/Microsoft.Network/virtualNetworks/vn4775\",\r\n  \"etag\": \"W/\\\"7[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/crptestar1617/providers/Microsoft.Network/virtualNetworks/vn4775/subnets/sn7677?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"sn7677\",\r\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/crptestar1617/providers/Microsoft.Network/virtualNetworks/vn4775/subnets/sn7677\",\r\n  \"etag\": \"W/\\\"7d8534a4-69a9-4cee-b681-077fca187496\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"7d8534a4-69a9-4cee-b681-077fca187496\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14973"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/crptestar1617/providers/Microsoft.Network/networkInterfaces/nic8250?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"SoutheastAsia\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  },\r\n  \"properties\": {\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ip5437\",\r\n        \"properties\": {\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"name\": \"sn7677\",\r\n            \"etag\": \"W/\\\"7d8534a4-69a9-4cee-b681-077fca187496\\\"\",\r\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/crptestar1617/providers/Microsoft.Network/virtualNetworks/vn4775/subnets/sn7677\",\r\n            \"properties\": {\r\n              \"addressPrefix\": \"10.0.0.0/24\",\r\n              \"provisioningState\": \"Succeeded\"\r\n            }\r\n          }\r\n        }\r\n      }\r\n    ]\r\n[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/crptestar1617/providers/Microsoft.Network/networkInterfaces/nic8250?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"nic8250\",\r\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/crptestar1617/providers/Microsoft.Network/networkInterfaces/nic8250\",\r\n  \"etag\": \"W/\\\"333e594b-cc66-4670-8cf7-85d0c01aeee8\\\"\",\r\n  \"type\": \"Microsoft.Network/networkInterfaces\",\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"411f6f62-131c-4e3e-89ca-1746d929621c\",\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ip5437\",\r\n        \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/crptestar1617/providers/Microsoft.Network/networkInterfaces/nic8250/ipConfigurations/ip5437\",\r\n        \"etag\": \"W/\\\"333e594b-cc66-4670-8cf7-85d0c01aeee8\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/crptestar1617/providers/Microsoft.Network/virtualNetworks/vn4775/subnets/sn7677\"\r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\": \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\": \"q3lsoc3galue5exqepd4mdrsjb.ix.internal.cloudapp.net\"\r\n    },\r\n    \"enableIPForwarding\": false\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"333e594b-cc66-4670-8cf7-85d0c01aeee8\""
        ]
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14273"
        ],
        "x-ms-correlation-request-id": [[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/crptestar1617/providers/Microsoft.Compute/availabilitySets/as4420?api-version=2016-03-30",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"SoutheastAsia\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"1\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"platformUpdateDomainCount\": 5,\r\n    \"platformFaultDomainCount\": 3\r\n  },\r\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/crptestar1617/providers/Microsoft.Compute/availabilitySets/as4420\",\r\n  \"name\": \"as4420\",\r\n  \"type\": \"Microsoft.Compute/availabilitySets\",\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"1\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/crptestar1617/providers/Microsoft.Compute/virtualMachines/vm6511?api-version=2016-03-30",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_A0\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\": \"2012-R2-Datacenter\",\r\n        \"version\": \"4.0.20151120\"\r\n      },\r\n      \"osDisk\": {\r\n        \"name\": \"test\",\r\n        \"vhd\": {\r\n          \"uri\": \"https://crptestar2009.blob.core.windows.net/crptestar7826/oscrptestar713.vhd\"\r\n        },\r\n        \"caching\": \"None\",\r\n        \"createOption\": \"fromImage\"\r\n      }\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"test\",\r\n      \"adminUsername\": \"Foo12\",\r\n      \"adminPassword\": \"BaR@123crptestar1617\"\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/crptestar1617/providers/Microsoft.Network/networkInterfaces/nic8250\"\r\n        }\r\n      ]\r\n    },\r\n    \"diagnosticsProfile\": {\r\n      \"bootDiagnostics\": {\r\n        \"enabled\": true,\r\n        \"storageUri\": \"https://crptestar2009.blob.core.windows.net/\"\r\n      }\r\n    },\r\n    \"availabilitySet\": {\r\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/crptestar1617/providers/Microsoft.Compute/availabilitySets/as4420\"\r\n    }\r\n  },\r\n  \"location\": \"SoutheastAsia\",\r\n  \"tags\": {\r\n    \"RG\": \"rg\",\r\n    \"testTag\": \"1\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
[...]
