{
  "Entries": [
    {
      "RequestUri": "/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/services/hostedservices",
      "RequestMethod": "POST",
<<<<<<< HEAD
      "RequestBody": "<CreateHostedService xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <ServiceName>azsmnet8245</ServiceName>\r\n  <Label>YXpzbW5ldDgyNDU=</Label>\r\n  <Location>South Central US</Location>\r\n  <ReverseDnsFqdn>azsmnet8245.cloudapp.net.</ReverseDnsFqdn>\r\n</CreateHostedService>",
=======
      "RequestBody": "<CreateHostedService xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <ServiceName>azsmnet5976</ServiceName>\r\n  <Label>YXpzbW5ldDU5NzY=</Label>\r\n  <Location>East US</Location>\r\n  <ReverseDnsFqdn>azsmnet5976.cloudapp.net.</ReverseDnsFqdn>\r\n</CreateHostedService>",
>>>>>>> Azure/master
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ]
<<<<<<< HEAD
          "275"
=======
          "266"
>>>>>>> Azure/master
        ],
        "x-ms-version": [
          "2015-09-01"
        ],
        "User-Agent": [
          "Microsoft.WindowsAzure.Management.Compute.ComputeManagementClient/1.0.0.0"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
<<<<<<< HEAD
          "2f07563fca448c38a0cc571be762e65c"
=======
          "998c77350d7b6fe7a63ce4a786816a5d"
>>>>>>> Azure/master
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 08 Apr 2015 01:45:27 GMT"
        ],
        "Location": [
          "https://management.core.windows.net/subscriptions/4d368445-cbb1-42a7-97a6-6850ab99f48e/compute/azsmnet8245"
        ],
        "Server": [
          "1.0.6198.213",
          "(rd_rdfe_stable.150402-1703)",
=======
          "Wed, 27 Jan 2016 06:55:42 GMT"
        ],
        "Location": [
          "https://management.core.windows.net/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/compute/azsmnet5976"
        ],
        "Server": [
          "1.0.6198.306",
          "(rd_rdfe_stable.160114-1616)",
>>>>>>> Azure/master
          "Microsoft-HTTPAPI/2.0"
        ]
      },
      "StatusCode": 201
    },
    {
<<<<<<< HEAD
      "RequestUri": "/4d368445-cbb1-42a7-97a6-6850ab99f48e/services/hostedservices/azsmnet8245",
=======
      "RequestUri": "/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/services/hostedservices/azsmnet5976",
>>>>>>> Azure/master
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-09-01"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "<HostedService xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Url>https://management.core.windows.net/4d368445-cbb1-42a7-97a6-6850ab99f48e/services/hostedservices/azsmnet8245</Url>\r\n  <ServiceName>azsmnet8245</ServiceName>\r\n  <HostedServiceProperties>\r\n    <Description i:nil=\"true\" />\r\n    <Location>South Central US</Location>\r\n    <Label>YXpzbW5ldDgyNDU=</Label>\r\n    <Status>Created</Status>\r\n    <DateCreated>2015-04-08T01:45:27Z</DateCreated>\r\n    <DateLastModified>2015-04-08T01:45:28Z</DateLastModified>\r\n    <ExtendedProperties />\r\n    <ReverseDnsFqdn>azsmnet8245.cloudapp.net.</ReverseDnsFqdn>\r\n  </HostedServiceProperties>\r\n</HostedService>",
      "ResponseHeaders": {
=======
      "ResponseBody": "<HostedService xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Url>https://management.core.windows.net/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/services/hostedservices/azsmnet5976</Url>\r\n  <ServiceName>azsmnet5976</ServiceName>\r\n  <HostedServiceProperties>\r\n    <Description i:nil=\"true\" />\r\n    <Location>East US</Location>\r\n    <Label>YXpzbW5ldDU5NzY=</Label>\r\n    <Status>Created</Status>\r\n    <DateCreated>2016-01-27T06:55:42Z</DateCreated>\r\n    <DateLastModified>2016-01-27T06:55:41Z</DateLastModified>\r\n    <ExtendedProperties />\r\n    <ReverseDnsFqdn>azsmnet5976.cloudapp.net.</ReverseDnsFqdn>\r\n  </HostedServiceProperties>\r\n</HostedService>",
      "ResponseHeaders": {
>>>>>>> Azure/master
        ],
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "6c808a1eaf108704a9b4a4c548908d75"
=======
          "d87b51a53c056f6096285a21e00ba86b"
>>>>>>> Azure/master
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 08 Apr 2015 01:45:27 GMT"
        ],
        "Server": [
          "1.0.6198.213",
          "(rd_rdfe_stable.150402-1703)",
=======
          "Wed, 27 Jan 2016 06:55:42 GMT"
        ],
        "Server": [
          "1.0.6198.306",
          "(rd_rdfe_stable.160114-1616)",
>>>>>>> Azure/master
          "Microsoft-HTTPAPI/2.0"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "CanCreateHostedServiceWithReverseDns": [
<<<<<<< HEAD
      "azsmnet8245"
=======
      "azsmnet5976"
>>>>>>> Azure/master
    ]
  },
  "Variables": {
    "SubscriptionId": "24fb23e3-6ba3-41f0-9b6e-e41131d5d61e"
  }
}