{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/204315b3-beb7-437c-9090-d506e104521b/resourcegroups/csmrg6957?api-version=2014-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\"\r\n}",
=======
      "RequestUri": "/subscriptions/9532a63e-f2eb-4649-bb23-5ed01077ce80/providers/Microsoft.Network?api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9532a63e-f2eb-4649-bb23-5ed01077ce80/providers/Microsoft.Network\",\r\n  \"namespace\": \"Microsoft.Network\",\r\n  \"authorization\": {\r\n    \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n    \"roleDefinitionId\": \"13ba9ab4-19f0-4804-adc4-14ece36cc7a1\"\r\n  },\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"virtualNetworks\",\r\n      \"locations\": [\r\n        \"West US\",\r\n        \"East US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"South Central US\",\r\n        \"Central US\",\r\n        \"East US 2\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"North Central US\",\r\n        \"Brazil South\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-06-15\",\r\n        \"2015-05-01-preview\",\r\n        \"2014-12-01-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"publicIPAddresses\",\r\n      \"locations\": [\r\n        \"West US\",\r\n        \"East US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"South Central US\",\r\n        \"Central US\",\r\n        \"East US 2\",\r\n        \"Japan East\",\r\n        \"Japan W[...]
    {
      "RequestUri": "/subscriptions/9532a63e-f2eb-4649-bb23-5ed01077ce80/resourcegroups/csmrg2644?api-version=2014-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
>>>>>>> origin/AutoRest
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
<<<<<<< HEAD
          "28"
=======
          "29"
        ],
        "x-ms-client-request-id": [
          "79bae0af-f2cd-401c-a876-a4548b45fead"
        ],
        "accept-language": [
          "en-US"
>>>>>>> origin/AutoRest
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/204315b3-beb7-437c-9090-d506e104521b/resourceGroups/csmrg6957\",\r\n  \"name\": \"csmrg6957\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9532a63e-f2eb-4649-bb23-5ed01077ce80/resourceGroups/csmrg2644\",\r\n  \"name\": \"csmrg2644\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
>>>>>>> origin/AutoRest
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1196"
        ],
        "x-ms-request-id": [
          "dc2f529e-4186-438a-ab11-99d887617453"
        ],
        "x-ms-correlation-request-id": [
          "dc2f529e-4186-438a-ab11-99d887617453"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20150918T031931Z:dc2f529e-4186-438a-ab11-99d887617453"
=======
          "1194"
        ],
        "x-ms-request-id": [
          "e9ed4305-4360-47fa-a7ef-13c5c203dbf9"
        ],
        "x-ms-correlation-request-id": [
          "e9ed4305-4360-47fa-a7ef-13c5c203dbf9"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20151113T200032Z:e9ed4305-4360-47fa-a7ef-13c5c203dbf9"
>>>>>>> origin/AutoRest
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 18 Sep 2015 03:19:31 GMT"
=======
          "Fri, 13 Nov 2015 20:00:32 GMT"
>>>>>>> origin/AutoRest
        ]
      },
      "StatusCode": 201
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/204315b3-beb7-437c-9090-d506e104521b/resourceGroups/csmrg6957/providers/Microsoft.Network/publicIPAddresses/azsmnet2493/?api-version=2015-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"azsmnet8820\"\r\n    }\r\n  },\r\n  \"location\": \"westus\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"azsmnet2493\",\r\n  \"id\": \"/subscriptions/204315b3-beb7-437c-9090-d506e104521b/resourceGroups/csmrg6957/providers/Microsoft.Network/publicIPAddresses/azsmnet2493\",\r\n  \"etag\": \"W/\\\"5aae211c-d532-4d96-985c-92200a4930a5\\\"\",\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"location\": \"westus\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"7883e84f-b942-4c31-a687-bf9520c1887f\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"azsmnet8820\",\r\n      \"fqdn\": \"azsmnet8820.azure-bvt.com\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
=======
      "RequestUri": "/subscriptions/9532a63e-f2eb-4649-bb23-5ed01077ce80/resourceGroups/csmrg2644/providers/Microsoft.Network/publicIPAddresses/azsmnet3642?api-version=2015-06-15",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  },\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"dnsSettings[...]
    {
      "RequestUri": "/subscriptions/204315b3-beb7-437c-9090-d506e104521b/providers/Microsoft.Network/locations/nrp8/operations/c38ee98e-ae18-471c-918a-43409b41b224?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-05-01-preview"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
=======
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14976"
        ],
        "x-ms-correlation-request-id": [
          "dca32fc1-4eb6-467e-b6d5-12b47d456cbd"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20151113T200045Z:dca32fc1-4eb6-467e-b6d5-12b47d456cbd"
        ],
        "Date": [
          "Fri, 13 Nov 2015 20:00:44 GMT"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/9532a63e-f2eb-4649-bb23-5ed01077ce80/resourceGroups/csmrg2644/providers/Microsoft.Network/loadBalancers/azsmnet7268?api-version=2015-06-15",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\",\r\n  \"properties\": {\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"azsmnet8816\",\r\n        \"properties\": {\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/9532a63e-f2eb-4649-bb23-5ed01077ce80/resourceGroups/csmrg2644/providers/Microsoft.Network/publicIPAddresses/azsmnet3642\"\r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"name\": \"azsmnet9959\"\r\n      }\r\n    ],\r\n    \"inboundNatRules\": [\r\n      {\r\n        \"name\": \"azsmnet669\",\r\n        \"properties\": {\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/9532a63e-f2eb-4649-bb23-5ed01077ce80/resourceGroups/csmrg2644/providers/Microsoft.Network/loadBalancers/azsmnet7268/frontendIPConfigurations/azsmnet8816\"\r\n          },\r\n          \"protocol\": \"Tcp\",\r\n          \"frontendPort\": 3389,\r\n          \"backendPort\": 3389,\r\n          \"idleTimeoutInMinutes\": 15,\r\n          \"enableFloatingIP\": false\r\n        }\r\n      }\r\n    ],\r\n    \"outboundNatRules\": [\r\n      {\r\n        \"name\": \"azsmnet6906\",\r\n        \"properties\": {\r\n          \"allocatedOutboundPorts\": 1000,\r\n          \"frontendIPConfigurations\": [\r\n            {\r\n              \"id\": \"/subscriptions/9532a63e-f2eb-4649-bb23-5ed01077ce80/resourceGroups/csmrg2644/providers/Microsoft.Network/loadBalancers/azsmnet7268/frontendIPConfigurations/azsmnet8816\"\r\n            }\r\n          ],\r\n          \"backendAddressPool\": {\r\n            \"id\": \"/subscriptions/9532a63e-f2eb-4649-bb23-5ed01077ce80/resourceGroups/csmrg2644/providers/Microsoft.Network/loadBalancers/azsmnet7268/backendAddressPools/azsmnet9959\"\r\n          }\r\n        }\r\n      }\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"azsmnet7268\",\r\n  \"id\": \"/subscriptions/9532a63e-f2eb-4649-bb23-5ed01077ce80/resourceGroups/csmrg2644/providers/Microsoft.Network/loadBalancers/azsmnet7268\",\r\n  \"etag\": \"W/\\\"0fd10a73-c727-4f76-b8f9-8c86600a1c80\\\"\",\r\n  \"type\": \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"79900d77-e225-4a23-bf04-da06ee4c8117\",\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"azsmnet8816\",\r\n        \"id\": \"/subscriptions/9532a63e-f2eb-4649-bb23-5ed01077ce80/resourceGroups/csmrg2644/providers/Microsoft.Network/loadBalancers/azsmnet7268/frontendIPConfigurations/azsmnet8816\",\r\n        \"etag\": \"W/\\\"0fd10a73-c727-4f76-b8f9-8c86600a1c80\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/9532a63e-f2eb-4649-bb23-5ed01077ce80/resourceGroups/csmrg2644/providers/Microsoft.Network/publicIPAddresses/azsmnet3642\"\r\n          },\r\n          \"inboundNatRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/9532a63e-f2eb-4649-bb23-5ed01077ce80/resourceGroups/csmrg2644/providers/Microsoft.Network/loadBalancers/azsmnet7268/inboundNatRules/azsmnet669\"\r\n            }\r\n          ],\r\n          \"outboundNatRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/9532a63e-f2eb-4649-bb23-5ed01077ce80/resourceGroups/csmrg2644/providers/Microsoft.Network/loadBalancers/azsmnet7268/outboundNatRules/azsmnet6906\"\r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"name\": \"azsmnet9959\",\r\n        \"id\": \"/subscriptions/9532a63e-f2eb-4649-bb23-5ed01077ce80/resourceGroups/csmrg2644/providers/Microsoft.Network/loadBalancers/azsmnet7268/backendAddressPools/azsmnet9959\",\r\n        \"etag\": \"W/\\\"0fd10a73-c727-4f76-b8f9-8c86600a1c80\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"outboundNatRule\": {\r\n            \"id\": \"/subscriptions/9532a63e-f2eb-4649-bb23-5ed01077ce80/resourceGroups/csmrg2644/providers/Microsoft.Network/loadBalancers/azsmnet7268/outboundNatRules/azsmnet6906\"\r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"loadBalancingRules\": [],\r\n    \"probes\": [],\r\n    \"inboundNatRules\": [\r\n      {\r\n        \"name\": \"azsmnet669\",\r\n        \"id\": \"/subscriptions/9532a63e-f2eb-4649-bb23-5ed01077ce80/resourceGroups/csmrg2644/providers/Microsoft.Network/loadBalancers/azsmnet7268/inboundNatRules/azsmnet669\",\r\n        \"etag\": \"W/\\\"0fd10a73-c727-4f76-b8f9-8c86600a1c80\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscription[...]
    {
      "RequestUri": "/subscriptions/204315b3-beb7-437c-9090-d506e104521b/resourceGroups/csmrg6957/providers/Microsoft.Network/loadBalancers/azsmnet4045?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"azsmnet4045\",\r\n  \"id\": \"/subscriptions/204315b3-beb7-437c-9090-d506e104521b/resourceGroups/csmrg6957/providers/Microsoft.Network/loadBalancers/azsmnet4045\",\r\n  \"etag\"[...]
[...]
