{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/204315b3-beb7-437c-9090-d506e104521b/resourcegroups/csmrg4594?api-version=2014-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\"\r\n}",
=======
      "RequestUri": "/subscriptions/9532a63e-f2eb-4649-bb23-5ed01077ce80/providers/Microsoft.Network?api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9532a63e-f2eb-4649-bb23-5ed01077ce80/providers/Microsoft.Network\",\r\n  \"namespace\": \"Microsoft.Network\",\r\n  \"authorization\": {\r\n    \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n    \"roleDefinitionId\": \"13ba9ab4-19f0-4804-adc4-14ece36cc7a1\"\r\n  },\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"virtualNetworks\",\r\n      \"locations\": [\r\n        \"West US\",\r\n        \"East US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"South Central US\",\r\n        \"Central US\",\r\n        \"East US 2\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"North Central US\",\r\n        \"Brazil South\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-06-15\",\r\n        \"2015-05-01-preview\",\r\n        \"2014-12-01-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"publicIPAddresses\",\r\n      \"locations\": [\r\n        \"West US\",\r\n        \"East US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"South Central US\",\r\n        \"Central US\",\r\n        \"East US 2\",\r\n        \"Japan East\",\r\n        \"Japan W[...]
    {
      "RequestUri": "/subscriptions/9532a63e-f2eb-4649-bb23-5ed01077ce80/resourcegroups/csmrg4429?api-version=2014-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
>>>>>>> origin/AutoRest
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
<<<<<<< HEAD
          "28"
=======
          "29"
        ],
        "x-ms-client-request-id": [
          "db56b5fe-de36-471b-8b07-6137b234b02d"
        ],
        "accept-language": [
          "en-US"
>>>>>>> origin/AutoRest
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/204315b3-beb7-437c-9090-d506e104521b/resourceGroups/csmrg4594\",\r\n  \"name\": \"csmrg4594\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9532a63e-f2eb-4649-bb23-5ed01077ce80/resourceGroups/csmrg4429\",\r\n  \"name\": \"csmrg4429\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
>>>>>>> origin/AutoRest
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ]
<<<<<<< HEAD
          "14a8444c-eacb-4395-b174-10bcd1e09ed8"
        ],
        "x-ms-correlation-request-id": [
          "14a8444c-eacb-4395-b174-10bcd1e09ed8"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20150918T005939Z:14a8444c-eacb-4395-b174-10bcd1e09ed8"
=======
          "8511cdff-72af-44bd-a29d-b8a6243ef2f7"
        ],
        "x-ms-correlation-request-id": [
          "8511cdff-72af-44bd-a29d-b8a6243ef2f7"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20151113T200258Z:8511cdff-72af-44bd-a29d-b8a6243ef2f7"
>>>>>>> origin/AutoRest
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 18 Sep 2015 00:59:38 GMT"
=======
          "Fri, 13 Nov 2015 20:02:58 GMT"
>>>>>>> origin/AutoRest
        ]
      },
      "StatusCode": 201
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/204315b3-beb7-437c-9090-d506e104521b/resourceGroups/csmrg4594/providers/Microsoft.Network/publicIPAddresses/azsmnet4513/?api-version=2015-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"azsmnet648\"\r\n    }\r\n  },\r\n  \"location\": \"westus\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"azsmnet4513\",\r\n  \"id\": \"/subscriptions/204315b3-beb7-437c-9090-d506e104521b/resourceGroups/csmrg4594/providers/Microsoft.Network/publicIPAddresses/azsmnet4513\",\r\n  \"etag\": \"W/\\\"e3620d8a-8549-4b2d-9f9c-9e185e4ad665\\\"\",\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"location\": \"westus\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"3bbded5a-9109-4917-ac8e-2fba67b3fb29\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"azsmnet648\",\r\n      \"fqdn\": \"azsmnet648.azure-bvt.com\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
=======
      "RequestUri": "/subscriptions/9532a63e-f2eb-4649-bb23-5ed01077ce80/resourceGroups/csmrg4429/providers/Microsoft.Network/publicIPAddresses/azsmnet5798?api-version=2015-06-15",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  },\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"dnsSettings\[...]
    {
      "RequestUri": "/subscriptions/204315b3-beb7-437c-9090-d506e104521b/resourceGroups/csmrg4594/providers/Microsoft.Network/loadBalancers/azsmnet2812?api-version=2015-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/204315b3-beb7-437c-9090-d506e104521b/resourceGroups/csmrg4594/providers/Microsoft.Network/publicIPAddresses/azsmnet4513\"\r\n          },\r\n          \"provisioningState\": \"Succeeded\"\r\n        },\r\n        \"name\": \"azsmnet6065\",\r\n        \"etag\": \"W/\\\"c15994a5-eda8-48ae-b6ce-20ccf4face96\\\"\",\r\n        \"id\": \"/subscriptions/204315b3-beb7-437c-9090-d506e104521b/resourceGroups/csmrg4594/providers/Microsoft.Network/loadBalancers/azsmnet2812/frontendIPConfigurations/azsmnet6065\"\r\n      }\r\n    ],\r\n    \"loadBalancingRules\": [],\r\n    \"probes\": [],\r\n    \"inboundNatRules\": [],\r\n    \"inboundNatPools\": [\r\n      {\r\n        \"properties\": {\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/204315b3-beb7-437c-9090-d506e104521b/resourceGroups/csmrg4594/providers/Microsoft.Network/loadBalancers/azsmnet2812/frontendIPConfigurations/azsmnet6065\"\r\n          },\r\n          \"protocol\": \"Tcp\",\r\n          \"frontendPortRangeStart\": 100,\r\n          \"frontendPortRangeEnd\": 105,\r\n          \"backendPort\": 81,\r\n          \"provisioningState\": \"Succeeded\"\r\n        },\r\n        \"name\": \"azsmnet7823\",\r\n        \"etag\": \"W/\\\"c15994a5-eda8-48ae-b6ce-20ccf4face96\\\"\",\r\n        \"id\": \"/subscriptions/204315b3-beb7-437c-9090-d506e104521b/resourceGroups/csmrg4594/providers/Microsoft.Network/loadBalancers/azsmnet2812/inboundNatPools/azsmnet7823\"\r\n      },\r\n      {\r\n        \"properties\": {\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/20[...]
    {
      "RequestUri": "/subscriptions/9532a63e-f2eb-4649-bb23-5ed01077ce80/resourceGroups/csmrg4429/providers/Microsoft.Network/loadBalancers/azsmnet6745?api-version=2015-06-15",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\",\r\n  \"properties\": {\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"azsmnet6150\",\r\n        \"properties\": {\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/9532a63e-f2eb-4[...]
    {
      "RequestUri": "/subscriptions/204315b3-beb7-437c-9090-d506e104521b/providers/Microsoft.Network/locations/nrp8/operations/cba33868-a050-45d7-adb4-347d8906ff8d?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-05-01-preview"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14993"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/204315b3-beb7-437c-9090-d506e104521b/providers/Microsoft.Network/locations/nrp8/operations/27d7cb50-7518-451f-a674-93880a4a7de5?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-05-01-preview"
        ]
=======
      "RequestUri": "/subscriptions/9532a63e-f2eb-4649-bb23-5ed01077ce80/providers/Microsoft.Network/locations/westus/operations/96d97b71-a82e-4d5f-be71-6aa7bd730efe?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
>>>>>>> origin/AutoRest
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
<<<<<<< HEAD
          "ce919c08-5261-4619-b09d-c059c3a3e2dc"
=======
          "6fd8344d-9ba2-4b61-9cbc-38aae08bf7a8"
>>>>>>> origin/AutoRest
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "14999"
        ],
        "x-ms-correlation-request-id": [
          "4faf9c3d-5502-4ef6-be1c-ad2549f1ce78"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20150918T010044Z:4faf9c3d-5502-4ef6-be1c-ad2549f1ce78"
        ],
        "Date": [
          "Fri, 18 Sep 2015 01:00:44 GMT"
=======
          "14985"
        ],
        "x-ms-correlation-request-id": [
          "4abebd6c-77d3-4e7e-894e-9e2946b569cc"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20151113T200323Z:4abebd6c-77d3-4e7e-894e-9e2946b569cc"
        ],
        "Date": [
          "Fri, 13 Nov 2015 20:03:23 GMT"
>>>>>>> origin/AutoRest
        ]
      },
      "StatusCode": 200
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/204315b3-beb7-437c-9090-d506e104521b/resourceGroups/csmrg4594/providers/Microsoft.Network/loadBalancers?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [],\r\n  \"nextLink\": \"\"\r\n}",
      "ResponseHeaders": {
=======
      "RequestUri": "/subscriptions/9532a63e-f2eb-4649-bb23-5ed01077ce80/resourceGroups/csmrg4429/providers/Microsoft.Network/loadBalancers?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
>>>>>>> origin/AutoRest
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Pragma": [
          "no-cache"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "026cd817-63bb-48fc-8ae0-01fac98f1168"
=======
          "be7136b3-ee38-46b8-a951-431f139daf65"
>>>>>>> origin/AutoRest
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "14998[...]
