{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourcegroups/csm-sql-rg-2703?api-version=2014-04-01-preview",
=======
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourcegroups/csm-rg-auditing-policy-lifecycle7316?api-version=2014-04-01-preview",
>>>>>>> origin/AutoRest
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/csm-sql-rg-2703\",\r\n  \"name\": \"csm-sql-rg-2703\",\r\n  \"location\": \"australiaeast\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/csm-rg-auditing-policy-lifecycle7316\",\r\n  \"name\": \"csm-rg-auditing-policy-lifecycle7316\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
>>>>>>> origin/AutoRest
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
<<<<<<< HEAD
          "0abeacc1-67ac-43f8-bbb4-7d0b5d2551a7"
        ],
        "x-ms-correlation-request-id": [
          "0abeacc1-67ac-43f8-bbb4-7d0b5d2551a7"
        ],
        "x-ms-routing-request-id": [
          "WESTEUROPE:20151013T131233Z:0abeacc1-67ac-43f8-bbb4-7d0b5d2551a7"
=======
          "b5778562-a56b-4f6b-ad1b-72acba22b5af"
        ],
        "x-ms-correlation-request-id": [
          "b5778562-a56b-4f6b-ad1b-72acba22b5af"
        ],
        "x-ms-routing-request-id": [
          "WESTEUROPE:20150415T171402Z:b5778562-a56b-4f6b-ad1b-72acba22b5af"
>>>>>>> origin/AutoRest
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 13 Oct 2015 13:12:33 GMT"
=======
          "Wed, 15 Apr 2015 17:14:01 GMT"
>>>>>>> origin/AutoRest
        ]
      },
      "StatusCode": 201
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/csm-sql-rg-2703/providers/Microsoft.Sql/servers/csm-sql-server-1888?api-version=2014-04-01",
=======
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/csm-rg-auditing-policy-lifecycle7316/providers/Microsoft.Sql/servers/csm-sql-auditing-policy-lifecycle-server7592?api-version=2014-04-01",
>>>>>>> origin/AutoRest
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"version\": \"2.0\",\r\n    \"administratorLogin\": \"testlogin\",\r\n    \"administratorLoginPassword\": \"testp@ssMakingIt1007Longer\"\r\n  },\r\n  \"location\": \"West US\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/csm-sql-rg-2703/providers/Microsoft.Sql/servers/csm-sql-server-1888\",\r\n  \"name\": \"csm-sql-server-1888\",\r\n  \"type\": \"Microsoft.Sql/servers\",\r\n  \"location\": \"Australia East\",\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"fullyQualifiedDomainName\": \"csm-sql-server-1888.database.windows.net\",\r\n    \"administratorLogin\": \"testlogin\",\r\n    \"administratorLoginPassword\": \"testp@ssMakingIt1007Longer\",\r\n    \"externalAdministratorLogin\": null,\r\n    \"externalAdministratorSid\": null,\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\"\r\n  }\r\n}",
=======
      "ResponseBody": "{\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/csm-rg-auditing-policy-lifecycle7316/providers/Microsoft.Sql/servers/csm-sql-auditing-policy-lifecycle-server7592\",\r\n  \"name\": \"csm-sql-auditing-policy-lifecycle-server7592\",\r\n  \"type\": \"Microsoft.Sql/servers\",\r\n  \"location\": \"West US\",\r\n  \"kind\": null,\r\n  \"properties\": {\r\n    \"fullyQualifiedDomainName\": \"csm-sql-auditing-policy-lifecycle-server7592.database.windows.net\",\r\n    \"administratorLogin\": \"testlogin\",\r\n    \"administratorLoginPassword\": \"testp@ssMakingIt1007Longer\",\r\n    \"version\": \"2.0\",\r\n    \"state\": \"Ready\"\r\n  }\r\n}",
>>>>>>> origin/AutoRest
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
<<<<<<< HEAD
          "d355110e-7554-4367-ae00-da6431a32055"
=======
          "2b360ba9-9cf9-4537-8aca-7cf8a0453702"
>>>>>>> origin/AutoRest
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Preference-Applied": [
          "return-content"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "a804f6b9-91c9-4bbb-930d-4ac34b837bd3"
        ],
        "x-ms-routing-request-id": [
          "WESTEUROPE:20151013T131340Z:a804f6b9-91c9-4bbb-930d-4ac34b837bd3"
=======
          "7d5b5fa1-f0e1-4623-a80e-0a0310f0b12a"
        ],
        "x-ms-routing-request-id": [
          "WESTEUROPE:20150415T171411Z:7d5b5fa1-f0e1-4623-a80e-0a0310f0b12a"
>>>>>>> origin/AutoRest
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Cache-Control": [
          "no-store, no-cache"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 13 Oct 2015 13:13:39 GMT"
=======
          "Wed, 15 Apr 2015 17:14:10 GMT"
>>>>>>> origin/AutoRest
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ]
      },
      "StatusCode": 201
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/csm-sql-rg-2703/providers/Microsoft.Sql/servers/csm-sql-server-1888/databases/csm-auditing-db1799?api-version=2014-04-01",
=======
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/csm-rg-auditing-policy-lifecycle7316/providers/Microsoft.Sql/servers/csm-sql-auditing-policy-lifecycle-server7592/databases/csm-auditing-db5725?api-version=2014-04-01",
>>>>>>> origin/AutoRest
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"edition\": \"Basic\",\r\n    \"collation\": \"Japanese_Bushu_Kakusu_100_CS_AS_KS_WS\",\r\n    \"maxSizeBytes\": \"1073741824\",\r\n    \"requestedServiceObjectiveId\": \"dd6d99bb-f193-4ec1-86f2-43d3bccbc49c\"\r\n  },\r\n  \"location\": \"West US\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"operation\": \"CreateLogicalDatabase\",\r\n  \"startTime\": \"2015-10-13T16:13:44.577+03:00\"\r\n}",
=======
      "ResponseBody": "{\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/csm-rg-auditing-policy-lifecycle7316/providers/Microsoft.Sql/servers/csm-sql-auditing-policy-lifecycle-server7592/databases/csm-auditing-db5725\",\r\n  \"name\": \"csm-auditing-db5725\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\",\r\n  \"location\": \"West US\",\r\n  \"kind\": null,\r\n  \"properties\": {\r\n    \"databaseId\": \"7abdfbde-dc5e-434e-8ee9-78bcc30267a0\",\r\n    \"edition\": \"Basic\",\r\n    \"status\": \"Online\",\r\n    \"serviceLevelObjective\": \"Basic\",\r\n    \"collation\": \"Japanese_Bushu_Kakusu_100_CS_AS_KS_WS\",\r\n    \"maxSizeBytes\": \"1073741824\",\r\n    \"creationDate\": \"2015-04-15T17:14:15.233Z\",\r\n    \"currentServiceObjectiveId\": \"dd6d99bb-f193-4ec1-86f2-43d3bccbc49c\",\r\n    \"requestedServiceObjectiveId\": \"dd6d99bb-f193-4ec1-86f2-43d3bccbc49c\",\r\n    \"defaultSecondaryLocation\": \"East US\",\r\n    \"earliestRestoreDate\": \"2015-04-15T17:44:15.233Z\"\r\n  }\r\n}",
>>>>>>> origin/AutoRest
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
<<<<<<< HEAD
          "f1809507-0f4f-45ee-8fb0-847b29bc9353"
=======
          "c44cd6de-df3b-44e2-ba31-25e65cec1592"
>>>>>>> origin/AutoRest
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Preference-Applied": [
          "return-content"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
<<<<<<< HEAD
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/csm-sql-rg-2703/providers/Microsoft.Sql/servers/csm-sql-server-1888/databases/csm-auditing-db1799/azureAsyncOperation/f1809507-0f4f-45ee-8fb0-847b29bc9353?api-version=2014-04-01-Preview"
        ],
=======
>>>>>>> origin/AutoRest
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ],
        "x-ms-correlation-request-id": [
          "31fa8318-2bd4-4ea6-8547-9aa1807541dc"
        ],
        "x-ms-routing-request-id": [
          "WESTEUROPE:20151013T131344Z:31fa8318-2bd4-4ea6-8547-9aa1807541dc"
        ],
        "Cache-Control": [
          "no-store, no-cache"
        ],
        "Date": [
          "Tue, 13 Oct 2015 13:13:43 GMT"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/csm-sql-rg-2703/providers/Microsoft.Sql/servers/csm-sql-server-1888/databases/csm-auditing-db1799/operationResults/f1809507-0f4f-45ee-8fb0-847b29bc9353?api-version=2014-04-01-Preview"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/csm-sql-rg-2703/providers/Microsoft.Sql/servers/csm-sql-server-1888/databases/csm-auditing-db1799/operationResults/f1809507-0f4f-45ee-8fb0-847b29bc9353?api-version=2014-04-01-Preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"operation\": \"CreateLogicalDatabase\",\r\n  \"startTime\": \"2015-10-13T13:13:44.56Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "Retry-After": [
          "30"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/csm-sql-rg-2703/providers/Microsoft.Sql/servers/csm-sql-server-1888/databases/csm-auditing-db1799/azureAsyncOperation/f1809507-0f4f-45ee-8fb0-847b29bc9353?api-version=2014-04-01-Preview"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14872"
        ]
<<<<<<< HEAD
          "6588d4d3-15c9-4640-ab65-c95f59601a7f"
        ],
        "x-ms-routing-request-id": [
          "WESTEUROPE:20151013T131346Z:6588d4d3-15c9-4640-ab65-c95f59601a7f"
        ],
        "Cache-Control": [
          "no-store, no-cache"
        ],
        "Date": [
          "Tue, 13 Oct 2015 13:13:45 GMT"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/csm-sql-rg-2703/providers/Microsoft.Sql/servers/csm-sql-server-1888/databases/csm-auditing-db1799/operationResults/f1809507-0f4f-45ee-8fb0-847b29bc9353?api-version=2014-04-01-Preview"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/csm-sql-rg-2703/providers/Microsoft.Sql/servers/csm-sql-server-1888/databases/csm-auditing-db1799/operationResults/f1809507-0f4f-45ee-8fb0-847b29bc9353?api-version=2014-04-01-Preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/csm-sql-rg-2703/providers/Microsoft.Sql/servers/csm-sql-server-1888/databases/csm-auditing-db1799\",\r\n  \"name\": \"csm-auditing-db1799\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\",\r\n  \"location\": \"Australia East\",\r\n  \"kind\": \"v12.0,user\",\r\n  \"properties\": {\r\n    \"databaseId\": \"302d7754-9719-471f-b55c-fdf7ed6928cc\",\r\n    \"edition\": \"Basic\",\r\n    \"status\": \"Online\",\r\n    \"serviceLevelObjective\": \"Basic\",\r\n    \"collation\": \"Japanese_Bushu_Kakusu_100_CS_AS_KS_WS\",\r\n    \"maxSizeBytes\": \"1073741824\",\r\n    \"creationDate\": \"2015-10-13T13:13:44.827Z\",\r\n    \"currentServiceObjectiveId\": \"dd6d99bb-f193-4ec1-86f2-43d3bccbc49c\",\r\n    \"requestedServiceObjectiveId\": \"dd6d99bb-f193-4ec1-86f2-43d3bccbc49c\",\r\n    \"requestedServiceObjectiveName\": null,\r\n    \"defaultSecondaryLocation\": \"Australia Southeast\",\r\n    \"earliestRestoreDate\": \"2015-10-13T13:24:52.327Z\",\r\n    \"elasticPoolName\": null,\r\n    \"containmentState\": 2\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "DataServiceVersion": [
          "3.0;"
=======
          "27d09d18-e406-4aca-9642-a654c8430ca7"
        ],
        "x-ms-routing-request-id": [
          "WESTEUROPE:20150415T171417Z:27d09d18-e406-4aca-9642-a654c8430ca7"
>>>>>>> origin/AutoRest
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; in[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DU006MkRTUUw6MkRSRzoyRDI3MDMtQVVTVFJBTElBRUFTVCIsImpvYkxvY2F0aW9uIjoiYXVzdHJhbGlhZWFzdCJ9?api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-04-01-preview"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14872"
        ]
=======
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31995"
        ],
        "x-ms-request-id": [
          "0a9e3f66-baf4-4ce6-bc0f-ac66f6df5d36"
        ],
        "x-ms-correlation-request-id": [
          "0a9e3f66-baf4-4ce6-bc0f-ac66f6df5d36"
        ],
        "x-ms-routing-request-id": [
          "WESTEUROPE:20150415T171435Z:0a9e3f66-baf4-4ce6-bc0f-ac66f6df5d36"
>>>>>>> origin/AutoRest
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
<<<<<<< HEAD[...]
