{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/3312c132-fc40-493f-9c97-82d80256a313/providers/microsoft.network?api-version=2014-04-01-preview",
=======
      "RequestUri": "/subscriptions/3cfb1b34-e5a9-4f98-bf9c-e4d69a6b170c/providers/microsoft.network?api-version=2015-11-01",
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/3312c132-fc40-493f-9c97-82d80256a313/providers/microsoft.network\",\r\n  \"namespace\": \"microsoft.network\",\r\n  \"authorization\": {\r\n    \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n    \"roleDefinitionId\": \"13ba9ab4-19f0-4804-adc4-14ece36cc7a1\"\r\n  },\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"trafficmanagerprofiles\",\r\n      \"locations\": [\r\n        \"global\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-11-01\",\r\n        \"2015-04-28-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"dnszones\",\r\n      \"locations\": [\r\n        \"global\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2016-04-01\",\r\n        \"2015-05-04-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"dnsOperationResults\",\r\n      \"locations\": [\r\n        \"global\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2016-04-01\"\r\n      ]\r\n    },[...]
    {
      "RequestUri": "/subscriptions/3312c132-fc40-493f-9c97-82d80256a313/resourceGroups/hydratestdnsrg9764/providers/Microsoft.Network/dnsOperationStatuses/delzone6359620708345521870dd904f4?api-version=2016-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-04-01"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net:443/subscriptions/3312c132-fc40-493f-9c97-82d80256a313/resourceGroups/hydratestdnsrg9764/providers/Microsoft.Network/dnsOperationStatuses/delzone6359620708345521870dd904f4?api-version=2016-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11985"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/3312c132-fc40-493f-9c97-82d80256a313/resourceGroups/hydratestdnsrg9764/providers/Microsoft.Network/dnsOperationResults/delzone6359620708345521870dd904f4?api-version=2016-04-01"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/3312c132-fc40-493f-9c97-82d80256a313/resourceGroups/hydratestdnsrg9764/providers/Microsoft.Network/dnsOperationStatuses/delzone6359620708345521870dd904f4?api-version=2016-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-04-01"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11984"
        ]
=======
        "Date": [
          "Thu, 02 Jun 2016 00:19:10 GMT"
        ],
        "Transfer-Encoding": [
          "chunked"
        ],
        "Server": [
          "Microsoft-IIS/8.5"
        ],
        "Vary": [
          "Accept-Encoding"
        ],
        "X-Content-Type-Options": [
          "nosniff"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
<<<<<<< HEAD
        "Cache-Control": [
          "private"
        ],
        "Date": [
          "Thu, 14 Apr 2016 05:04:46 GMT"
        ],
        "Server": [
          "Microsoft-IIS/8.5"
=======
        "x-ms-request-id": [
          "770801b7-570c-49c4-a3a7-7c0f7b3669b9"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "X-AspNet-Version": [
          "4.0.30319"
        ],
        "X-Powered-By": [
          "ASP.NET"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11990"
        ],
        "x-ms-correlation-request-id": [
          "2c450989-9aaa-4538-a2bf-b0e05281c1be"
        ],
        "x-ms-routing-request-id": [
          "NORTHEUROPE:20160602T001910Z:2c450989-9aaa-4538-a2bf-b0e05281c1be"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "CrudZoneSetsTheCurrentAndMaxRecordSetNumbersInResponse": [
<<<<<<< HEAD
      "hydratestdnszone.com509"
    ],
    "CreateResourceGroup": [
      "hydratestdnsrg9764"
    ]
  },
  "Variables": {
    "SubscriptionId": "3312c132-fc40-493f-9c97-82d80256a313"
=======
      "hydratest.dnszone.com1956"
    ],
    "CreateResourceGroup": [
      "hydratestdnsrg6669"
    ]
  },
  "Variables": {
    "SubscriptionId": "3cfb1b34-e5a9-4f98-bf9c-e4d69a6b170c"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
  }
}