{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/3312c132-fc40-493f-9c97-82d80256a313/resourcegroups/hydratestdnsrg7495?api-version=2014-04-01-preview",
=======
      "RequestUri": "/subscriptions/3cfb1b34-e5a9-4f98-bf9c-e4d69a6b170c/resourcegroups/hydratestdnsrg623?api-version=2015-11-01",
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/3312c132-fc40-493f-9c97-82d80256a313/resourceGroups/hydratestdnsrg7495\",\r\n  \"name\": \"hydratestdnsrg7495\",\r\n  \"location\": \"centralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/3cfb1b34-e5a9-4f98-bf9c-e4d69a6b170c/resourceGroups/hydratestdnsrg623\",\r\n  \"name\": \"hydratestdnsrg623\",\r\n  \"location\": \"centralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "781"
        ],
        "x-ms-request-id": [
          "4dd2b13b-cb0c-42f7-8074-f0b31c57fd51"
        ],
        "x-ms-correlation-request-id": [
          "4dd2b13b-cb0c-42f7-8074-f0b31c57fd51"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20160414T050600Z:4dd2b13b-cb0c-42f7-8074-f0b31c57fd51"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Thu, 14 Apr 2016 05:06:00 GMT"
=======
          "1175"
        ],
        "x-ms-request-id": [
          "88e14a70-3956-418c-82d5-e0c1e8e8c662"
        ],
        "x-ms-correlation-request-id": [
          "88e14a70-3956-418c-82d5-e0c1e8e8c662"
        ],
        "x-ms-routing-request-id": [
          "NORTHEUROPE:20160602T001958Z:88e14a70-3956-418c-82d5-e0c1e8e8c662"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ]
      },
      "StatusCode": 201
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/3312c132-fc40-493f-9c97-82d80256a313/providers/microsoft.network?api-version=2014-04-01-preview",
=======
      "RequestUri": "/subscriptions/3cfb1b34-e5a9-4f98-bf9c-e4d69a6b170c/providers/microsoft.network?api-version=2015-11-01",
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/3312c132-fc40-493f-9c97-82d80256a313/providers/microsoft.network\",\r\n  \"namespace\": \"microsoft.network\",\r\n  \"authorization\": {\r\n    \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n    \"roleDefinitionId\": \"13ba9ab4-19f0-4804-adc4-14ece36cc7a1\"\r\n  },\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"trafficmanagerprofiles\",\r\n      \"locations\": [\r\n        \"global\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-11-01\",\r\n        \"2015-04-28-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"dnszones\",\r\n      \"locations\": [\r\n        \"global\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2016-04-01\",\r\n        \"2015-05-04-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"dnsOperationResults\",\r\n      \"locations\": [\r\n        \"global\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2016-04-01\"\r\n      ]\r\n    },[...]
    {
      "RequestUri": "/subscriptions/3312c132-fc40-493f-9c97-82d80256a313/resourceGroups/hydratestdnsrg7495/providers/Microsoft.Network/dnsOperationStatuses/delzone635962071655074658e08a9069?api-version=2016-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-04-01"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net:443/subscriptions/3312c132-fc40-493f-9c97-82d80256a313/resourceGroups/hydratestdnsrg7495/providers/Microsoft.Network/dnsOperationStatuses/delzone635962071655074658e08a9069?api-version=2016-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11987"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/3312c132-fc40-493f-9c97-82d80256a313/resourceGroups/hydratestdnsrg7495/providers/Microsoft.Network/dnsOperationResults/delzone635962071655074658e08a9069?api-version=2016-04-01"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/3312c132-fc40-493f-9c97-82d80256a313/resourceGroups/hydratestdnsrg7495/providers/Microsoft.Network/dnsOperationStatuses/delzone635962071655074658e08a9069?api-version=2016-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-04-01"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net:443/subscriptions/3cfb1b34-e5a9-4f98-bf9c-e4d69a6b170c/resourceGroups/hydratestdnsrg623/providers/Microsoft.Network/dnsOperationStatuses/delzone6360042360690432109e096018?api-version=2016-04-01"
        ],
        "x-ms-request-id": [
          "a514db60-ea02-437c-bdd3-5122143f6a0f"
        ],
        "X-AspNet-Version": [
          "4.0.30319"
        ],
        "X-Powered-By": [
          "ASP.NET"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11989"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "c3be29c9-072a-4bb9-a5cb-59b8c8352ee6"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20160414T050609Z:c3be29c9-072a-4bb9-a5cb-59b8c8352ee6"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
=======
          "122756d3-5d26-4b21-ab79-95a6be6ef3ce"
        ],
        "x-ms-routing-request-id": [
          "NORTHEUROPE:20160602T002007Z:122756d3-5d26-4b21-ab79-95a6be6ef3ce"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/3cfb1b34-e5a9-4f98-bf9c-e4d69a6b170c/resourceGroups/hydratestdnsrg623/providers/Microsoft.Network/dnsOperationStatuses/delzone6360042360690432109e096018?api-version=2016-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Cache-Control": [
          "private"
        ],
        "Date": [
<<<<<<< HEAD
          "Thu, 14 Apr 2016 05:06:08 GMT"
        ],
        "Server": [
          "Microsoft-IIS/8.5"
=======
          "Thu, 02 Jun 2016 00:20:37 GMT"
        ],
        "Transfer-Encoding": [
          "chunked"
        ],
        "Server": [
          "Microsoft-IIS/8.5"
        ],
        "Vary": [
          "Accept-Encoding"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-ms-request-id": [
          "2cda5cac-c21a-4b5e-99e7-e2a785b899ec"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "X-AspNet-Version": [
          "4.0.30319"
        ],
        "X-Powered-By": [
          "ASP.NET"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11989"
        ],
        "x-m[...]
[...]
