{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourcegroups/hydratestdnsrg5003?api-version=2014-04-01-preview",
=======
      "RequestUri": "/subscriptions/5ecfd42b-521f-4e3c-b4f4-47895f445068/resourcegroups/hydratestdnsrg9678?api-version=2014-04-01-preview",
>>>>>>> origin/AutoRest
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/hydratestdnsrg5003\",\r\n  \"name\": \"hydratestdnsrg5003\",\r\n  \"location\": \"centralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/5ecfd42b-521f-4e3c-b4f4-47895f445068/resourceGroups/hydratestdnsrg9678\",\r\n  \"name\": \"hydratestdnsrg9678\",\r\n  \"location\": \"centralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
>>>>>>> origin/AutoRest
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "999998"
        ],
        "x-ms-request-id": [
          "edd472de-6259-43a8-a5bf-8b93a8bf7fc8"
        ],
        "x-ms-correlation-request-id": [
          "edd472de-6259-43a8-a5bf-8b93a8bf7fc8"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20151113T185547Z:edd472de-6259-43a8-a5bf-8b93a8bf7fc8"
=======
          "1184"
        ],
        "x-ms-request-id": [
          "ff25cb3c-d31c-4bd1-aeb6-31bd1da32455"
        ],
        "x-ms-correlation-request-id": [
          "ff25cb3c-d31c-4bd1-aeb6-31bd1da32455"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20150417T132645Z:ff25cb3c-d31c-4bd1-aeb6-31bd1da32455"
>>>>>>> origin/AutoRest
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 13 Nov 2015 18:55:47 GMT"
=======
          "Fri, 17 Apr 2015 13:26:45 GMT"
>>>>>>> origin/AutoRest
        ]
      },
      "StatusCode": 201
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/hydratestdnsrg5003/providers/Microsoft.Network/trafficmanagerprofiles/hydratestwatmv2profile9575?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"profileStatus\": \"Enabled\",\r\n    \"trafficRoutingMethod\": \"Performance\",\r\n    \"dnsConfig\": {\r\n      \"relativeName\": \"foohydratestrelativeName6297\",\r\n      \"ttl\": 35\r\n    },\r\n    \"monitorConfig\": {\r\n      \"protocol\": \"http\",\r\n      \"port\": 80,\r\n      \"path\": \"/testpath.aspx\"\r\n    },\r\n    \"endpoints\": [\r\n      {\r\n        \"name\": \"My external endpoint\",\r\n        \"type\": \"Microsoft.network/TrafficManagerProfiles/ExternalEndpoints\",\r\n        \"properties\": {\r\n          \"target\": \"foobar.contoso.com\",\r\n          \"endpointStatus\": \"Enabled\",\r\n          \"endpointLocation\": \"North Europe\"\r\n        }\r\n      }\r\n    ]\r\n  },\r\n  \"name\": \"hydratestwatmv2profile9575\",\r\n  \"type\": \"microsoft.network/trafficmanagerprofiles\",\r\n  \"location\": \"global\"\r\n}",
=======
      "RequestUri": "/subscriptions/5ecfd42b-521f-4e3c-b4f4-47895f445068/resourceGroups/hydratestdnsrg9678/providers/microsoft.network/trafficmanagerprofiles/hydratestwatmv2profile9011?api-version=2015-04-28-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"propertie[...]
