{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourcegroups/hydratestdnsrg4442?api-version=2014-04-01-preview",
=======
      "RequestUri": "/subscriptions/5ecfd42b-521f-4e3c-b4f4-47895f445068/resourcegroups/hydratestdnsrg2951?api-version=2014-04-01-preview",
>>>>>>> origin/AutoRest
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/hydratestdnsrg4442\",\r\n  \"name\": \"hydratestdnsrg4442\",\r\n  \"location\": \"centralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/5ecfd42b-521f-4e3c-b4f4-47895f445068/resourceGroups/hydratestdnsrg2951\",\r\n  \"name\": \"hydratestdnsrg2951\",\r\n  \"location\": \"centralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
>>>>>>> origin/AutoRest
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "999998"
        ],
        "x-ms-request-id": [
          "a31c05dd-3662-43f7-83e8-6c64d427e77d"
        ],
        "x-ms-correlation-request-id": [
          "a31c05dd-3662-43f7-83e8-6c64d427e77d"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20151113T185818Z:a31c05dd-3662-43f7-83e8-6c64d427e77d"
=======
          "1186"
        ],
        "x-ms-request-id": [
          "9fbf04e7-9895-4a26-91bb-55e5f0fe6ca4"
        ],
        "x-ms-correlation-request-id": [
          "9fbf04e7-9895-4a26-91bb-55e5f0fe6ca4"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20150417T132602Z:9fbf04e7-9895-4a26-91bb-55e5f0fe6ca4"
>>>>>>> origin/AutoRest
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 13 Nov 2015 18:58:18 GMT"
=======
          "Fri, 17 Apr 2015 13:26:02 GMT"
>>>>>>> origin/AutoRest
        ]
      },
      "StatusCode": 201
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/hydratestdnsrg4442/providers/Microsoft.Network/trafficmanagerprofiles/hydratestwatmv2profile8750?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"profileStatus\": \"Enabled\",\r\n    \"trafficRoutingMethod\": \"Performance\",\r\n    \"dnsConfig\": {\r\n      \"relativeName\": \"foohydratestrelativeName4752\",\r\n      \"ttl\": 35\r\n    },\r\n    \"monitorConfig\": {\r\n      \"protocol\": \"http\",\r\n      \"port\": 80,\r\n      \"path\": \"/testpath.aspx\"\r\n    }\r\n  },\r\n  \"name\": \"hydratestwatmv2profile8750\",\r\n  \"type\": \"microsoft.network/trafficmanagerprofiles\",\r\n  \"location\": \"global\"\r\n}",
=======
      "RequestUri": "/subscriptions/5ecfd42b-521f-4e3c-b4f4-47895f445068/resourceGroups/hydratestdnsrg2951/providers/microsoft.network/trafficmanagerprofiles/hydratestwatmv2profile2722?api-version=2015-04-28-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"profileStatus\": \"Enabled\",\r\n    \"trafficRoutingMethod\": \"Performance\",\r\n    \"dnsConfig\": {\[...]
