{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourcegroups/hydratestdnsrg8525?api-version=2014-04-01-preview",
=======
      "RequestUri": "/subscriptions/5ecfd42b-521f-4e3c-b4f4-47895f445068/resourcegroups/hydratestdnsrg3419?api-version=2014-04-01-preview",
>>>>>>> origin/AutoRest
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/hydratestdnsrg8525\",\r\n  \"name\": \"hydratestdnsrg8525\",\r\n  \"location\": \"centralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/5ecfd42b-521f-4e3c-b4f4-47895f445068/resourceGroups/hydratestdnsrg3419\",\r\n  \"name\": \"hydratestdnsrg3419\",\r\n  \"location\": \"centralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
>>>>>>> origin/AutoRest
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1199"
        ],
        "x-ms-request-id": [
          "9f0d9978-3dc3-4c3c-83f0-633b8eaf9b50"
        ],
        "x-ms-correlation-request-id": [
          "9f0d9978-3dc3-4c3c-83f0-633b8eaf9b50"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20151113T200013Z:9f0d9978-3dc3-4c3c-83f0-633b8eaf9b50"
=======
          "1186"
        ],
        "x-ms-request-id": [
          "b3cf6911-c397-452f-835f-5ab2f04776e3"
        ],
        "x-ms-correlation-request-id": [
          "b3cf6911-c397-452f-835f-5ab2f04776e3"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20150417T132723Z:b3cf6911-c397-452f-835f-5ab2f04776e3"
>>>>>>> origin/AutoRest
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 13 Nov 2015 20:00:13 GMT"
=======
          "Fri, 17 Apr 2015 13:27:23 GMT"
>>>>>>> origin/AutoRest
        ]
      },
      "StatusCode": 201
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/hydratestdnsrg8525/providers/Microsoft.Network/trafficmanagerprofiles/watmv2profilehydratest9950?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"profileStatus\": \"Enabled\",\r\n    \"trafficRoutingMethod\": \"Performance\",\r\n    \"dnsConfig\": {\r\n      \"relativeName\": \"foohydratestrelativeName122\",\r\n      \"ttl\": 35\r\n    },\r\n    \"monitorConfig\": {\r\n      \"protocol\": \"http\",\r\n      \"port\": 80,\r\n      \"path\": \"/testpath.aspx\"\r\n    },\r\n    \"endpoints\": [\r\n      {\r\n        \"name\": \"My external endpoint\",\r\n        \"type\": \"Microsoft.network/TrafficManagerProfiles/ExternalEndpoints\",\r\n        \"properties\": {\r\n          \"target\": \"foobar.contoso.com\",\r\n          \"endpointStatus\": \"Enabled\",\r\n          \"endpointLocation\": \"North Europe\"\r\n        }\r\n      }\r\n    ]\r\n  },\r\n  \"name\": \"watmv2profilehydratest9950\",\r\n  \"type\": \"microsoft.network/trafficmanagerprofiles\",\r\n  \"location\": \"global\"\r\n}",
=======
      "RequestUri": "/subscriptions/5ecfd42b-521f-4e3c-b4f4-47895f445068/resourceGroups/hydratestdnsrg3419/providers/microsoft.network/trafficmanagerprofiles/watmv2profilehydratest6619?api-version=2015-04-28-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"propertie[...]
