{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourcegroups/hydratestdnsrg8525?api-version=2014-04-01-preview",
=======
      "RequestUri": "/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourcegroups/resourcegroup2153?api-version=2015-11-01",
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/hydratestdnsrg8525\",\r\n  \"name\": \"hydratestdnsrg8525\",\r\n  \"location\": \"centralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/resourcegroup2153\",\r\n  \"name\": \"resourcegroup2153\",\r\n  \"location\": \"centralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1199"
        ],
        "x-ms-request-id": [
          "9f0d9978-3dc3-4c3c-83f0-633b8eaf9b50"
        ],
        "x-ms-correlation-request-id": [
          "9f0d9978-3dc3-4c3c-83f0-633b8eaf9b50"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20151113T200013Z:9f0d9978-3dc3-4c3c-83f0-633b8eaf9b50"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Fri, 13 Nov 2015 20:00:13 GMT"
=======
          "1195"
        ],
        "x-ms-request-id": [
          "655c4009-7983-47dc-bbcf-8da467ee53d5"
        ],
        "x-ms-correlation-request-id": [
          "655c4009-7983-47dc-bbcf-8da467ee53d5"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20160412T133540Z:655c4009-7983-47dc-bbcf-8da467ee53d5"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ]
      },
      "StatusCode": 201
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/hydratestdnsrg8525/providers/Microsoft.Network/trafficmanagerprofiles/watmv2profilehydratest9950?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"profileStatus\": \"Enabled\",\r\n    \"trafficRoutingMethod\": \"Performance\",\r\n    \"dnsConfig\": {\r\n      \"relativeName\": \"foohydratestrelativeName122\",\r\n      \"ttl\": 35\r\n    },\r\n    \"monitorConfig\": {\r\n      \"protocol\": \"http\",\r\n      \"port\": 80,\r\n      \"path\": \"/testpath.aspx\"\r\n    },\r\n    \"endpoints\": [\r\n      {\r\n        \"name\": \"My external endpoint\",\r\n        \"type\": \"Microsoft.network/TrafficManagerProfiles/ExternalEndpoints\",\r\n        \"properties\": {\r\n          \"target\": \"foobar.contoso.com\",\r\n          \"endpointStatus\": \"Enabled\",\r\n          \"endpointLocation\": \"North Europe\"\r\n        }\r\n      }\r\n    ]\r\n  },\r\n  \"name\": \"watmv2profilehydratest9950\",\r\n  \"type\": \"microsoft.network/trafficmanagerprofiles\",\r\n  \"location\": \"global\"\r\n}",
=======
      "RequestUri": "/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/resourcegroup2153/providers/Microsoft.Network/trafficmanagerprofiles/atmprofile544?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"profil[...]
    {
      "RequestUri": "/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/resourcegroup2153/providers/Microsoft.Network/trafficmanagerprofiles/atmprofile8204?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"profileStatus\": \"Enabled\",\r\n    \"trafficRoutingMethod\": \"Performance\",\r\n    \"dnsConfig\": {\r\n      \"relativeName\": \"atmprofile8204\",\r\n      \"ttl\": 35\r\n    },\r\n    \"monitorConfig\": {\r[...]
    {
      "RequestUri": "/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/resourcegroup2153/providers/Microsoft.Network/trafficmanagerprofiles?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/resourcegroup2153/providers/Microsoft.Network/trafficManagerProfiles/atmprofile320\",\r\n      \"name\": \"atmprofile320\",\r\n      \"type\": \"Microsoft.Network/trafficManagerProfiles\",\r\n      \"location\": \"global\",\r\n      \"properties\": {\r\n        \"profileStatus\": \"Enabled\",\r\n        \"trafficRoutingMethod\": \"Performance\",\r\n        \"dnsConfig\": {\r\n          \"relativeName\": \"atmprofile320\",\r\n          \"fqdn\": \"atmprofile320.tmpreview.watmtest.azure-test.net\",\r\n          \"ttl\": 35\r\n        },\r\n        \"monitorConfig\": {\r\n          \"profileMonitorStatus\": null,\r\n          \"protocol\": \"HTTP\",\r\n          \"port\": 80,\r\n          \"path\": \"/testpath.aspx\"\r\n        },\r\n        \"endpoints\": [\r\n          {\r\n            \"id\": \"/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/resourcegroup2153/providers/Microsoft.Network/trafficManagerProfiles/atmprofile320/externalEndpoints/My external endpoint\",\r\n            \"name\": \"My external endpoint\",\r\n            \"type\": \"Microsoft.Network/trafficManagerProfiles/externalEndpoints\",\r\n            \"properties\": {\r\n              \"endpointStatus\": \"Enabled\",\r\n              \"endpointMonitorStatus\": null,\r\n              \"target\": \"foobar.contoso.com\",\r\n              \"weight\": 1,\r\n              \"priority\": 1,\r\n              \"endpointLocation\": \"North Europe\"\r\n            }\r\n          }\r\n        ]\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/resourcegroup2153/providers/Microsoft.Network/trafficManagerProfiles/atmprofile3894\",\r\n      \"name\": \"atmprofile3894\",\r\n      \"type\": \"Microsoft.Network/trafficManagerProfiles\",\r\n      \"location\": \"global\",\r\n      \"properties\": {\r\n        \"profileStatus[...]
    {
      "RequestUri": "/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRVNPVVJDRUdST1VQMjE1My1DRU5UUkFMVVMiLCJqb2JMb2NhdGlvbiI6ImNlbnRyYWx1cyJ9?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
<<<<<<< HEAD
          "Fri, 13 Nov 2015 20:00:21 GMT"
=======
          "Tue, 12 Apr 2016 13:36:17 GMT"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Pragma": [
          "no-cache"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRVNPVVJDRUdST1VQMjE1My1DRU5UUkFMVVMiLCJqb2JMb2NhdGlvbiI6ImNlbnRyYWx1cyJ9?api-version=2015-11-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14984"
        ],
        "x-ms-request-id": [
          "c923c2ad-df0f-467e-8ca5-b6794a69ceae"
        ],
        "x-ms-correlation-request-id": [
          "c923c2ad-df0f-467e-8ca5-b6794a69ceae"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20160412T133618Z:c923c2ad-df0f-467e-8ca5-b6794a69ceae"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; inc[...]
[...]
    {
      "RequestUri": "/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRVNPVVJDRUdST1VQMjE1My1DRU5UUkFMVVMiLCJqb2JMb2NhdGlvbiI6ImNlbnRyYWx1cyJ9?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
<<<<<<< HEAD
          "Fri, 13 Nov 2015 20:00:21 GMT"
=======
          "Tue, 12 Apr 2016 13:37:48 GMT"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Pragma": [
          "no-cache"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14981"
        ],
        "x-ms-request-id": [
          "2f4cf5a6-3c6d-4f83-8cd5-e2aa706b6614"
        ],
        "x-ms-correlation-request-id": [
          "2f4cf5a6-3c6d-4f83-8cd5-e2aa706b6614"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20160412T133748Z:2f4cf5a6-3c6d-4f83-8cd5-e2aa706b6614"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
<<<<<<< HEAD
    "CreateResourceGroup": [
      "hydratestdnsrg8525"
    ],
    "ListProfilesByResourceGroup": [
      "watmv2profilehydratest9950",
      "watmv2profilehydratest1486",
      "watmv2profilehydratest7606",
      "watmv2profilehydratest8675",
      "watmv2profilehydratest1333"
    ],
    "GenerateDefaultProfile": [
      "foohydratestrelativeName122",
      "foohydratestrelativeName8042",
      "foohydratestrelativeName229",
      "foohydratestrelativeName1179",
      "foohydratestrelativeName9680"
=======
    "ListProfilesByResourceGroup": [
      "resourcegroup2153",
      "atmprofile544",
      "atmprofile320",
      "atmprofile3894",
      "atmprofile8204",
      "atmprofile9979"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
    ]
  },
  "Variables": {
    "SubscriptionId": "e68d4145-c9ae-4667-925d-c51c8d88ad73"
  }
}