{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/providers/Microsoft.Network/trafficmanagerprofiles?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/hydratestdnsrg6713/providers/Microsoft.Network/trafficManagerProfiles/hydratestwatmv2profile6953\",\r\n      \"name\": \"hydratestwatmv2profile6953\",\r\n      \"type\": \"Microsoft.Network/trafficManagerProfiles\",\r\n      \"location\": \"global\",\r\n      \"properties\": {\r\n        \"profileStatus\": \"Enabled\",\r\n        \"trafficRoutingMethod\": \"Performance\",\r\n        \"dnsConfig\": {\r\n          \"relativeName\": \"foohydratestrelativename6857\",\r\n          \"fqdn\": \"foohydratestrelativename6857.tmpreview.watmtest.azure-test.net\",\r\n          \"ttl\": 35\r\n        },\r\n        \"monitorConfig\": {\r\n          \"profileMonitorStatus\": null,\r\n          \"protocol\": \"HTTP\",\r\n          \"port\": 80,\r\n          \"path\": \"/testpath.aspx\"\r\n        },\r\n        \"endpoints\": [\r\n          {\r\n            \"id\": \"/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/hydratestdnsrg6713/providers/Microsoft.Network/trafficManagerProfiles/hydratestwatmv2profile6953/externalEndpoints/My external endpoint\",\r\n            \"name\": \"My external endpoint\",\r\n            \"type\": \"Microsoft.Network/trafficManagerProfiles/externalEndpoints\",\r\n            \"properties\": {\r\n              \"endpointStatus\": \"Enabled\",\r\n              \"endpointMonitorStatus\": null,\r\n              \"target\": \"foobar.contoso.com\",\r\n              \"weight\": 1,\r\n              \"priority\": 1,\r\n              \"endpointLocation\": \"North Europe\"\r\n            }\r\n          }\r\n        ]\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/hydratestdnsrg8525/providers/Microsoft.Network/trafficManagerProfiles/watmv2profilehydratest1333\",\r\n      \"name\": \"watmv2profilehydratest1333\",\r\n      \"type\": \"Microsoft.Network/trafficManagerProfiles\",\r\n      \"location\": \"global\",\r\n      \"properties\": {\r\n        \"profileStatus\": \"Enabled\",\[...]
    {
      "RequestUri": "/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourcegroups/hydratestdnsrg7258?api-version=2014-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/hydratestdnsrg7258\",\r\n  \"name\": \"hydratestdnsrg7258\",\r\n  \"location\": \"centralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1192"
        ]
=======
        "Cache-Control": [
          "private"
        ],
        "Date": [
          "Tue, 12 Apr 2016 13:41:02 GMT"
        ],
        "Server": [
          "Microsoft-IIS/8.5"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "x-ms-request-id": [
          "380bcd2c-8b89-443c-85b8-30be1644d652"
        ],
        "X-AspNet-Version": [
          "4.0.30319"
        ],
        "X-Powered-By": [
          "ASP.NET"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "10796"
        ],
        "x-ms-correlation-request-id": [
          "1aec6b27-4007-40e7-b605-5224f6d0164f"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20160412T134103Z:1aec6b27-4007-40e7-b605-5224f6d0164f"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ]
      },
      "StatusCode": 201
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/hydratestdnsrg4062/providers/Microsoft.Network/trafficmanagerprofiles/hydratestwatmv2profile7779?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"profileStatus\": \"Enabled\",\r\n    \"trafficRoutingMethod\": \"Performance\",\r\n    \"dnsConfig\": {\r\n      \"relativeName\": \"foohydratestrelativeName8883\",\r\n     [...]
    {
      "RequestUri": "/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/resourcegroup1622/providers/Microsoft.Network/trafficmanagerprofiles/atmprofile7460?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"profileStatus\": \"Enabled\",\r\n    \"trafficRoutingMethod\": \"Performance\",\r\n    \"dnsConfig\": {\r\n      \"relativeName\": \"atmprofile7460\",\r\n      \"ttl\": 35\r\n    },\r\n    \"monitorConfig\": {\r[...]
[...]
    {
      "RequestUri": "/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRVNPVVJDRUdST1VQMTYyMi1DRU5UUkFMVVMiLCJqb2JMb2NhdGlvbiI6ImNlbnRyYWx1cyJ9?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
<<<<<<< HEAD
          "Fri, 13 Nov 2015 20:27:59 GMT"
=======
          "Tue, 12 Apr 2016 13:41:38 GMT"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Pragma": [
          "no-cache"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRVNPVVJDRUdST1VQMTYyMi1DRU5UUkFMVVMiLCJqb2JMb2NhdGlvbiI6ImNlbnRyYWx1cyJ9?api-version=2015-11-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14993"
        ],
        "x-ms-request-id": [
          "8f571498-511a-448e-9fc8-8b70f954f7d0"
        ],
        "x-ms-correlation-request-id": [
          "8f571498-511a-448e-9fc8-8b70f954f7d0"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20160412T134139Z:8f571498-511a-448e-9fc8-8b70f954f7d0"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; inc[...]
[...]
    {
      "RequestUri": "/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRVNPVVJDRUdST1VQMTYyMi1DRU5UUkFMVVMiLCJqb2JMb2NhdGlvbiI6ImNlbnRyYWx1cyJ9?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
<<<<<<< HEAD
          "Fri, 13 Nov 2015 20:28:00 GMT"
=======
          "Tue, 12 Apr 2016 13:43:09 GMT"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Pragma": [
          "no-cache"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14990"
        ],
        "x-ms-request-id": [
          "17a722b1-7d09-4334-a639-d923d1725d14"
        ],
        "x-ms-correlation-request-id": [
          "17a722b1-7d09-4334-a639-d923d1725d14"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20160412T134309Z:17a722b1-7d09-4334-a639-d923d1725d14"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ]
      },
      "StatusCode": 201
    }
  ],
  "Names": {
<<<<<<< HEAD
    "CreateResourceGroup": [
      "hydratestdnsrg4062",
      "hydratestdnsrg7258"
    ],
    "ListAllProfiles": [
      "hydratestwatmv2profile7779",
      "hydratestwatmv2profile5063"
    ],
    "GenerateDefaultProfile": [
      "foohydratestrelativeName8883",
      "foohydratestrelativeName2266",
      "foohydratestrelativeName8270",
      "foohydratestrelativeName8172"
=======
    "ListAllProfiles": [
      "resourcegroup1622",
      "atmprofile942",
      "atmprofile3967",
      "atmprofile7802",
      "atmprofile7460",
      "atmprofile8009"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
    ]
  },
  "Variables": {
    "SubscriptionId": "e68d4145-c9ae-4667-925d-c51c8d88ad73"
  }
}