{
  "Entries": [
    {
      "RequestUri": "/4d368445-cbb1-42a7-97a6-6850ab99f48e/locations",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "<Locations xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Location>\r\n    <Name>South Central US</Name>\r\n    <DisplayName>South Central US</DisplayName>\r\n    <AvailableServices>\r\n      <AvailableService>Compute</AvailableService>\r\n      <AvailableService>Storage</AvailableService>\r\n      <AvailableService>PersistentVMRole</AvailableService>\r\n      <AvailableService>HighMemory</AvailableService>\r\n    </AvailableServices>\r\n    <ComputeCapabilities>\r\n      <WebWorkerRoleSizes>\r\n        <RoleSize>A10</RoleSize>\r\n        <RoleSize>A11</RoleSize>\r\n        <RoleSize>A5</RoleSize>\r\n        <RoleSize>A6</RoleSize>\r\n        <RoleSize>A7</RoleSize>\r\n        <RoleSize>A8</RoleSize>\r\n        <RoleSize>A9</RoleSize>\r\n        <RoleSize>ExtraLarge</RoleSize>\r\n        <RoleSize>ExtraSmall</RoleSize>\r\n        <RoleSize>Large</RoleSize>\r\n        <RoleSize>Medium</RoleSize>\r\n        <RoleSize>Small</RoleSize>\r\n        <RoleSize>Standard_D1</RoleSize>\r\n        <RoleSize>Standard_D11</RoleSize>\r\n        <RoleSize>Standard_D12</RoleSize>\r\n        <RoleSize>Standard_D13</RoleSize>\r\n        <RoleSize>Standard_D14</RoleSize>\r\n        <RoleSize>Standard_D2</RoleSize>\r\n        <RoleSize>Standard_D3</RoleSize>\r\n        <RoleSize>Standard_D4</RoleSize>\r\n      </WebWorkerRoleSizes>\r\n      <VirtualMachinesRoleSizes>\r\n        <RoleSize>A10</RoleSize>\r\n        <RoleSize>A11</RoleSize>\r\n        <RoleSize>A5</RoleSize>\r\n        <RoleSize>A6</RoleSize>\r\n        <RoleSize>A7</RoleSize>\r\n        <RoleSize>A8</RoleSize>\r\n        <RoleSize>A9</RoleSize>\r\n        <RoleSize>Basic_A0</RoleSize>\r\n        <RoleSize>Basic_A1</RoleSize>\r\n        <RoleSize>Basic_A2</RoleSize>\r\n        <RoleSize>Basic_A3</RoleSize>\r\n        <RoleSize>Basic_A4</RoleSize>\r\n        <RoleSize>ExtraLarge</RoleSize>\r\n        <RoleSize>ExtraSmall</RoleSize>\r\n        <RoleSize>Large</RoleSize>\r\n        <RoleSize>Medium</RoleSize>\r\n        <RoleSize>Small</RoleSize>\r\n        <RoleSize>Standard_D1</RoleSize>\r\n        <RoleSize>Standard_D11</RoleSize>\r\n        <RoleSize>Standard_D12</RoleSize>\r\n        <RoleSize>Standard_D13</RoleSize>\r\n        <RoleSize>Standard_D14</RoleSize>\r\n        <RoleSize>Standard_D2</RoleSize>\r\n        <RoleSize>Standard_D3</RoleSize>\r\n        <RoleSize>Standard_D4</RoleSize>\r\n      </VirtualMachinesRoleSizes>\r\n    </ComputeCapabilities>\r\n    <StorageCapabilities>\r\n      <StorageAccountTypes>\r\n        <StorageAccountType>Standard_LRS</StorageAccountType>\r\n        <StorageAccountType>Standard_ZRS</StorageAccountType>\r\n        <StorageAccountType>Standard_GRS</StorageAccountType>\r\n        <StorageAccountType>Standard_RAGRS</StorageAccountType>\r\n      </StorageAccountTypes>\r\n    </StorageCapabilities>\r\n  </Location>\r\n  <Location>\r\n    <Name>West US</Name>\r\n    <DisplayName>West US</DisplayName>\r\n    <AvailableServices>\r\n      <AvailableService>Compute</AvailableService>\r\n      <AvailableServ[...]
[...]
    {
      "RequestUri": "/4d368445-cbb1-42a7-97a6-6850ab99f48e/services/storageservices",
      "RequestMethod": "POST",
<<<<<<< HEAD
      "RequestBody": "<CreateStorageServiceInput xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <ServiceName>teststorage172</ServiceName>\r\n  <Description p2:nil=\"true\" xmlns:p2=\"http://www.w3.org/2001/XMLSchema-instance\" />\r\n  <Label>dGVzdHN0b3JhZ2UxNzI=</Label>\r\n  <Location>West US</Location>\r\n  <AccountType>Standard_LRS</AccountType>\r\n</CreateStorageServiceInput>",
=======
      "RequestBody": "<CreateStorageServiceInput xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <ServiceName>teststorage8170</ServiceName>\r\n  <Description p2:nil=\"true\" xmlns:p2=\"http://www.w3.org/2001/XMLSchema-instance\" />\r\n  <Label>dGVzdHN0b3JhZ2U4MTcw</Label>\r\n  <Location>East US</Location>\r\n  <AccountType>Standard_LRS</AccountType>\r\n</CreateStorageServiceInput>",
>>>>>>> Azure/master
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
<<<<<<< HEAD
          "d2866ccedfc78e02b86af8724c6351ed"
=======
          "a7c1c87ef1ea73ab8874a7a7e7eaad14"
>>>>>>> Azure/master
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 08 Apr 2015 01:46:13 GMT"
        ],
        "Location": [
          "https://management.core.windows.net/subscriptions/4d368445-cbb1-42a7-97a6-6850ab99f48e/storage/teststorage172"
        ],
        "Server": [
          "1.0.6198.213",
          "(rd_rdfe_stable.150402-1703)",
=======
          "Thu, 18 Feb 2016 02:54:24 GMT"
        ],
        "Location": [
          "https://management.core.windows.net/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/storage/teststorage8170"
        ],
        "Server": [
          "1.0.6198.316",
          "(rd_rdfe_stable.160210-1016)",
>>>>>>> Azure/master
          "Microsoft-HTTPAPI/2.0"
        ]
      },
      "StatusCode": 202
    },
    {
<<<<<<< HEAD
      "RequestUri": "/4d368445-cbb1-42a7-97a6-6850ab99f48e/operations/d2866ccedfc78e02b86af8724c6351ed",
=======
      "RequestUri": "/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/operations/a7c1c87ef1ea73ab8874a7a7e7eaad14",
>>>>>>> Azure/master
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>d2866cce-dfc7-8e02-b86a-f8724c6351ed</ID>\r\n  <Status>InProgress</Status>\r\n</Operation>",
=======
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>a7c1c87e-f1ea-73ab-8874-a7a7e7eaad14</ID>\r\n  <Status>InProgress</Status>\r\n</Operation>",
>>>>>>> Azure/master
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
<<<<<<< HEAD
      [...]
    {
      "RequestUri": "/4d368445-cbb1-42a7-97a6-6850ab99f48e/services/extensions",
      "RequestMethod": "POST",
<<<<<<< HEAD
      "RequestBody": "<ExtensionImage xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <ProviderNameSpace>testprovider4052</ProviderNameSpace>\r\n  <Type>testextension9307</Type>\r\n  <Version>74.59.0.0</Version>\r\n  <Label>testprovider4052</Label>\r\n  <HostingResources>VmRole</HostingResources>\r\n  <MediaLink>https://teststorage172.blob.core.windows.net/ext/RemoteAccessPlugin.zip</MediaLink>\r\n  <Certificate>\r\n    <StoreLocation>LocalMachine</StoreLocation>\r\n    <StoreName>My</StoreName>\r\n    <ThumbprintRequired>true</ThumbprintRequired>\r\n    <ThumbprintAlgorithm>sha1</ThumbprintAlgorithm>\r\n  </Certificate>\r\n  <Endpoints>\r\n    <InputEndpoints>\r\n      <InputEndpoint>\r\n        <Name>Test1</Name>\r\n        <Protocol>tcp</Protocol>\r\n        <Port>1111</Port>\r\n        <LocalPort>11111</LocalPort>\r\n      </InputEndpoint>\r\n      <InputEndpoint>\r\n        <Name>Test2</Name>\r\n        <Protocol>tcp</Protocol>\r\n        <Port>2222</Port>\r\n        <LocalPort>22222</LocalPort>\r\n      </InputEndpoint>\r\n    </InputEndpoints>\r\n    <InternalEndpoints>\r\n      <InternalEndpoint>\r\n        <Name>Test1</Name>\r\n        <Protocol>tcp</Protocol>\r\n        <Port>1111</Port>\r\n      </InternalEndpoint>\r\n      <InternalEndpoint>\r\n        <Name>Test2</Name>\r\n        <Protocol>tcp</Protocol>\r\n        <Port>2222</Port>\r\n      </InternalEndpoint>\r\n    </InternalEndpoints>\r\n  </Endpoints>\r\n  <PublicConfigurationSchema>PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48eHM6c2NoZW1hIGF0dHJpYnV0ZUZvcm1EZWZhdWx0PSJ1bnF1YWxpZmllZCIgIGVsZW1lbnRGb3JtRGVmYXVsdD0icXVhbGlmaWVkIiAgeG1sbnM6eHM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDEvWE1MU2NoZW1hIj4gIDx4czplbGVtZW50IG5hbWU9IlB1YmxpY0NvbmZpZyI+ICAgIDx4czpjb21wbGV4VHlwZT4gICAgICA8eHM6c2VxdWVuY2U+ICAgICAgICA8eHM6ZWxlbWVudCBuYW1lPSJVc2VyTmFtZSIgdHlwZT0ieHM6c3RyaW5nIiAvPiAgICAgIDwveHM6c2VxdWVuY2U+ICAgIDwveHM6Y29tcGxleFR5cGU+ICA8L3hzOmVsZW1lbnQ+PC94czpzY2hlbWE+</PublicConfigurationSchema>\r\n  <PrivateConfigurationSchema>PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48eHM6c2NoZW1hIGF0dHJpYnV0ZUZvcm1EZWZhdWx0PSJ1bnF1YWxpZmllZCIgIGVsZW1lbnRGb3JtRGVmYXVsdD0icXVhbGlmaWVkIiAgeG1sbnM6eHM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDEvWE1MU2NoZW1hIj4gIDx4czplbGVtZW50IG5hbWU9IlByaXZhdGVDb25maWciPiAgICA8eHM6Y29tcGxleFR5cGU+ICAgICAgPHhzOnNlcXVlbmNlPiAgICAgICAgPHhzOmVsZW1lbnQgbmFtZT0iUGFzc3dvcmQiIHR5cGU9InhzOnN0cmluZyIgLz4gICAgICA8L3hzOnNlcXVlbmNlPiAgICA8L3hzOmNvbXBsZXhUeXBlPiAgPC94czplbGVtZW50PjwveHM6c2NoZW1hPg==</PrivateConfigurationSchema>\r\n  <Description>testprovider4052</Description>\r\n  <PublishedDate>2015-04-08T01:46:48.7398646Z</PublishedDate>\r\n  <LocalResources>\r\n    <LocalResource>\r\n      <Name>Test1</Name>\r\n      <SizeInMB>100</SizeInMB>\r\n    </LocalResource>\r\n    <LocalResource>\r\n      <Name>Test2</Name>\r\n      <SizeInMB>200</SizeInMB>\r\n    </LocalResource>\r\n  </LocalResources>\r\n  <BlockRoleUponFailure>false</BlockRoleUponFailure>\r\n  <IsInternalExtension>true</IsInternalExtension>\r\n  <SampleConfig>TestSampleConfig</SampleConfig>\r\n  <Eula>http://test.com/</Eula>\r\n  <PrivacyUri>http://test.com/</PrivacyUri>\r\n  <HomepageUri>http://test.com/</HomepageUri>\r\n  <IsJsonExtension>false</IsJsonExtension>\r\n  <DisallowMajorVersionUpgrade>true</DisallowMajorVersionUpgrade>\r\n  <SupportedOS>Windows</SupportedOS>\r\n  <CompanyName>testprovider4052</CompanyName>\r\n  <Regions>West US</Regions>\r\n</ExtensionImage>",
=======
      "RequestBody": "<ExtensionImage xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <ProviderNameSpace>testprovider506</ProviderNameSpace>\r\n  <Type>testextension3258</Type>\r\n  <Version>74.59.0.0</Version>\r\n  <Label>testprovider506</Label>\r\n  <HostingResources>VmRole</HostingResources>\r\n  <MediaLink>https://teststorage8170.blob.core.windows.net/ext/RemoteAccessPlugin.zip</MediaLink>\r\n  <Certificate>\r\n    <StoreLocation>LocalMachine</StoreLocation>\r\n    <StoreName>My</StoreName>\r\n    <ThumbprintRequired>true</ThumbprintRequired>\r\n    <ThumbprintAlgorithm>sha1</ThumbprintAlgorithm>\r\n  </Certificate>\r\n  <Endpoints>\r\n    <InputEndpoints>\r\n      <InputEndpoint>\r\n        <Name>Test1</Name>\r\n        <Protocol>tcp</Protocol>\r\n        <Port>1111</Port>\r\n        <LocalPort>*</LocalPort>\r\n      </InputEndpoint>\r\n      <InputEndpoint>\r\n        <Name>Test2</Name>\r\n        <Protocol>tcp</Protocol>\r\n        <Port>2222</Port>\r\n        <LocalPort>22222</LocalPort>\r\n      </InputEndpoint>\r\n    </InputEndpoints>\r\n    <InternalEndpoints>\r\n      <InternalEndpoint>\r\n        <Name>Test1</Name>\r\n        <Protocol>tcp</Protocol>\r\n        <Port>1111</Port>\r\n      </InternalEndpoint>\r\n      <InternalEndpoint>\r\n        <Name>Test2</Name>\r\n        <Protocol>tcp</Protocol>\r\n        <Port>2222</Port>\r\n      </InternalEndpoint>\r\n    </InternalEndpoints>\r\n    <InstanceInputEndpoints>\r\n      <InstanceInputEndpoint>\r\n        <Name>Test1</Name>\r\n        <Protocol>tcp</Protocol>\r\n        <LocalPort>111</LocalPort>\r\n        <FixedPortMin>100</FixedPortMin>\r\n        <FixedPortMax>1000</FixedPortMax>\r\n      </InstanceInputEndpoint>\r\n      <InstanceInputEndpoint>\r\n        <Name>Test2</Name>\r\n        <Protocol>tcp</Protocol>\r\n        <LocalPort>22</LocalPort>\r\n        <FixedPortMin>2000</FixedPortMin>\r\n        <FixedPortMax>10000</FixedPortMax>\r\n      </InstanceInputEndpoint>\r\n    </InstanceInputEndpoints>\r\n  </Endpoints>\r\n  <PublicConfigurationSchema>PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48eHM6c2NoZW1hIGF0dHJpYnV0ZUZvcm1EZWZhdWx0PSJ1bnF1YW[...]
    {
      "RequestUri": "/4d368445-cbb1-42a7-97a6-6850ab99f48e/services/extensions?action=update",
      "RequestMethod": "PUT",
<<<<<<< HEAD
      "RequestBody": "<ExtensionImage xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <ProviderNameSpace>testprovider4052</ProviderNameSpace>\r\n  <Type>testextension9307</Type>\r\n  <Version>74.60.0.0</Version>\r\n  <Label>testprovider4052</Label>\r\n  <HostingResources>VmRole</HostingResources>\r\n  <MediaLink>https://teststorage172.blob.core[...]
    {
      "RequestUri": "/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/services/publisherextensions",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-09-01"
        ]
      },
      "ResponseBody": "<Error xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Code>ForbiddenError</Code>\r\n  <Message>This operation is not allowed for this subscription.</Message>\r\n</Error>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
>>>>>>> Azure/master
          "Microsoft-HTTPAPI/2.0"
        ]
      },
      "StatusCode": 403
    }
  ],
  "Names": {
    "CanRegisterUpdateAndUnregisterExtensionImage": [
<<<<<<< HEAD
      "teststorage172",
      "testprovider4052",
      "testextension9307"
=======
      "teststorage8170",
      "testprovider506",
      "testextension3258"
>>>>>>> Azure/master
    ]
  },
  "Variables": {
    "SubscriptionId": "4d368445-cbb1-42a7-97a6-6850ab99f48e"
  }
}