{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourcegroups/res1064?api-version=2014-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\"\r\n}",
=======
      "RequestUri": "/subscriptions/28adf6bf-ce46-4eb0-ba29-b6d1a69ab859/resourcegroups/res4470?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastasia\"\r\n}",
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
<<<<<<< HEAD
          "28"
=======
          "30"
        ],
        "x-ms-client-request-id": [
          "5a49d838-7007-4e7f-b889-f29942e18861"
        ],
        "accept-language": [
          "en-US"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourceGroups/res1064\",\r\n  \"name\": \"res1064\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/28adf6bf-ce46-4eb0-ba29-b6d1a69ab859/resourceGroups/res4470\",\r\n  \"name\": \"res4470\",\r\n  \"location\": \"eastasia\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1192"
        ]
<<<<<<< HEAD
          "da74aa1f-165d-496a-9874-a453a11b2b5b"
        ],
        "x-ms-correlation-request-id": [
          "da74aa1f-165d-496a-9874-a453a11b2b5b"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20150929T010904Z:da74aa1f-165d-496a-9874-a453a11b2b5b"
=======
          "a767e99d-6dc4-4267-bf38-70d2c3aea3dc"
        ],
        "x-ms-correlation-request-id": [
          "a767e99d-6dc4-4267-bf38-70d2c3aea3dc"
        ],
        "x-ms-routing-request-id": [
          "NORTHCENTRALUS:20160411T170509Z:a767e99d-6dc4-4267-bf38-70d2c3aea3dc"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 29 Sep 2015 01:09:04 GMT"
=======
          "Mon, 11 Apr 2016 17:05:08 GMT"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ]
      },
      "StatusCode": 201
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourceGroups/res1064/providers/Microsoft.Storage/storageAccounts/sto5154?api-version=2015-06-15",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\",\r\n  \"tags\": {\r\n    \"key1\": \"value1\",\r\n    \"key2\": \"value2\"\r\n  },\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_GRS\"\r\n  }\r\n}",
=======
      "RequestUri": "/subscriptions/28adf6bf-ce46-4eb0-ba29-b6d1a69ab859/resourceGroups/res4470/providers/Microsoft.Storage/storageAccounts/sto2755?api-version=2016-01-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\"\r\n  },\r\n  \"kind\": \"Storage\",\r\n  \"location\": \"eastasia\",\r\n  \"tags\": {\r\n    \"key1\": \"value1\",\r\n    \"key2\": \"value2\"\r\n  }\r\n}",
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
<<<<<<< HEAD
          "152"
        ],
        "x-ms-client-request-id": [
          "060b2cb4-3dc5-4799-8b1a-317ab2c51775"
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Storage.StorageManagementClient/3.0.0.0"
=======
          "162"
        ],
        "x-ms-client-request-id": [
          "5429b41f-c957-4e62-bbd6-48eb42703627"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Storage.StorageManagementClient/4.0.0.0"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "25"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1191"
        ],
        "x-ms-request-id": [
          "1fa20b4e-717f-495e-8bfe-37b57c653a63"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/providers/Microsoft.Storage/operations/2aa7402e-b95c-4467-a7b1-6f850a7f45b9?monitor=true&api-version=2015-06-15"
        ],
        "Server": [
          "Microsoft-Azure-Storage-Resource-Provider/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-correlation-request-id": [
          "1fa20b4e-717f-495e-8bfe-37b57c653a63"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20150929T010906Z:1fa20b4e-717f-495e-8bfe-37b57c653a63"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Date": [
          "Tue, 29 Sep 2015 01:09:05 GMT"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/providers/Microsoft.Storage/operations/2aa7402e-b95c-4467-a7b1-6f850a7f45b9?monitor=true&api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "25"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14980"
        ]
=======
          "1198"
   [...]
    {
      "RequestUri": "/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourceGroups/res1064/providers/Microsoft.Storage/storageAccounts/sto5154/listKeys?api-version=2015-06-15",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"key1\": \"v6fD7UA8zoRUEKk6eZcRL/UTa1zcMEOG7oltWZA+JlGaLsTGjfhpqBBvMMQ+SaHiOpamwkJefjh+ly1vNLkSRw==\",\r\n  \"key2\": \"rRa0Q4JsbyCcNfiNpNo6cvO/VzNntXqelBPOTBeTYyFv0ur/e3iRB2ly4N6uuTTXCUvFaClnFsEJh3Knr5O2Aw==\"\r\n}",
      "ResponseHeaders": {
=======
          "7b036551-103e-46f7-a5fc-fba27e6d00b3"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Storage.StorageManagementClient/4.0.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"keys\": [\r\n    {\r\n      \"keyName\": \"key1\",\r\n      \"permissions\": \"Full\",\r\n      \"value\": \"Q4vJ/vBd1WU6lJGFUE/DJ9ipgiwAmr9MZvPjZFGRS2Mx/led/conuoYi33q5lUqm+bVvTcYcAS57Tj4ZyYWSyA==\"\r\n    },\r\n    {\r\n      \"keyName\": \"key2\",\r\n      \"permissions\": \"Full\",\r\n      \"value\": \"cIj4fPN83RCZwESJB/ddg3FjRVjzlIubxC0MG0ewY+kCSHtq2u9J7ww5Di7e5gdpub7tkUiz+FGF64L2q32VnQ==\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Content-Type": [
          "application/json"
        ],
        "Expires": [
          "-1"
        ],
        "Pragma": [
          "no-cache"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "c1106e77-33a2-4222-95cf-a9007bcb5f19"
=======
          "da90b7a0-c0da-442e-a308-893402a5ecf5"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Server": [
          "Microsoft-Azure-Storage-Resource-Provider/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1189"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "c1106e77-33a2-4222-95cf-a9007bcb5f19"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20150929T010932Z:c1106e77-33a2-4222-95cf-a9007bcb5f19"
=======
          "da90b7a0-c0da-442e-a308-893402a5ecf5"
        ],
        "x-ms-routing-request-id": [
          "NORTHCENTRALUS:20160411T170544Z:da90b7a0-c0da-442e-a308-893402a5ecf5"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 29 Sep 2015 01:09:31 GMT"
=======
          "Mon, 11 Apr 2016 17:05:43 GMT"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "CreateResourceGroup": [
<<<<<<< HEAD
      "res1064"
    ],
    "CreateStorageAccount": [
      "sto5154"
    ]
  },
  "Variables": {
    "SubscriptionId": "a30cdbf0-fdca-455d-aa6e-2e7a52732956"
=======
      "res4470"
    ],
    "CreateStorageAccount": [
      "sto2755"
    ]
  },
  "Variables": {
    "SubscriptionId": "28adf6bf-ce46-4eb0-ba29-b6d1a69ab859"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
  }
}