{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourcegroups/res3529?api-version=2014-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\"\r\n}",
=======
      "RequestUri": "/subscriptions/28adf6bf-ce46-4eb0-ba29-b6d1a69ab859/resourcegroups/res4381?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastasia\"\r\n}",
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
<<<<<<< HEAD
          "28"
=======
          "30"
        ],
        "x-ms-client-request-id": [
          "79620570-9593-4439-9d47-72192d5e636d"
        ],
        "accept-language": [
          "en-US"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourceGroups/res3529\",\r\n  \"name\": \"res3529\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/28adf6bf-ce46-4eb0-ba29-b6d1a69ab859/resourceGroups/res4381\",\r\n  \"name\": \"res4381\",\r\n  \"location\": \"eastasia\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
<<<<<<< HEAD
          "7c216e83-2162-463c-b98d-fd3ceffeaf07"
        ],
        "x-ms-correlation-request-id": [
          "7c216e83-2162-463c-b98d-fd3ceffeaf07"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20150929T010215Z:7c216e83-2162-463c-b98d-fd3ceffeaf07"
=======
          "e3b82185-016a-476c-bb37-ac33d02c84ac"
        ],
        "x-ms-correlation-request-id": [
          "e3b82185-016a-476c-bb37-ac33d02c84ac"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20160411T172049Z:e3b82185-016a-476c-bb37-ac33d02c84ac"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 29 Sep 2015 01:02:15 GMT"
=======
          "Mon, 11 Apr 2016 17:20:49 GMT"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ]
      },
      "StatusCode": 201
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourceGroups/res3529/providers/Microsoft.Storage/storageAccounts/sto9446?api-version=2015-06-15",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\",\r\n  \"tags\": {\r\n    \"key1\": \"value1\",\r\n    \"key2\": \"value2\"\r\n  },\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_GRS\"\r\n  }\r\n}",
=======
      "RequestUri": "/subscriptions/28adf6bf-ce46-4eb0-ba29-b6d1a69ab859/resourceGroups/res4381/providers/Microsoft.Storage/storageAccounts/sto7885?api-version=2016-01-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\"\r\n  },\r\n  \"kind\": \"Storage\",\r\n  \"location\": \"eastasia\",\r\n  \"tags\": {\r\n    \"key1\": \"value1\",\r\n    \"key2\": \"value2\"\r\n  }\r\n}",
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
<<<<<<< HEAD
          "152"
        ],
        "x-ms-client-request-id": [
          "97ed28b8-694d-410e-9853-5975a9b59ff4"
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Storage.StorageManagementClient/3.0.0.0"
=======
          "162"
        ],
        "x-ms-client-request-id": [
          "dfdf79e9-e874-4af9-adc2-b5a6eebb7516"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Storage.StorageManagementClient/4.0.0.0"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "25"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
<<<<<<< HEAD
          "602de87e-9e63-4f41-b50f-230f3c4cda98"
=======
          "8e003454-e6dd-436e-9a55-e46e5e4dd98e"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Location": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/providers/Microsoft.Storage/operations/6b4a3fc3-3590-44b1-93a6-5c8ff8eb6fd4?monitor=true&api-version=2015-06-15"
=======
          "https://management.azure.com/subscriptions/28adf6bf-ce46-4eb0-ba29-b6d1a69ab859/providers/Microsoft.Storage/operations/cb74abd1-c732-4dbb-8833-45c568b1ade4?monitor=true&api-version=2016-01-01"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Server": [
          "Microsoft-Azure-Storage-Resource-Provider/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "602de87e-9e63-4f41-b50f-230f3c4cda98"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20150929T010217Z:602de87e-9e63-4f41-b50f-230f3c4cda98"
=======
          "8e003454-e6dd-436e-9a55-e46e5e4dd98e"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20160411T172052Z:8e003454-e6dd-436e-9a55-e46e5[...]
    {
      "RequestUri": "/subscriptions/28adf6bf-ce46-4eb0-ba29-b6d1a69ab859/resourceGroups/res4381/providers/Microsoft.Storage/storageAccounts/sto7885?api-version=2016-01-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/28adf6bf-ce46-4eb0-ba29-b6d1a69ab859/resourceGroups/res4381/providers/Microsoft.Storage/storageAccounts/sto7885\",\r\n  \"kind\": \"Storage\",\r\n  \"location\": \"eastasia\",\r\n  \"name\": \"sto7885\",\r\n  \"properties\": {\r\n    \"creationTime\": \"2016-04-11T17:20:52.1521062Z\",\r\n    \"encryption\": {\r\n      \"keySource\": \"Microsoft.Storage\",\r\n      \"services\": {\r\n        \"blob\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2016-04-11T17:21:30.5053428Z\"\r\n        }\r\n      }\r\n    },\r\n    \"primaryEndpoints\": {\r\n      \"blob\": \"https://sto7885.blob.core.windows.net/\",\r\n      \"file\": \"https://sto7885.file.core.windows.net/\",\r\n      \"queue\": \"https://sto7885.queue.core.windows.net/\",\r\n      \"table\": \"https://sto7885.table.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"eastasia\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"statusOfPrimary\": \"available\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard_LRS\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"tags\": {\r\n    \"key3\": \"value3\",\r\n    \"key4\": \"value4\",\r\n    \"key5\": \"value6\"\r\n  },\r\n  \"type\": \"Microsoft.Storage/storageAccounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Expires": [
          "-1"
        ],
        "Pragma": [
          "no-cache"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "b53467fe-6c1a-4e6a-a198-215681db4e8a"
=======
          "b7849ed1-e3fd-42c3-954a-a1989c6aff54"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Server": [
          "Microsoft-Azure-Storage-Resource-Provider/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "14993"
        ],
        "x-ms-correlation-request-id": [
          "b53467fe-6c1a-4e6a-a198-215681db4e8a"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20150929T010247Z:b53467fe-6c1a-4e6a-a198-215681db4e8a"
=======
          "14996"
        ],
        "x-ms-correlation-request-id": [
          "b7849ed1-e3fd-42c3-954a-a1989c6aff54"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20160411T172131Z:b7849ed1-e3fd-42c3-954a-a1989c6aff54"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 29 Sep 2015 01:02:46 GMT"
=======
          "Mon, 11 Apr 2016 17:21:31 GMT"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "CreateResourceGroup": [
<<<<<<< HEAD
      "res3529"
    ],
    "CreateStorageAccount": [
      "sto9446"
    ]
  },
  "Variables": {
    "SubscriptionId": "a30cdbf0-fdca-455d-aa6e-2e7a52732956"
=======
      "res4381"
    ],
    "CreateStorageAccount": [
      "sto7885"
    ]
  },
  "Variables": {
    "SubscriptionId": "28adf6bf-ce46-4eb0-ba29-b6d1a69ab859"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
  }
}