{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourcegroups/res4348?api-version=2014-04-01-preview",
=======
      "RequestUri": "/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourcegroups/res4362?api-version=2014-04-01-preview",
>>>>>>> origin/AutoRest
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
<<<<<<< HEAD
=======
        ],
        "x-ms-client-request-id": [
          "08363957-6719-4029-97f0-648a20d14410"
        ],
        "accept-language": [
          "en-US"
>>>>>>> origin/AutoRest
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourceGroups/res4348\",\r\n  \"name\": \"res4348\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourceGroups/res4362\",\r\n  \"name\": \"res4362\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
>>>>>>> origin/AutoRest
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1194"
        ],
        "x-ms-request-id": [
          "46edaa15-3bd6-4be9-8497-ea1abf9bce04"
        ],
        "x-ms-correlation-request-id": [
          "46edaa15-3bd6-4be9-8497-ea1abf9bce04"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20150929T010616Z:46edaa15-3bd6-4be9-8497-ea1abf9bce04"
=======
          "1197"
        ],
        "x-ms-request-id": [
          "ecc398a2-ba8f-45b7-ae3d-51abe98c2e7e"
        ],
        "x-ms-correlation-request-id": [
          "ecc398a2-ba8f-45b7-ae3d-51abe98c2e7e"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20151113T175437Z:ecc398a2-ba8f-45b7-ae3d-51abe98c2e7e"
>>>>>>> origin/AutoRest
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 29 Sep 2015 01:06:15 GMT"
=======
          "Fri, 13 Nov 2015 17:54:37 GMT"
>>>>>>> origin/AutoRest
        ]
      },
      "StatusCode": 201
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourceGroups/res4348/providers/Microsoft.Storage/storageAccounts/sto6692?api-version=2015-06-15",
=======
      "RequestUri": "/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourceGroups/res4362/providers/Microsoft.Storage/storageAccounts/sto1359?api-version=2015-06-15",
>>>>>>> origin/AutoRest
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\",\r\n  \"tags\": {\r\n    \"key1\": \"value1\",\r\n    \"key2\": \"value2\"\r\n  },\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_GRS\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
<<<<<<< HEAD
          "95a86817-dc95-4a7a-89cc-7adafc85a5b6"
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Storage.StorageManagementClient/3.0.0.0"
=======
          "7790bef5-732a-4e9d-bccf-b98bd37ec666"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Storage.StorageManagementClient/2.0.0.0"
>>>>>>> origin/AutoRest
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "25"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1193"
        ],
        "x-ms-request-id": [
          "f355d6fe-e59c-4d0f-9688-b2887ee488d6"
=======
          "1199"
        ],
        "x-ms-request-id": [
          "8ef33c66-aee7-4f63-9f9c-685af31ac39d"
>>>>>>> origin/AutoRest
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Location": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/providers/Microsoft.Storage/operations/14780ff2-4561-482a-9dfa-c02f640ccc6d?monitor=true&api-version=2015-06-15"
=======
          "https://management.azure.com/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/providers/Microsoft.Storage/operations/c00a711d-d835-4a84-acc5-86170bf42039?monitor=true&api-version=2015-06-15"
>>>>>>> origin/AutoRest
        ],
        "Server": [
          "Microsoft-Azure-Storage-Resource-Provider/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "f355d6fe-e59c-4d0f-9688-b2887ee488d6"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20150929T010617Z:f355d6fe-e59c-4d0f-9688-b2887ee488d6"
=======
          "8ef33c66-aee7-4f63-9f9c-685af31ac39d"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20151113T175441Z:8ef33c66-aee7-4f63-9f9c-685af[...]
    {
      "RequestUri": "/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/providers/Microsoft.Storage/operations/14780ff2-4561-482a-9dfa-c02f640ccc6d?monitor=true&api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
=======
      "RequestUri": "/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/providers/Microsoft.Storage/operations/c00a711d-d835-4a84-acc5-86170bf42039?monitor=true&api-version=2015-06-15",
      "RequestMethod": "GET",
 [...]
[...]
