{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourcegroups/res2256?api-version=2014-04-01-preview",
=======
      "RequestUri": "/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourcegroups/res2860?api-version=2014-04-01-preview",
>>>>>>> origin/AutoRest
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
<<<<<<< HEAD
=======
        ],
        "x-ms-client-request-id": [
          "3351b8ae-b417-4837-84db-4f873e0828ea"
        ],
        "accept-language": [
          "en-US"
>>>>>>> origin/AutoRest
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourceGroups/res2256\",\r\n  \"name\": \"res2256\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourceGroups/res2860\",\r\n  \"name\": \"res2860\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
>>>>>>> origin/AutoRest
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1186"
        ],
        "x-ms-request-id": [
          "b1e71397-25e8-4bce-b217-9d6ef6468d3c"
        ],
        "x-ms-correlation-request-id": [
          "b1e71397-25e8-4bce-b217-9d6ef6468d3c"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20150929T011013Z:b1e71397-25e8-4bce-b217-9d6ef6468d3c"
=======
          "1195"
        ],
        "x-ms-request-id": [
          "4933b804-d966-4446-8c9c-655d70e2a884"
        ],
        "x-ms-correlation-request-id": [
          "4933b804-d966-4446-8c9c-655d70e2a884"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20151113T180148Z:4933b804-d966-4446-8c9c-655d70e2a884"
>>>>>>> origin/AutoRest
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 29 Sep 2015 01:10:13 GMT"
=======
          "Fri, 13 Nov 2015 18:01:48 GMT"
>>>>>>> origin/AutoRest
        ]
      },
      "StatusCode": 201
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourceGroups/res2256/providers/Microsoft.Storage/storageAccounts/missingaccount?api-version=2015-06-15",
=======
      "RequestUri": "/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourceGroups/res2860/providers/Microsoft.Storage/storageAccounts/missingaccount?api-version=2015-06-15",
>>>>>>> origin/AutoRest
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeade[...]
    {
      "RequestUri": "/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/providers/Microsoft.Storage/operations/84d7abdc-3def-4911-a131-56a1f570e7d9?monitor=true&api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "25"
=======
          "1196"
>>>>>>> origin/AutoRest
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14977"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "e13d5616-4e7d-4495-936e-2d6abc63fe5b"
=======
          "63641590-bf18-4441-9b16-4c4e529d123f"
>>>>>>> origin/AutoRest
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Location": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/providers/Microsoft.Storage/operations/84d7abdc-3def-4911-a131-56a1f570e7d9?monitor=true&api-version=2015-06-15"
=======
          "https://management.azure.com/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/providers/Microsoft.Storage/operations/9e39c1ed-c6b7-4c2b-9e00-2f515ef3f251?monitor=true&api-version=2015-06-15"
>>>>>>> origin/AutoRest
        ],
        "Server": [
          "Microsoft-Azure-Storage-Resource-Provider/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "e13d5616-4e7d-4495-936e-2d6abc63fe5b"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20150929T011015Z:e13d5616-4e7d-4495-936e-2d6abc63fe5b"
=======
          "63641590-bf18-4441-9b16-4c4e529d123f"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20151113T180150Z:63641590-bf18-4441-9b16-4c4e5[...]
