{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourcegroups/res6164?api-version=2014-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\"\r\n}",
=======
      "RequestUri": "/subscriptions/28adf6bf-ce46-4eb0-ba29-b6d1a69ab859/resourcegroups/res6545?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastasia\"\r\n}",
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
<<<<<<< HEAD
          "28"
=======
          "30"
        ],
        "x-ms-client-request-id": [
          "b36531f5-1555-41fb-9be9-9bd0501da6e7"
        ],
        "accept-language": [
          "en-US"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourceGroups/res6164\",\r\n  \"name\": \"res6164\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/28adf6bf-ce46-4eb0-ba29-b6d1a69ab859/resourceGroups/res6545\",\r\n  \"name\": \"res6545\",\r\n  \"location\": \"eastasia\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
<<<<<<< HEAD
          "327fbffa-e12e-4851-b836-b07a00b226e1"
        ],
        "x-ms-correlation-request-id": [
          "327fbffa-e12e-4851-b836-b07a00b226e1"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20150929T005629Z:327fbffa-e12e-4851-b836-b07a00b226e1"
=======
          "2d168a37-a8e4-47f7-a4ea-36a2d454d313"
        ],
        "x-ms-correlation-request-id": [
          "2d168a37-a8e4-47f7-a4ea-36a2d454d313"
        ],
        "x-ms-routing-request-id": [
          "NORTHCENTRALUS:20160411T171517Z:2d168a37-a8e4-47f7-a4ea-36a2d454d313"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 29 Sep 2015 00:56:28 GMT"
=======
          "Mon, 11 Apr 2016 17:15:16 GMT"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ]
      },
      "StatusCode": 201
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourceGroups/res6164/providers/Microsoft.Storage/storageAccounts?api-version=2015-06-15",
=======
      "RequestUri": "/subscriptions/28adf6bf-ce46-4eb0-ba29-b6d1a69ab859/resourceGroups/res6545/providers/Microsoft.Storage/storageAccounts?api-version=2016-01-01",
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "7ca04f7a-da45-4f3f-ad9e-335b0365ff38"
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Storage.StorageManagementClient/3.0.0.0"
=======
          "580b3bb5-ff17-4c38-a69d-6c38dd40cfda"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Storage.StorageManagementClient/4.0.0.0"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ]
<<<<<<< HEAD
          "22294db0-006e-4b07-88ea-fe9ff8683597"
=======
          "f8e240e0-960c-43f6-9b42-50622d5ea184"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Server": [
          "Microsoft-Azure-Storage-Resource-Provider/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "22294db0-006e-4b07-88ea-fe9ff8683597"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20150929T005629Z:22294db0-006e-4b07-88ea-fe9ff8683597"
=======
          "f8e240e0-960c-43f6-9b42-50622d5ea184"
        ],
        "x-ms-r[...]
    {
      "RequestUri": "/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/providers/Microsoft.Storage/operations/cb5f0490-bd34-4406-8d74-fddc3e40d2d1?monitor=true&api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "25"
=======
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14998"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "eb17d22a-b2cc-487b-8814-53b44102ce3b"
=======
          "15b22585-9ece-4830-8405-652f5aba87a9"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Location": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/providers/Microsoft.Storage/operations/cb5f0490-bd34-4406-8d74-fddc3e40d2d1?monitor=true&api-version=2015-06-15"
=======
          "https://management.azure.com/subscriptions/28adf6bf-ce46-4eb0-ba29-b6d1a69ab859/providers/Microsoft.Storage/operations/aa4753cb-d1db-42ec-a28d-9ead566f0806?monitor=true&api-version=2016-01-01"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        [...]
[...]
