{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourcegroups/res4834?api-version=2014-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\"\r\n}",
=======
      "RequestUri": "/subscriptions/28adf6bf-ce46-4eb0-ba29-b6d1a69ab859/resourcegroups/res4055?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastasia\"\r\n}",
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
<<<<<<< HEAD
          "28"
=======
          "30"
        ],
        "x-ms-client-request-id": [
          "195aac73-d27b-4cfa-85b7-df59e9ba52a8"
        ],
        "accept-language": [
          "en-US"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourceGroups/res4834\",\r\n  \"name\": \"res4834\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/28adf6bf-ce46-4eb0-ba29-b6d1a69ab859/resourceGroups/res4055\",\r\n  \"name\": \"res4055\",\r\n  \"location\": \"eastasia\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1193"
        ],
        "x-ms-request-id": [
          "11c7f4e9-b3a1-4e3d-826c-ed6e697a0b3f"
        ],
        "x-ms-correlation-request-id": [
          "11c7f4e9-b3a1-4e3d-826c-ed6e697a0b3f"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20150929T010754Z:11c7f4e9-b3a1-4e3d-826c-ed6e697a0b3f"
=======
          "1195"
        ],
        "x-ms-request-id": [
          "dca90097-cea6-4baa-ba38-1d3913de3215"
        ],
        "x-ms-correlation-request-id": [
          "dca90097-cea6-4baa-ba38-1d3913de3215"
        ],
        "x-ms-routing-request-id": [
          "NORTHCENTRALUS:20160411T172357Z:dca90097-cea6-4baa-ba38-1d3913de3215"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 29 Sep 2015 01:07:53 GMT"
=======
          "Mon, 11 Apr 2016 17:23:56 GMT"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ]
      },
      "StatusCode": 201
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourceGroups/res4834/providers/Microsoft.Storage/storageAccounts/sto8193?api-version=2015-06-15",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\",\r\n  \"tags\": {\r\n    \"key1\": \"value1\",\r\n    \"key2\": \"value2\"\r\n  },\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_GRS\"\r\n  }\r\n}",
=======
      "RequestUri": "/subscriptions/28adf6bf-ce46-4eb0-ba29-b6d1a69ab859/resourceGroups/res4055/providers/Microsoft.Storage/storageAccounts/sto7065?api-version=2016-01-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\"\r\n  },\r\n  \"kind\": \"Storage\",\r\n  \"location\": \"eastasia\",\r\n  \"tags\": {\r\n    \"key1\": \"value1\",\r\n    \"key2\": \"value2\"\r\n  }\r\n}",
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
<<<<<<< HEAD
          "152"
        ],
        "x-ms-client-request-id": [
          "a1e22a36-9980-4eb8-86e3-226951f5fd50"
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Storage.StorageManagementClient/3.0.0.0"
=======
          "162"
        ],
        "x-ms-client-request-id": [
          "36ce2c60-b759-4ff3-a6ca-3037ea65e9c6"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Storage.StorageManagementClient/4.0.0.0"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "25"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1192"
        ],
        "x-ms-request-id": [
          "e8541fb5-5e13-428f-a20c-ad640a5a2acf"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/providers/Microsoft.Storage/operations/1114c162-346e-46e8-a909-fa47881e4cf8?monitor=true&api-version=2015-06-15"
        ],
        "Server": [
          "Microsoft-Azure-Storage-Resource-Provider/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-correlation-request-id": [
          "e8541fb5-5e13-428f-a20c-ad640a5a2acf"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20150929T010755Z:e8541fb5-5e13-428f-a20c-ad640a5a2acf"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Date": [
          "Tue, 29 Sep 2015 01:07:55 GMT"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/providers/Microsoft.Storage/operations/1114c162-346e-46e8-a909-fa47881e4cf8?monitor=true&api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "25"
=======
          "1194"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "x-ms-ratelimit-remaining-subsc[...]
    {
      "RequestUri": "/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourceGroups/res4834/providers/Microsoft.Storage/storageAccounts/sto8193/listKeys?api-version=2015-06-15",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"key1\": \"MNHmDIjpnELdV5xuoqYdqP/tgC/x7aBhFRv33j+d+MqpbkVBj85Q3ylR81XoOLfFcosXojmRunVCIKxBR37V7g==\",\r\n  \"key2\": \"W059/abta0bgfc5XbHldHjWSAgzB0NoYWyjXjLjK3OTWrE5xwfsaXmS/QrGugw+ySzt55kXORP+Nbqz9dwA7eg==\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1188"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourceGroups/res4834/providers/Microsoft.Storage/storageAccounts/sto8193/regenerateKey?api-version=2015-06-15",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"keyName\": \"key1\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"key1\": \"MNHmDIjpnELdV5xuoqYdqP/tgC/x7aBhFRv33j+d+MqpbkVBj85Q3ylR81XoOLfFcosXojmRunVCIKxBR37V7g==\",\r\n  \"key2\": \"5ECxey2LkyHpnyBJEtW6CAoSMCeCQYJm11ZnewbQ8mkGsI1OLua1BXEfdxoe1+fdNFtUD7wDGH9Sn9tAW4EDAw==\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1190"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourceGroups/res4834/providers/Microsoft.Storage/storageAccounts/sto8193/regenerateKey?api-version=2015-06-15",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"keyName\": \"key2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"key1\": \"MNHmDIjpnELdV5xuoqYdqP/tgC/x7aBhFRv33j+d+MqpbkVBj85Q3ylR81XoOLfFcosXojmRunVCIKxBR37V7g==\",\r\n  \"key2\": \"W059/abta0bgfc5XbHldHjWSAgzB0NoYWyjXjLjK3OTWrE5xwfsaXmS/QrGugw+ySzt55kXORP+Nbqz9dwA7eg==\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ]
=======
          "41431aec-8a0a-4b5f-95fa-5df1e1f22cb4"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Storage.StorageManagementClient/4.0.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"keys\": [\r\n    {\r\n      \"keyName\": \"key1\",\r\n      \"permissions\": \"Full\",\r\n      \"value\": \"to6xDDgNGn/Kf7/Bj72DbGMOhBtjVnN3hRk6Jv8sTHMEttbnD6/kE13CS41gmD8NmjvBBqyO5hmqm68ZIKiasQ==\"\r\n    },\r\n    {\r\n      \"keyName\": \"key2\",\r\n      \"permissions\": \"Full\",\r\n      \"value\": \"vztirk7GQ/bAveYyFJfs8oU0XxjKmPv+aclUWzdKBYQOFeBnZIh+PcctEDLca6aFHTg8wFYOoTu2/KZoeobTpw==\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ]
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        "Expires": [
          "-1"
        ],
        "Pragma": [
          "no-cache"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "d49a0377-7020-4f9c-8ffd-99abebf900a6"
=======
          "0b871280-290d-497d-bed6-8b619c0a80ee"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Server": [
          "Microsoft-Azure-Storage-Resource-Provider/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1189"
        ],
        "x-ms-correlation-request-id": [
          "d49a0377-7020-4f9c-8ffd-99abebf900a6"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20150929T010822Z:d49a0377-7020-4f9c-8ffd-99abebf900a6"
=======
          "1193"
        ],
        "x-ms-correlation-request-id": [
          "0b871280-290d-497d-bed6-8b619c0a80ee"
        ],
        "x-ms-routing-request-id": [
          "NORTHCENTRALUS:20160411T172431Z:0b871280-290d-497d-bed6-8b619c0a80ee"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 29 Sep 2015 01:08:21 GMT"
=======
          "Mon, 11 Apr 2016 17:24:30 GMT"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "CreateResourceGroup": [
<<<<<<< HEAD
      "res4834"
    ],
    "CreateStorageAccount": [
      "sto8193"
    ]
  },
  "Variables": {
    "SubscriptionId": "a30cdbf0-fdca-455d-aa6e-2e7a52732956"
=======
      "res4055"
    ],
    "CreateStorageAccount": [
      "sto7065"
    ]
  },
  "Variables": {
    "SubscriptionId": "28adf6bf-ce46-4eb0-ba29-b6d1a69ab859"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
  }
}