{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourcegroups/res2105?api-version=2014-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\"\r\n}",
=======
      "RequestUri": "/subscriptions/28adf6bf-ce46-4eb0-ba29-b6d1a69ab859/resourcegroups/res6623?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastasia\"\r\n}",
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
<<<<<<< HEAD
          "28"
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourceGroups/res2105\",\r\n  \"name\": \"res2105\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
=======
          "30"
        ],
        "x-ms-client-request-id": [
          "0d4be387-ead9-4f87-8d5b-42b6b1e5f6bd"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Resources.ResourceManagementClient/1.0.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/28adf6bf-ce46-4eb0-ba29-b6d1a69ab859/resourceGroups/res6623\",\r\n  \"name\": \"res6623\",\r\n  \"location\": \"eastasia\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Pragma": [
          "no-cache"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1195"
        ],
        "x-ms-request-id": [
          "6cf8e8f0-5353-45a0-bb35-035d62870ee1"
        ],
        "x-ms-correlation-request-id": [
          "6cf8e8f0-5353-45a0-bb35-035d62870ee1"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20150929T010109Z:6cf8e8f0-5353-45a0-bb35-035d62870ee1"
=======
          "1198"
        ],
        "x-ms-request-id": [
          "00d5d578-3a5f-4a6e-883a-63bd0521df93"
        ],
        "x-ms-correlation-request-id": [
          "00d5d578-3a5f-4a6e-883a-63bd0521df93"
        ],
        "x-ms-routing-request-id": [
          "NORTHCENTRALUS:20160411T170614Z:00d5d578-3a5f-4a6e-883a-63bd0521df93"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 29 Sep 2015 01:01:08 GMT"
=======
          "Mon, 11 Apr 2016 17:06:14 GMT"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ]
      },
      "StatusCode": 201
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/providers/Microsoft.Storage/checkNameAvailability?api-version=2015-06-15",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"sto4233\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
=======
      "RequestUri": "/subscriptions/28adf6bf-ce46-4eb0-ba29-b6d1a69ab859/providers/Microsoft.Storage/checkNameAvailability?api-version=2016-01-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"sto1571\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Content-Length": [
          "73"
        ],
        "x-ms-client-request-id": [
<<<<<<< HEAD
          "4571fdb0-1851-4388-a14f-665a546c0605"
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Storage.StorageManagementClient/3.0.0.0"
=======
          "cadfeffc-e868-4710-8334-8ab76983b736"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Storage.StorageManagementClient/4.0.0.0"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ]
      },
      "ResponseBody": "{\r\n  \"nameAvailable\": true\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ]
<<<<<<< HEAD
          "2e21dd6d-53d7-4742-b1db-ee8065b415c3"
=======
          "cb069bbb-353a-4273-836d-de0e53980fdd"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Server": [
          "Microsoft-Azure-Storage-Resource-Provider/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "14990"
        ],
        "x-ms-correlation-request-id": [
          "2e21dd6d-53d7-4742-b1db-ee8065b415c3"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20150929T010110Z:2e21dd6d-53d7-4742-b1db-ee8065b415c3"
=======
          "14997"
        ],
        "x-ms-correlation-request-id": [
     [...]
    {
      "RequestUri": "/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/providers/Microsoft.Storage/operations/52dd43cc-1dbf-49f3-9727-7c1278997c91?monitor=true&api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
=======
      "RequestUri": "/subscriptions/28adf6bf-ce46-4eb0-ba29-b6d1a69ab859/resourceGroups/res6623/providers/Microsoft.Storage/storageAccounts/sto576?api-version=2016-01-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\"\r\n  },\r\n  \"kind\": \"Storage\",\r\n  \"location\": \"eastasia\",\r\n  \"tags\": {\r\n    \"key1\": \"value1\",\r\n    \"key2\": \"value2\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "25"
        ]
<<<<<<< HEAD
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14988"
        ],
        "x-ms-request-id": [
          "3f10a352-212b-4abd-add9-df2203a19ffe"
=======
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "x-ms-request-id": [
          "f6b5d40f-ed31-4b74-b90f-961a86823c0a"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Location": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/providers/Microsoft.Storage/operations/52dd43cc-1dbf-49f3-9727-7c1278997c91?monitor=true&api-version=2015-06-15"
=======
          "https://management.azure.com/subscriptions/28adf6bf-ce46-4eb0-ba29-b6d1a69ab859/providers/Microsoft.Storage/operations/f471de27-5705-429d-8448-4775bb3e882b?monitor=true&api-version=2016-01-01"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        [...]
