{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourcegroups/res6835?api-version=2014-04-01-preview",
=======
      "RequestUri": "/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourcegroups/res8151?api-version=2014-04-01-preview",
>>>>>>> origin/AutoRest
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
<<<<<<< HEAD
=======
        ],
        "x-ms-client-request-id": [
          "c6ef2be0-8324-46bb-838e-399107b12428"
        ],
        "accept-language": [
          "en-US"
>>>>>>> origin/AutoRest
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourceGroups/res6835\",\r\n  \"name\": \"res6835\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourceGroups/res8151\",\r\n  \"name\": \"res8151\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
>>>>>>> origin/AutoRest
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1198"
        ],
        "x-ms-request-id": [
          "2eca95b1-d1f3-4642-945e-9ee40c3b23a4"
        ],
        "x-ms-correlation-request-id": [
          "2eca95b1-d1f3-4642-945e-9ee40c3b23a4"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20150929T005801Z:2eca95b1-d1f3-4642-945e-9ee40c3b23a4"
=======
          "1199"
        ],
        "x-ms-request-id": [
          "40b3de47-2612-4be6-b1a7-cefef11cf7d7"
        ],
        "x-ms-correlation-request-id": [
          "40b3de47-2612-4be6-b1a7-cefef11cf7d7"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20151113T175328Z:40b3de47-2612-4be6-b1a7-cefef11cf7d7"
>>>>>>> origin/AutoRest
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 29 Sep 2015 00:58:01 GMT"
=======
          "Fri, 13 Nov 2015 17:53:27 GMT"
>>>>>>> origin/AutoRest
        ]
      },
      "StatusCode": 201
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourceGroups/res6835/providers/Microsoft.Storage/storageAccounts/sto6143?api-version=2015-06-15",
=======
      "RequestUri": "/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourceGroups/res8151/providers/Microsoft.Storage/storageAccounts/sto9413?api-version=2015-06-15",
>>>>>>> origin/AutoRest
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\",\r\n  \"tags\": {\r\n    \"key1\": \"value1\",\r\n    \"key2\": \"value2\"\r\n  },\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_GRS\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
<<<<<<< HEAD
          "6944fffa-9fcd-489d-98f6-cdf637976e08"
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Storage.StorageManagementClient/3.0.0.0"
=======
          "f6c68fc7-d8bc-4934-b91f-8946e99ec2d5"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Storage.StorageManagementClient/2.0.0.0"
>>>>>>> origin/AutoRest
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "25"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1197"
        ],
        "x-ms-request-id": [
          "48ce9bd4-af8f-4ba1-8b65-9eb5e4c1f21c"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/providers/Microsoft.Storage/operations/8a8c6e35-8672-46cc-8889-7cc6ebe16973?monitor=true&api-version=2015-06-15"
        ],
        "Server": [
          "Microsoft-Azure-Storage-Resource-Provider/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-correlation-request-id": [
          "48ce9bd4-af8f-4ba1-8b65-9eb5e4c1f21c"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20150929T005803Z:48ce9bd4-af8f-4ba1-8b65-9eb5e4c1f21c"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Date": [
          "Tue, 29 Sep 2015 00:58:03 GMT"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/providers/Microsoft.Storage/operations/8a8c6e35-8672-46cc-8889-7cc6ebe16973?monitor=true&api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "25"
=======
          "1199"
>>>>>>> origin/AutoRest
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
       [...]
[...]
    {
      "RequestUri": "/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/providers/Microsoft.Storage/storageAccounts?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "842b5ff2-efb9-4a6d-9151-eefa9f6f8ff3"
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Storage.StorageManagementClient/3.0.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourceGroups/res6065/providers/Microsoft.Storage/storageAccounts/sto2903\",\r\n      \"location\": \"westus\",\r\n      \"name\": \"sto2903\",\r\n      \"properties\": {\r\n        \"accountType\": \"Standard_GRS\",\r\n        \"creationTime\": \"2015-09-29T00:58:29.2533147Z\",\r\n        \"primaryEndpoints\": {\r\n          \"blob\": \"https://sto2903.blob.core.windows.net/\",\r\n          \"file\": \"https://sto2903.file.core.windows.net/\",\r\n          \"queue\": \"https://sto2903.queue.core.windows.net/\",\r\n          \"table\": \"https://sto2903.table.core.windows.net/\"\r\n        },\r\n        \"primaryLocation\": \"westus\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"secondaryLocation\": \"eastus\",\r\n        \"statusOfPrimary\": \"available\",\r\n        \"statusOfSecondary\": \"available\"\r\n      },\r\n      \"tags\": {\r\n        \"key1\": \"value1\",\r\n        \"key2\": \"value2\"\r\n      },\r\n      \"type\": \"Microsoft.Storage/storageAccounts\"\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourceGroups/res6835/providers/Microsoft.Storage/storageAccounts/sto6143\",\r\n      \"location\": \"westus\",\r\n      \"name\": \"sto6143\",\r\n      \"properties\": {\r\n        \"accountType\": \"Standard_GRS\",\r\n        \"creationTime\": \"2015-09-29T00:58:02.486884Z\",\r\n        \"primaryEndpoints\": {\r\n          \"blob\": \"https://sto6143.blob.core.windo[...]
