{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourcegroups/res4834?api-version=2014-04-01-preview",
=======
      "RequestUri": "/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourcegroups/res734?api-version=2014-04-01-preview",
>>>>>>> origin/AutoRest
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
<<<<<<< HEAD
=======
        ],
        "x-ms-client-request-id": [
          "3be86ca3-a1cb-4214-8583-aa05788bab81"
        ],
        "accept-language": [
          "en-US"
>>>>>>> origin/AutoRest
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourceGroups/res4834\",\r\n  \"name\": \"res4834\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourceGroups/res734\",\r\n  \"name\": \"res734\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
>>>>>>> origin/AutoRest
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1193"
        ],
        "x-ms-request-id": [
          "11c7f4e9-b3a1-4e3d-826c-ed6e697a0b3f"
        ],
        "x-ms-correlation-request-id": [
          "11c7f4e9-b3a1-4e3d-826c-ed6e697a0b3f"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20150929T010754Z:11c7f4e9-b3a1-4e3d-826c-ed6e697a0b3f"
=======
          "1198"
        ],
        "x-ms-request-id": [
          "46f4cc1d-5459-4650-83d8-3fae46b1fd54"
        ],
        "x-ms-correlation-request-id": [
          "46f4cc1d-5459-4650-83d8-3fae46b1fd54"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20151113T175750Z:46f4cc1d-5459-4650-83d8-3fae46b1fd54"
>>>>>>> origin/AutoRest
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 29 Sep 2015 01:07:53 GMT"
=======
          "Fri, 13 Nov 2015 17:57:50 GMT"
>>>>>>> origin/AutoRest
        ]
      },
      "StatusCode": 201
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourceGroups/res4834/providers/Microsoft.Storage/storageAccounts/sto8193?api-version=2015-06-15",
=======
      "RequestUri": "/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/resourceGroups/res734/providers/Microsoft.Storage/storageAccounts/sto7208?api-version=2015-06-15",
>>>>>>> origin/AutoRest
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\",\r\n  \"tags\": {\r\n    \"key1\": \"value1\",\r\n    \"key2\": \"value2\"\r\n  },\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_GRS\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
<<<<<<< HEAD
          "a1e22a36-9980-4eb8-86e3-226951f5fd50"
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Storage.StorageManagementClient/3.0.0.0"
=======
          "7eca44c0-ed50-4411-b194-6767ce132852"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Storage.StorageManagementClient/2.0.0.0"
>>>>>>> origin/AutoRest
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "25"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1192"
        ],
        "x-ms-request-id": [
          "e8541fb5-5e13-428f-a20c-ad640a5a2acf"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/providers/Microsoft.Storage/operations/1114c162-346e-46e8-a909-fa47881e4cf8?monitor=true&api-version=2015-06-15"
        ],
        "Server": [
          "Microsoft-Azure-Storage-Resource-Provider/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-correlation-request-id": [
          "e8541fb5-5e13-428f-a20c-ad640a5a2acf"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20150929T010755Z:e8541fb5-5e13-428f-a20c-ad640a5a2acf"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Date": [
          "Tue, 29 Sep 2015 01:07:55 GMT"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/a30cdbf0-fdca-455d-aa6e-2e7a52732956/providers/Microsoft.Storage/operations/1114c162-346e-46e8-a909-fa47881e4cf8?monitor=true&api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "25"
=======
          "1198"
>>>>>>> origin/AutoRest
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
       [...]
