{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/providers/Microsoft.Compute/locations/SoutheastAsia/publishers/MicrosoftWindowsServer/artifacttypes/vmimage/offers/WindowsServer/skus/2012-R2-Datacenter/versions?api-version=2015-06-15&$top=1",
=======
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/SoutheastAsia/publishers/MicrosoftWindowsServer/artifacttypes/vmimage/offers/WindowsServer/skus/2012-R2-Datacenter/versions?$top=1&api-version=2016-03-30",
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "Microsoft.Azure.Management.Compute.ComputeManagementClient/9.0.0.0"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"location\": \"southeastasia\",\r\n    \"name\": \"4.0.20151120\",\r\n    \"id\": \"/Subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/Providers/Microsoft.Compute/Locations/southeastasia/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/WindowsServer/Skus/2012-R2-Datacenter/Versions/4.0.20151120\"\r\n  }\r\n]",
      "ResponseHeaders": {
=======
          "Microsoft.Azure.Management.Compute.ComputeManagementClient/14.0.0-prerelease"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"location\": \"southeastasia\",\r\n    \"name\": \"4.0.20151120\",\r\n    \"id\": \"/Subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/Providers/Microsoft.Compute/Locations/southeastasia/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/WindowsServer/Skus/2012-R2-Datacenter/Versions/4.0.20151120\"\r\n  }\r\n]",
      "ResponseHeaders": {
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Cache-Control": [
          "no-cache"
        ],
<<<<<<< HEAD
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-ms-request-id": [
          "35aef0a3-136c-4355-a88a-c38353d788cb"
=======
        "Date": [
          "Thu, 02 Jun 2016 00:15:54 GMT"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Pragma": [
          "no-cache"
        ],
        "Transfer-Encoding": [
          "chunked"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "Vary": [
          "Accept-Encoding"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-ms-request-id": [
          "d5884f15-2ff9-4a62-90a3-6068e0f57790"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14993"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "ce5d9af0-dd5e-47af-8d29-80adac164566"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20160505T215345Z:ce5d9af0-dd5e-47af-8d29-80adac164566"
        ],
        "Date": [
          "Thu, 05 May 2016 21:53:45 GMT"
=======
          "e321d0f6-7219-41ef-b008-51da7c878b9a"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20160602T001555Z:e321d0f6-7219-41ef-b008-51da7c878b9a"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ]
      },
      "StatusCode": 200
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/resourcegroups/pslibtest2560?api-version=2014-04-01-preview",
=======
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/crptestar3374?api-version=2015-11-01",
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"SoutheastAsia\",\r\n  \"tags\": {\r\n    \"crptestar3374\": \"2016-06-02 00:15:55Z\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/resourceGroups/pslibtest2560\",\r\n  \"name\": \"pslibtest2560\",\r\n  \"location\": \"southeastasia\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/crptestar3374\",\r\n  \"name\": \"crptestar3374\",\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {\r\n    \"crptestar3374\": \"2016-06-02 00:15:55Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
      "ResponseHeaders": {
        "Content-Type": [
        [...]
    {
      "RequestUri": "/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/resourceGroups/pslibtest2560/providers/Microsoft.Network/virtualnetworks/azsmnet8484/subnets/azsmnet7023?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
=======
        "Content-Length": [
          "402"
        ],
        "x-ms-client-request-id": [
          "f275f5f5-96a4-4433-8ec6-4cd2753e19d7"
        ],
        "accept-language": [
          "en-US"
        ],
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        "User-Agent": [
          "Microsoft.Azure.Management.Network.NetworkManagementClient/5.0.0-preview"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"name\": \"azsmnet7023\",\r\n  \"id\": \"/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/resourceGroups/pslibtest2560/providers/Microsoft.Network/virtualNetworks/azsmnet8484/subnets/azsmnet7023\",\r\n  \"etag\": \"W/\\\"3d69e121-a3ec-47f0-b10c-01631af0bf77\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\"\r\n  }\r\n}",
=======
      "ResponseBody": "{\r\n  \"name\": \"vn4922\",\r\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/crptestar3374/providers/Microsoft.Network/virtualNetworks/vn4922\",\r\n  \"etag\": \"W/\\\"8fa0ab11-4a49-4c23-9bf3-fde46ce857f2\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"southeastasia\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"42f09be9-1a7d-4bb9-b453-2b29a2a53bd8\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": [\r\n        \"10.1.1.1\",\r\n        \"10.1.2.4\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"sn7187\",\r\n        \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/crptestar3374/providers/Microsoft.Network/virtualNetworks/vn4922/subnets/sn7187\",\r\n        \"etag\": \"W/\\\"8fa0ab11-4a49-4c23-9bf3-fde46ce857f2\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n          \"addressPrefix\": \"10.0.0.0/24\"\r\n        }\r\n      }\r\n    ]\r\n  }\r\n}",
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
<<<<<<< HEAD
        "x-ms-request-id": [
          "9797da20-6503-4558-b802-171a3a4ccf51"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
=======
        "Date": [
          "Thu, 02 Jun 2016 00:17:28 GMT"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Pragma": [
          "no-cache"
        ],
<<<<<<< HEAD
        "ETag": [
          "W/\"3d69e121-a3ec-47f0-b10c-01631af0bf77\""
=======
        "Retry-After": [
          "10"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14993"
        ],
        "x-ms-correlation-request-id": [
          "dd15b86b-e6a8-4f9c-9168-5528cb2dc8c4"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20160505T215445Z:dd15b86b-e6a8-4f9c-9168-5528cb2dc8c4"
        ],
        "Date": [
          "Thu, 05 May 2016 21:54:44 GMT"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/resourceGroups/pslibtest2560/providers/Microsoft.Network/networkInterfaces/azsmnet9212?api-version=2015-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/resourceGroups/pslibtest2560/providers/Microsoft.Network/virtualNetworks/azsmnet8484/subnets/azsmnet7023\"\r\n          },\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/resourceGroups/pslibtest2560/providers/Microsoft.Network/publicIPAddresses/azsmnet1685\"\r\n          }\r\n        },\r\n        \"name\": \"azsmnet8738\"\r\n      }\r\n    ]\r\n  },\r\n  \"name\": \"azsmnet9212\",\r\n  \"location\": \"SoutheastAsia\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"azsmnet9212\",\r\n  \"id\": \"/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/resourceGroups/pslibtest2560/providers/Microsoft.Network/networkInterfaces/azsmnet9212\",\r\n  \"etag\": \"W/\\\"f93f434a-35cb-45fb-98c2-45a5328cebb2\\\"\",\r\n  \"type\": \"Microsoft.Network/networkInterfaces\",\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"d16a7b1c-c855-4fd6-888a-015bf9d35575\",\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"azsmnet8738\",\r\n        \"id\": \"/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/resourceGroups/pslibtest2560/providers/Microsoft.Network/networkInterfaces/azsmnet9212/ipConfigurations/azsmnet8738\",\r\n        \"etag\": \"W/\\\"f93f434a-35cb-45fb-98c2-45a5328cebb2\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/resourceGroups/pslibtest2560/providers/Microsoft.Network/publicIPAddresses/azsmnet1685\"\r\n          },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/resourceGroups/pslibtest2560/providers/Microsoft.Network/virtualNetworks/azsmnet8484/subnets/azsmnet7023\"\r\n          },\r\n          \"primary\": true\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\": [],\r\n      \"appliedDnsServers\": []\r\n    },\r\n    \"enableIPForwarding\": false\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/providers/Microsoft.Network/locations/southeastasia/operations/f8fd5474-4f6a-4350-b884-c611f44f5e25?api-version=2015-05-01-preview"
=======
        "x-ms-request-id": [
          "9da20380-b57e-47ac-9bc1-443d5399f32a"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Network/locations/southeastasia/[...]
    {
      "RequestUri": "/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/resourceGroups/pslibtest2560/providers/Microsoft.Compute/virtualMachines/vm6046?api-version=2015-06-15",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_A4\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\": \"2012-R2-Datacenter\",\r\n        \"version\": \"4.0.20151120\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Windows\",\r\n        \"name\": \"test\",\r\n        \"vhd\": {\r\n          \"uri\": \"https://pslibtest7814.blob.core.windows.net/pslibtest4418/ospslibtest3834.vhd\"\r\n        },\r\n        \"caching\": \"None\",\r\n        \"createOption\": \"FromImage\"\r\n      },\r\n      \"dataDisks\": [\r\n        {\r\n          \"lun\": 2,\r\n          \"name\": \"dataDisk1\",\r\n          \"vhd\": {\r\n            \"uri\": \"https://pslibtest7814.blob.core.windows.net/pslibtest2014/dataDisk1pslibtest2516.vhd\"\r\n          },\r\n          \"caching\": \"None\",\r\n          \"createOption\": \"Empty\",\r\n          \"diskSizeGB\": 10\r\n        },\r\n        {\r\n          \"lun\": 3,\r\n          \"name\": \"dataDisk2\",\r\n          \"vhd\": {\r\n            \"uri\": \"https://pslibtest7814.blob.core.windows.net/pslibtest2014/dataDisk2pslibtest5022.vhd\"\r\n          },\r\n          \"caching\": \"None\",\r\n          \"createOption\": \"Empty\",\r\n          \"diskSizeGB\": 10\r\n        }\r\n      ]\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"test\",\r\n      \"adminUsername\": \"Foo12\",\r\n      \"windowsConfiguration\": {\r\n        \"provisionVMAgent\": true,\r\n        \"enableAutomaticUpdates\": true\r\n      },\r\n      \"secrets\": []\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"properties\": {},\r\n          \"id\": \"/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/resourceGroups/pslibtest2560/providers/Microsoft.Network/networkInterfaces/azsmnet9212\"\r\n        }\r\n      ]\r\n    },\r\n    \"availabilitySet\": {\r\n      \"id\": \"/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/resourceGroups/pslibtest2560/providers/Microsoft.Compute/availabilitySets/AS248\"\r\n    },\r\n    \"provisioningState\": \"Creating\",\r\n    \"instanceView\": {\r\n      \"vmAgent\": {\r\n        \"vmAgentVersion\": \"Unknown\",\r\n        \"statuses\": [\r\n          {\r\n            \"code\": \"ProvisioningState/Unavailable\",\r\n            \"level\": \"Warning\",\r\n            \"displayStatus\": \"Not Ready\",\r\n            \"message\": \"VM status blob is found but not yet populated.\",\r\n            \"time\": \"2016-05-05T14:55:00-07:00\"\r\n          }\r\n        ]\r\n      },\r\n      \"disks\": [\r\n        {\r\n          \"name\": \"test\",\r\n          \"statuses\": [\r\n            {\r\n              \"code\": \"ProvisioningState/succeeded\",\r\n              \"level\": \"Info\",\r\n              \"displayStatus\": \"Provisioning succeeded\",\r\n              \"time\": \"2016-05-05T14:54:58.5448661-07:00\"\r\n            }\r\n          ]\r\n        },\r\n        {\r\n          \"name\": \"dataDisk1\",\r\n          \"statuses\": [\r\n            {\r\n              \"code\": \"Provis[...]
    {
      "RequestUri": "/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/providers/Microsoft.Compute/locations/southeastasia/operations/61dd2fdc-19e7-48b8-8e09-db4e06fcafb1?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"operationId\": \"61dd2fdc-19e7-48b8-8e09-db4e06fcafb1\",\r\n  \"startTime\": \"2016-05-05T14:55:00.7166805-07:00\",\r\n  \"status\": \"InProgress\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
        "Vary": [
          "Accept-Encoding"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/southeastasia/operations/63883494-7b10-40f8-821a-be4a3290ea7e?api-version=2016-03-30"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-ms-served-by": [
<<<<<<< HEAD
          "9bcaa9de-92b1-485f-8528-dfb04fe7611e_131069190730912636"
        ],
        "x-ms-request-id": [
          "cc43bf40-5440-40b7-bbc2-28d7cd5f4a73"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14985"
        ],
        "x-ms-correlation-request-id": [
          "e656f2a8-b4ef-4425-[...]
