{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/providers/Microsoft.BigAnalytics/register?api-version=2014-04-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/providers/Microsoft.BigAnalytics\",\r\n  \"namespace\": \"Microsoft.BigAnalytics\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"accounts\",\r\n      \"locations\": [\r\n        \"East US 2\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-08-01-preview\",\r\n        \"2014-10-01\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"accounts/dataLakeAccounts\",\r\n      \"locations\": [\r\n        \"East US 2\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-08-01-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"accounts/storageAccounts\",\r\n      \"locations\": [\r\n        \"East US 2\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-08-01-preview\"\r\n      ]\[...]
    {
      "RequestUri": "/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/resourcegroups/rgaba1325?api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/resourceGroups/rgaba1325\",\r\n  \"name\": \"rgaba1325\",\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
=======
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Tue, 08 Nov 2016 04:01:55 GMT"
        ],
        "Pragma": [
          "no-cache"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14991"
        ],
        "x-ms-request-id": [
          "5acb437e-442a-4675-ac43-150f0d5f9a77"
        ],
        "x-ms-correlation-request-id": [
          "5acb437e-442a-4675-ac43-150f0d5f9a77"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20161108T040155Z:5acb437e-442a-4675-ac43-150f0d5f9a77"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourcegroups/rgaba19536?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourceGroups/rgaba19536\",\r\n  \"name\": \"rgaba19536\",\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
<<<<<<< HEAD
        "Pragma": [
          "no-cache"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14989"
        ],
        "x-ms-request-id": [
          "28081c83-87d5-452a-bd46-c377e3995da6"
        ],
        "x-ms-correlation-request-id": [
          "28081c83-87d5-452a-bd46-c377e3995da6"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20151120T210447Z:28081c83-87d5-452a-bd46-c377e3995da6"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Fri, 20 Nov 2015 21:04:46 GMT"
=======
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Tue, 08 Nov 2016 04:01:56 GMT"
        ],
        "Pragma": [
          "no-cache"
        ],
        "Vary": [
          "Accept-Encoding"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14990"
        ],
        "x-ms-request-id": [
          "57164425-ce5e-4e77-933e-f54525a82997"
        ],
        "x-ms-correlation-request-id": [
          "57164425-ce5e-4e77-933e-f54525a82997"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20161108T040156Z:57164425-ce5e-4e77-933e-f54525a82997"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ]
      },
      "StatusCode": 200
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/resourceGroups/rgaba1325/providers/Microsoft.Storage/storageAccounts/testazureblob13744?api-version=2015-06-15",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US 2\",\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_GRS\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
=======
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourcegroups/rgaba19536?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US 2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourceGroups/rgaba19536\",\r\n  \"name\": \"rgaba19536\",\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Expires": [
          "-1"
        ],
<<<<<<< HEAD
        "Pragma": [
          "no-cache"
        ],
        "Retry-After": [
          "25"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "x-ms-request-id": [
          "efc669a4-9ea2-4f7a-ad72-40fd1763ff46"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/providers/Microsoft.Storage/operations/0a665bfe-292b-4f97-861c-d64fcc7055d3?monitor=true&api-version=2015-06-15"
        ],
        "Server": [
          "Microsoft-Azure-Storage-Resource-Provider/1.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-correlation-request-id": [
          "efc669a4-9ea2-4f7a-ad72-40fd1763ff46"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20151120T210449Z:efc669a4-9ea2-4f7a-ad72-40fd1763ff46"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Date": [
          "Fri, 20 Nov 2015 21:04:48 GMT"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/providers/Microsoft.Storage/operations/0a665bfe-292b-4f97-861c-d64fcc7055d3?monitor=true&api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
=======
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Tue, 08 Nov 2016 04:01:56 GMT"
        ],
        "Pragma": [
          "no-cache"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ],
        "x-ms-request-id": [
          "5304cbb0-8b4d-47d3-a0c0-7b3f0e0a83dd"
        ],
        "x-ms-correlation-request-id": [
          "5304cbb0-8b4d-47d3-a0c0-7b3f0e0a83dd"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20161108T040156Z:5304cbb0-8b4d-47d3-a0c0-7b3f0e0a83dd"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourceGroups/rgaba19536/providers/Microsoft.Storage/storageAccounts/testazureblob12834?api-version=2016-01-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\"\r\n  },\r\n  \"kind\": \"Storage\",\r\n  \"location\": \"East US 2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
<<<<<<< HEAD
        "Pragma": [
          "no-cache"
        ],
        "Retry-After": [
          "25"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14961"
        ],
        "x-ms-req[...]
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourceGroups/rgaba19536/providers/Microsoft.DataLakeStore/accounts/testdatalake18942?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"firewallState\": \"Disabled\",\r\n    \"firewallRules\": [],\r\n    \"trustedIdProviderState\": \"Disabled\",\r\n    \"trustedIdProviders\": [],\r\n    \"encryptionConfig\": {},\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"state\": \"Active\",\r\n    \"endpoint\": \"testdatalake18942.azuredatalakestore.net\",\r\n    \"accountId\": \"92b1d13e-c608-4a5d-9f2b-6a5bf90c4bb9\",\r\n    \"creationTime\": \"2016-11-08T04:03:50.9175634Z\",\r\n    \"lastModifiedTime\": \"2016-11-08T04:03:50.9175634Z\"\r\n  },\r\n  \"location\": \"East US 2\",\r\n  \"tags\": null,\r\n  \"id\": \"/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourceGroups/rgaba19536/providers/Microsoft.DataLakeStore/accounts/testdatalake18942\",\r\n  \"name\": \"testdatalake18942\",\r\n  \"type\": \"Microsoft.DataLakeStore/accounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ]
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Cache-Control": [
          "no-cache"
        ],
<<<<<<< HEAD
        "Date": [
          "Fri, 20 Nov 2015 21:05:17 GMT"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/resourcegroups/rgaba1325/providers/Microsoft.DataLakeStore/accounts/testdatalake11773/operationresults/0?api-version=2015-10-01-preview"
=======
        "Connection": [
          "close"
        ],
        "Date": [
          "Tue, 08 Nov 2016 04:04:34 GMT"
        ],
        "Pragma": [
          "no-cache"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Server": [
          "Microsoft-IIS/8.5"
        ],
<<<<<<< HEAD
=======
        "Vary": [
          "Accept-Encoding"
        ],
        "x-ms-request-id": [
          "7913bf11-ce4e-4cf0-a23d-8319a7e4bef2"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        "X-AspNet-Version": [
          "4.0.30319"
        ],
        "X-Powered-By": [
          "ASP.NET"
<<<<<<< HEAD
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/providers/Microsoft.DataLakeStore/locations/EastUS2/operationResults/a2b9e780-1b96-44ee-bc1a-5192d6b99f3c0?api-version=2015-10-01-preview&expanded=true",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "ResponseHeaders": {
=======
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14993"
        ],
        "x-ms-correlation-request-id": [
          "5462a020-3406-418f-a52c-f89cb0e48538"
        ],
        "x-ms-routing-request-id": [
          "NORTHCENTRALUS:20161108T040435Z:5462a020-3406-418f-a52c-f89cb0e48538"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/providers/Microsoft.DataLakeStore/locations/EastUS2/operationResults/92b1d13e-c608-4a5d-9f2b-6a5bf90c4bb90?api-version=2016-11-01&expanded=true",
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "Microsoft.Azure.Management.DataLake.Store.DataLakeStoreManagementClient/0.9.0.0"
=======
          "FxVersion/4.6.24410.01",
          "Microsoft.Azure.Management.DataLake.Store.DataLakeStoreAccountManagementClient/0.12.8-preview"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "ResponseHeaders": {
<<<<<<< HEAD
        "Content-Length": [
          "23"
        ],
=======
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        "Content-Type": [
          "application/json"
        ],
        "Expires": [
          "-1"
        ],
<<<<<<< HEAD
        "Pragma": [
          "no-cache"
        ],
        "x-ms-request-id": [
          "a3f09941-e29c-477a-90b6-c9b95bd93286"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14957"
        ],
        "x-ms-correlation-request-id": [
          "86ab7e88-[...]
[...]
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourceGroups/rgaba19536/providers/Microsoft.DataLakeAnalytics/accounts/testaba18483?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.DataLakeAnalytics/accounts/testaba18483' under resource group 'rgaba19536' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Expires": [
          "-1"
        ],
<<<<<<< HEAD
        "Pragma": [
          "no-cache"
        ],
        "x-ms-request-id": [
          "3b63a9f7-2c9c-487f-bb0a-ce2d8889ec85"
        ],
        "[...]
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourceGroups/rgaba19536/providers/Microsoft.DataLakeAnalytics/accounts/testaba18483?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"defaultDataLakeStoreAccount\": \"testdatalake18942\",\r\n    \"dataLakeStoreAccounts\": [\r\n      {\r\n        \"properties\": {\r\n          \"suffix\": \"azuredatalakestore.net\"\r\n        },\r\n        \"name\": \"testdatalake18942\"\r\n      }\r\n    ],\r\n    \"storageAccounts\": [],\r\n    \"maxDegreeOfParallelism\": 120,\r\n    \"maxJobCount\": 10,\r\n    \"systemMaxDegreeOfParallelism\": 120,\r\n    \"systemMaxJobCount\": 20,\r\n    \"queryStoreRetention\": 30,\r\n    \"hiveMetastores\": [],\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"state\": \"Active\",\r\n    \"endpoint\": \"testaba18483.azuredatalakeanalytics.net\",\r\n    \"accountId\": \"7db18143-e33d-45a0-87b2-356396234446\",\r\n    \"creationTime\": \"2016-11-08T04:05:13.3073786Z\",\r\n    \"lastModifiedTime\": \"2016-11-08T04:05:13.3073786Z\"\r\n  },\r\n  \"location\": \"East US 2\",\r\n  \"tags\": {\r\n    \"testkey\": \"testvalue\"\r\n  },\r\n  \"id\": \"/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourceGroups/rgaba19536/providers/Microsoft.DataLakeAnalytics/accounts/testaba18483\",\r\n  \"name\": \"testaba18483\",\r\n  \"type\": \"Microsoft.DataLakeAnalytics/accounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ]
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Cache-Control": [
          "no-cache"
        ],
<<<<<<< HEAD
 [...]
    {
      "RequestUri": "/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/providers/Microsoft.DataLakeAnalytics/locations/EastUS2/operationResults/9f5b3c2f-21ad-4d61-a5b2-9ca4fb2419480?api-version=2015-10-01-preview&expanded=true",
=======
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1193"
        ],
        "x-ms-correlation-request-id": [
          "3d45f6ff-793d-447a-a052-8501633a6a9b"
        ],
        "x-ms-routing-request-id": [
          "NORTHCENTRALUS:20161108T040544Z:3d45f6ff-793d-447a-a052-8501633a6a9b"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/providers/Microsoft.DataLakeAnalytics/locations/EastUS2/operationResults/575e9731-9607-42c0-8c87-11c68cc19ae60?api-version=2016-11-01&expanded=true",
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "Microsoft.Azure.Management.DataLake.Analytics.DataLakeAnalyticsManagementClient/0.9.0.0"
=======
          "FxVersion[...]
[...]
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourceGroups/rgaba19536/providers/Microsoft.DataLakeAnalytics/accounts/testaba18483/DataLakeStoreAccounts/testdatalake27493?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"suffix\": \"azuredatalakestore.net\"\r\n  },\r\n  \"id\": \"/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourceGro[...]
[...]
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourceGroups/rgaba19536/providers/Microsoft.DataLakeAnalytics/accounts/testaba18483/StorageAccounts/testazureblob12834?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"suffix\": \"core.windows.net\"\r\n  },\r\n  \"id\": \"/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourceGroups/rgaba19[...]
    {
      "RequestUri": "/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/resourceGroups/rgaba1325/providers/Microsoft.DataLakeAnalytics/accounts/testaba15978/StorageAccounts/testazureblob13744?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.Analytics 0.9.5-preview"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"suffix\": \"core.windows.net\"\r\n  },\r\n  \"id\": \"/subscriptions/46153750-fa3b-4140-bf57-8beb7d5c971a/resourceGroups/rgaba1325/providers/Microsoft.DataLakeAnalytics/accounts/testaba15978/storageAccounts/testazureblob13744\",\r\n  \"name\": \"testazureblob13744\",\r\n  \"type\": \"Microsoft.DataLakeAnalytics/accounts/storageAccounts[...]
