{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/61953354-5115-4340-bf80-f4ccd1cb213e/locations",
=======
      "RequestUri": "/20deba4c-35db-480a-baac-489e2c695697/locations",
>>>>>>> origin/AutoRest
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "<Locations xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Location>\r\n    <Name>Northwest US</Name>\r\n    <DisplayName>Northwest US</DisplayName>\r\n    <AvailableServices>\r\n      <AvailableService>Compute</AvailableService>\r\n    </AvailableServices>\r\n    <ComputeCapabilities>\r\n      <WebWorkerRoleSizes>\r\n        <RoleSize>A5</RoleSize>\r\n        <RoleSize>A6</RoleSize>\r\n        <RoleSize>A7</RoleSize>\r\n        <RoleSize>ExtraLarge</RoleSize>\r\n        <RoleSize>ExtraSmall</RoleSize>\r\n        <RoleSize>Large</RoleSize>\r\n        <RoleSize>Medium</RoleSize>\r\n        <RoleSize>Small</RoleSize>\r\n        <RoleSize>Standard_D1</RoleSize>\r\n        <RoleSize>Standard_D11</RoleSize>\r\n        <RoleSize>Standard_D12</RoleSize>\r\n        <RoleSize>Standard_D13</RoleSize>\r\n        <RoleSize>Standard_D14</RoleSize>\r\n        <RoleSize>Standard_D2</RoleSize>\r\n        <RoleSize>Standard_D3</RoleSize>\r\n        <RoleSize>Standard_D4</RoleSize>\r\n        <RoleSize>Standard_D5</RoleSize>\r\n      </WebWorkerRoleSizes>\r\n      <VirtualMachinesRoleSizes />\r\n    </ComputeCapabilities>\r\n  </Location>\r\n  <Location>\r\n    <Name>North Central US</Name>\r\n    <DisplayName>North Central US</DisplayName>\r\n    <AvailableServices>\r\n      <AvailableService>Compute</AvailableService>\r\n      <AvailableService>Storage</AvailableService>\r\n      <AvailableService>PersistentVMRole</AvailableService>\r\n      <AvailableService>HighMemory</AvailableService>\r\n    </AvailableServices>\r\n    <ComputeCapabilities>\r\n      <WebWorkerRoleSizes>\r\n [...]
    {
      "RequestUri": "/subscriptions/61953354-5115-4340-bf80-f4ccd1cb213e/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TVFJFQU1BTkFMWVRJQ1M2NDc1LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2014-04-01-preview",
>>>>>>> Azure/master
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-04-01-preview"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
<<<<<<< HEAD
          "14963"
=======
          "14926"
>>>>>>> Azure/master
        ],
        "x-ms-request-id": [
          "630ab67c-164a-48eb-bd3d-c157210615b8"
        ],
        "x-ms-correlation-request-id": [
          "630ab67c-164a-48eb-bd3d-c157210615b8"
        ],
        "x-ms-routing-request-id": [
<<<<<<< HEAD
          "CENTRALUS:20151125T000120Z:3241f8ae-0116-48ab-8892-3ca5a9ac2226"
=======
          "31862"
        ],
        "x-ms-request-id": [
          "11c3cd37-38c7-492d-ab49-beb8f6c234de"
        ],
        "x-ms-correlation-request-id": [
          "11c3cd37-38c7-492d-ab49-beb8f6c234de"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20150506T011308Z:11c3cd37-38c7-492d-ab49-beb8f6c234de"
>>>>>>> origin/AutoRest
=======
          "CENTRALUS:20151222T013424Z:630ab67c-164a-48eb-bd3d-c157210615b8"
>>>>>>> Azure/master
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
<<<<<<< HEAD
<<<<<<< HEAD
          "Wed, 25 Nov 2015 00:01:20 GMT"
=======
          "Wed, 06 May 2015 01:13:07 GMT"
>>>>>>> origin/AutoRest
=======
          "Tue, 22 Dec 2015 01:34:24 GMT"
>>>>>>> Azure/master
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test_OutputOperations_AzureTable": [
<<<<<<< HEAD
<<<<<<< HEAD
      "StreamAnalytics1854",
      "MyStreamingJobSubmittedBySDK7025",
      "outputtest5725",
      "NewTableName8204"
=======
      "StreamAnalytics6475",
      "MyStreamingJobSubmittedBySDK5473",
      "outputtest6492",
      "NewTableName6925"
>>>>>>> Azure/master
    ]
  },
  "Variables": {
    "SubscriptionId": "61953354-5115-4340-bf80-f4ccd1cb213e"
=======
      "StreamAnalytics9335",
      "MyStreamingJobSubmittedBySDK4849",
      "outputtest1018",
      "NewTableName2253"
    ]
  },
  "Variables": {
    "SubscriptionId": "20deba4c-35db-480a-baac-489e2c695697"
>>>>>>> origin/AutoRest
  }
}