{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/3312c132-fc40-493f-9c97-82d80256a313/providers/microsoft.network?api-version=2014-04-01-preview",
=======
      "RequestUri": "/subscriptions/3cfb1b34-e5a9-4f98-bf9c-e4d69a6b170c/providers/microsoft.network?api-version=2015-11-01",
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/3312c132-fc40-493f-9c97-82d80256a313/providers/microsoft.network\",\r\n  \"namespace\": \"microsoft.network\",\r\n  \"authorization\": {\r\n    \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n    \"roleDefinitionId\": \"13ba9ab4-19f0-4804-adc4-14ece36cc7a1\"\r\n  },\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"trafficmanagerprofiles\",\r\n      \"locations\": [\r\n        \"global\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-11-01\",\r\n        \"2015-04-28-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"dnszones\",\r\n      \"locations\": [\r\n        \"global\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2016-04-01\",\r\n        \"2015-05-04-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"dnsOperationResults\",\r\n      \"locations\": [\r\n        \"global\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2016-04-01\"\r\n      ]\r\n    },[...]
    {
      "RequestUri": "/subscriptions/3312c132-fc40-493f-9c97-82d80256a313/resourceGroups/hydratestdnsrg390/providers/Microsoft.Network/dnsOperationStatuses/delzone635955032637968408b4a4f368?api-version=2016-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-04-01"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net:443/subscriptions/3312c132-fc40-493f-9c97-82d80256a313/resourceGroups/hydratestdnsrg390/providers/Microsoft.Network/dnsOperationStatuses/delzone635955032637968408b4a4f368?api-version=2016-04-01"
        ]
=======
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net:443/subscriptions/3cfb1b34-e5a9-4f98-bf9c-e4d69a6b170c/resourceGroups/hydratestdnsrg1751/providers/Microsoft.Network/dnsOperationStatuses/delzone6360042342701836035ed12bd0?api-version=2016-04-01"
        ],
        "x-ms-request-id": [
          "c7a66cc1-6642-42c4-892f-3d43b2d938f4"
        ],
        "X-AspNet-Version": [
          "4.0.30319"
        ],
        "X-Powered-By": [
          "ASP.NET"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11992"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "f63f3a2b-8ef0-472b-a77d-ad3927ef5a32"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20160406T013425Z:f63f3a2b-8ef0-472b-a77d-ad3927ef5a32"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Cache-Control": [
          "private"
        ],
        "Date": [
          "Wed, 06 Apr 2016 01:34:25 GMT"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/3312c132-fc40-493f-9c97-82d80256a313/resourceGroups/hydratestdnsrg390/providers/Microsoft.Network/dnsOperationResults/delzone635955032637968408b4a4f368?api-version=2016-04-01"
        ],
        "Server": [
          "Microsoft-IIS/8.5"
        ],
        "X-AspNet-Version": [
          "4.0.30319"
        ],
        "X-Powered-By": [
          "ASP.NET"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/3cfb1b34-e5a9-4f98-bf9c-e4d69a6b170c/resourceGroups/hydratestdnsrg1751/providers/Microsoft.Network/dnsOperationStatuses/delzone6360042342701836035ed12bd0?api-version=2016-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Cache-Control": [
          "private"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 06 Apr 2016 01:34:55 GMT"
        ],
        "Server": [
          "Microsoft-IIS/8.5"
=======
          "Thu, 02 Jun 2016 00:17:38 GMT"
        ],
        "Transfer-Encoding": [
          "chunked"
        ],
        "Server": [
          "Microsoft-IIS/8.5"
        ],
        "Vary": [
          "Accept-Encoding"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-ms-request-id": [
          "fdb3eca7-9624-406f-8a7d-47ce9f0d4316"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "X-AspNet-Version": [
          "4.0.30319"
        ],
        "X-Powered-By": [
          "ASP.NET"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11992"
        ],
        "x-ms-correlation-request-id": [
          "413351ec-6815-4030-b11f-86fcff25f249"
        ],
        "x-ms-routing-request-id": [
          "NORTHEUROPE:20160602T001738Z:413351ec-6815-4030-b11f-86fcff25f249"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "SetupSingleRecordSetTest": [
<<<<<<< HEAD
      "hydratestdnszone.com624",
      "hydratestdnsrec2109"
    ],
    "CreateResourceGroup": [
      "hydratestdnsrg390"
    ]
  },
  "Variables": {
    "SubscriptionId": "3312c132-fc40-493f-9c97-82d80256a313"
=======
      "hydratest.dnszone.com1680",
      "hydratestdnsrec136"
    ],
    "CreateResourceGroup": [
      "hydratestdnsrg1751"
    ]
  },
  "Variables": {
    "SubscriptionId": "3cfb1b34-e5a9-4f98-bf9c-e4d69a6b170c"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
  }
}