{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/3312c132-fc40-493f-9c97-82d80256a313/providers/microsoft.network?api-version=2014-04-01-preview",
=======
      "RequestUri": "/subscriptions/3cfb1b34-e5a9-4f98-bf9c-e4d69a6b170c/providers/microsoft.network?api-version=2015-11-01",
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/3312c132-fc40-493f-9c97-82d80256a313/providers/microsoft.network\",\r\n  \"namespace\": \"microsoft.network\",\r\n  \"authorization\": {\r\n    \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n    \"roleDefinitionId\": \"13ba9ab4-19f0-4804-adc4-14ece36cc7a1\"\r\n  },\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"trafficmanagerprofiles\",\r\n      \"locations\": [\r\n        \"global\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-11-01\",\r\n        \"2015-04-28-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"dnszones\",\r\n      \"locations\": [\r\n        \"global\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2016-04-01\",\r\n        \"2015-05-04-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"dnsOperationResults\",\r\n      \"locations\": [\r\n        \"global\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2016-04-01\"\r\n      ]\r\n    },[...]
    {
      "RequestUri": "/subscriptions/3312c132-fc40-493f-9c97-82d80256a313/resourceGroups/hydratestdnsrg3340/providers/Microsoft.Network/dnszones/hydratestdnszone.com1377?api-version=2016-04-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
=======
          "Microsoft.Azure.Management.Dns.DnsManagementClient/1.7.0.0"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
<<<<<<< HEAD
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net:443/subscriptions/3312c132-fc40-493f-9c97-82d80256a313/resourceGroups/hydratestdnsrg3340/providers/Microsoft.Network/dnsOperationStatuses/delzone635955031927503710c759e765?api-version=2016-04-01"
        ],
        "x-ms-request-id": [
          "e08cc4d4-68e7-497b-8197-9d6812bfbb40"
=======
        "Cache-Control": [
          "private"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Date": [
          "Thu, 02 Jun 2016 00:10:30 GMT"
        ],
<<<<<<< HEAD
        "x-ms-correlation-request-id": [
          "3c5fe60a-6d96-47ae-a55c-0efa4a13981b"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20160406T013313Z:3c5fe60a-6d96-47ae-a55c-0efa4a13981b"
=======
        "Server": [
          "Microsoft-IIS/8.5"
        ],
        "X-Content-Type-Options": [
          "nosniff"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
<<<<<<< HEAD
        "Cache-Control": [
          "private"
        ],
        "Date": [
          "Wed, 06 Apr 2016 01:33:13 GMT"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/3312c132-fc40-493f-9c97-82d80256a313/resourceGroups/hydratestdnsrg3340/providers/Microsoft.Network/dnsOperationResults/delzone635955031927503710c759e765?api-version=2016-04-01"
        ],
        "Server": [
          "Microsoft-IIS/8.5"
=======
        "x-ms-request-id": [
          "c6dee4b2-190c-4dd6-983d-b6bd8ff69662"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "X-AspNet-Version": [
          "4.0.30319"
        ],
        "X-Powered-By": [
          "ASP.NET"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11997"
        ],
        "x-ms-correlation-request-id": [
          "2e860411-68cf-45c3-93c0-6404743bb037"
        ],
        "x-ms-routing-request-id": [
          "NORTHEUROPE:20160602T001031Z:2e860411-68cf-45c3-93c0-6404743bb037"
        ]
      },
      "StatusCode": 202
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/3312c132-fc40-493f-9c97-82d80256a313/resourceGroups/hydratestdnsrg3340/providers/Microsoft.Network/dnsOperationStatuses/delzone635955031927503710c759e765?api-version=2016-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-04-01"
        ]
=======
      "RequestUri": "/subscriptions/3cfb1b34-e5a9-4f98-bf9c-e4d69a6b170c/resourceGroups/hydratestdnsrg2837/providers/Microsoft.Network/dnszones/hydratest.dnszone.com4585?api-version=2016-04-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net:443/subscriptions/3312c132-fc40-493f-9c97-82d80256a313/resourceGroups/hydratestdnsrg3340/providers/Microsoft.Network/dnsOperationStatuses/delzone635955031927503710c759e765?api-version=2016-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11997"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/3312c132-fc40-493f-9c97-82d80256a313/resourceGroups/hydratestdnsrg3340/providers/Microsoft.Network/dnsOperationResults/delzone635955031927503710c759e765?api-version=2016-04-01"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/3312c132-fc40-493f-9c97-82d80256a313/resourceGroups/hydratestdnsrg3340/providers/Microsoft.Network/dnsOperationStatuses/delzone635955031927503710c759e765?api-version=2016-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-04-01"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "app[...]
    {
      "RequestUri": "/subscriptions/3cfb1b34-e5a9-4f98-bf9c-e4d69a6b170c/resourceGroups/hydratestdnsrg2837/providers/Microsoft.Network/dnsOperationStatuses/delzone636004230313330457b4ff286b?api-version=2016-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "Cache-Control": [
          "private"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 06 Apr 2016 01:33:43 GMT"
        ],
        "Server": [
          "Microsoft-IIS/8.5"
=======
          "Thu, 02 Jun 2016 00:11:02 GMT"
        ],
        "Transfer-Encoding": [
          "chunked"
        ],
        "Server": [
          "Microsoft-IIS/8.5"
        ],
        "Vary": [
          "Accept-Encoding"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-ms-request-id": [
          "69ad0df6-1927-43bb-a0fd-b8a3a8a9176a"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
        ],
        "X-AspNet-Version": [
          "4.0.30319"
        ],
        "X-Powered-By": [
          "ASP.NET"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11994"
        ],
        "x-ms-correlation-request-id": [
          "2c1af78b-ee76-43bd-bf95-f6ac89e2514f"
        ],
        "x-ms-routing-request-id": [
          "NORTHEUROPE:20160602T001103Z:2c1af78b-ee76-43bd-bf95-f6ac89e2514f"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "SetupSingleRecordSetTest": [
<<<<<<< HEAD
      "hydratestdnszone.com1377",
      "hydratestdnsrec4205"
    ],
    "CreateResourceGroup": [
      "hydratestdnsrg3340"
    ]
  },
  "Variables": {
    "SubscriptionId": "3312c132-fc40-493f-9c97-82d80256a313"
=======
      "hydratest.dnszone.com4585",
      "hydratestdnsrec8586"
    ],
    "CreateResourceGroup": [
      "hydratestdnsrg2837"
    ]
  },
  "Variables": {
    "SubscriptionId": "3cfb1b34-e5a9-4f98-bf9c-e4d69a6b170c"
>>>>>>> 4593b3cdf19e4591008914b508b6243b342da301
  }
}